{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>BGN</b>: <code>/layouts/partials/site/site-header.html</code></p>
{{- end }}

<div class="yp-site-headerbar">
  <div class="start">
    <a rel="home" class="yp-site-logo" title="to homepage" href="{{ site.BaseURL }}">
      <!-- link to home: http://microformats.org/wiki/rel-home -->
      <div class="placeholder img250x30">250x30 logo</div>
      <!-- vector image with bitmap fallback: https://twitter.com/scottjehl/status/369190249437483008 -->
      <!-- specify image dimensions for performance: http://www.feedthebot.com/pagespeed/image-dimensions.html -->
    </a>
  </div>
  <div class="middle">
    {{ partialCached "nav/main.html" . }}
  </div>
  <div class="end">
    {{ partialCached "widgets/search.html" . }}
  </div>
</div>

<div class="h-card yp-site-branding">
  <div class="yp-author-avatar">
    <!-- <img class="u-photo" src="/photo.jpg" alt=""> -->
    <div class="placeholder img100x100">avatar 100x100</div>
  </div>
  <div class="yp-author-info">
    <h1 class="p-name yp-site-title">
      <a href="#" class="u-url u-id"><span class="emoji">🛖</span><span class="emoji">♾️</span> Author Name <span class="emoji">🇵🇭</span><span class="emoji">🛸</span></a>
    </h1>
    <h2 class="p-note yp-site-description">
      <span class="emoji">🫶🏽</span> The author is a developer. <span class="emoji">🐦‍🔥</span>
    </h2>
    <h3 class="p-note yp-site-description2">
      <span class="emoji">🫰🏽</span> Who watches K-drama and J-drama while coding. <span class="emoji">🍋‍🟩</span>
    </h3>
  </div>
</div>

<div class="yp-widget-socials-container">
  {{ partialCached "widgets/socials.html" . }}
</div>

{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>END</b>: <code>/layouts/partials/site/site-header.html</code></p>
{{- end }}
