{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>BGN</b>: <code>/layouts/partials/site/site-footer.html</code></p>
{{- end }}

<small>
  <nav aria-label="Footer links" class="list-horizontal yp-nav-footer">
    <ol>
      <li><a>About |</a></li>
      <li><a>Terms |</a></li>
      <li><a>Privacy</a></li>
    </ol>
  </nav>

  <section aria-label="Copyright" class="copyright">
    <p>
      {{ i18n "ContentOnBGN" }} <span xmlns:dct="https://purl.org/dc/terms/" property="dct:title"><b>{{ .Site.Title }}</b></span>&#x2122; {{ i18n "copyleft" }} &#x1F12F; {{ if eq now.Year .Site.Params.siteStartYear }}{{ now.Year }}{{ else }}{{ .Site.Params.siteStartYear }}–{{ now.Year }}{{ end }} <a xmlns:cc="https://creativecommons.org/ns#" href="https://im.youronly.one" property="cc:attributionName" rel="cc:attributionURL me noopener external">
      <!-- BGN: my name -->
        <ruby class="ruby-position--under" translate="no">
          <rb>
            <ruby class="ruby-position--over">
              <rb lang="he-Latn">Yahuhanan</rb>
              <rp>(</rp>
              <rt lang="he">יהוחנן</rt>
              <rp>)</rp>
            </ruby>
          </rb>
          <rp>(</rp>
          <rt lang="ko">
            <ruby>
              <rb>요한</rb>
              <rp>(</rp>
              <rt lang="ko-Latn">yo-han</rt>
              <rp>)</rp>
            </ruby>
          </rt>
          <rp>)</rp>
        </ruby>
        &#x20;
        <ruby class="ruby-position--under" translate="no">
          <rb>
            <ruby class="ruby-position--over">
              <rb lang="ja-Latn">Yukiya</rb>
              <rp>(</rp>
              <rt lang="ja-Hani">
                <ruby>
                  <rb>雪亮</rb>
                  <rp>(</rp>
                  <rt lang="ja-Hira">ゆきあ</rt>
                  <rp>)</rp>
                </ruby>
              </rt>
              <rp>)</rp>
            </ruby>
          </rb>
          <rp>(</rp>
          <rt lang="ko">
            <ruby>
              <rb>유키야</rb>
              <rp>(</rp>
              <rt lang="ko-Latn">yu-ki-ya</rt>
              <rp>)</rp>
            </ruby>
          </rt>
          <rp>)</rp>
        </ruby>
        &#x20;
        <ruby class="ruby-position--under" translate="no">
          <rb>
            <ruby class="ruby-position--over">
              <rb lang="fil">Sèsè</rb>
              <rp>(</rp>
              <rt lang="zh-Hant">
                <ruby>
                  <rb>謝</rb>
                  <rp>(</rp>
                  <rt lang="zh-Latn">xiè</rt>
                  <rp>)</rp>
                </ruby>
              </rt>
              <rp>)</rp>
            </ruby>
          </rb>
          <rp>(</rp>
          <rt lang="ko">
            <ruby>
              <rb>사</rb>
              <rp>(</rp>
              <rt lang="ko-Latn">sa</rt>
              <rp>)</rp>
            </ruby>
          </rt>
          <rp>)</rp>
        </ruby>
        &#x20;
        <ruby class="ruby-position--under" translate="no">
          <rb>
            <ruby class="ruby-position--over">
              <rb lang="fil">Cuneta</rb>
              <rp>(</rp>
              <rt lang="fil-Tglg">
                <ruby>
                  <rb>ᜃᜓᜈᜒᜆ</rb>
                  <rp>(</rp>
                  <rt lang="fil">ku·ne·ta</rt>
                  <rp>)</rp>
                </ruby>
              </rt>
              <rp>)</rp>
            </ruby>
          </rb>
        </ruby>
        &#x20;
      <!-- END: my name -->
      </a> {{ i18n "ContentOnEND" }}
      <br/>
      {{ i18n "PermissionsBeyondScope" }} <a xmlns:cc="https://creativecommons.org/ns#" href="https://im.youronly.one/p/legal-notice/" rel="cc:morePermissions me noopener">https://im.youronly.one/p/legal-notice/</a>.
    </p>
  </section>
</small>

{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>END</b>: <code>/layouts/partials/site/site-footer.html</code></p>
{{- end }}
