{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>BGN</b>: <code>/layouts/partials/site/widgetbar02.html</code></p>
{{- end }}

{{ partial "widgets/listening.html" . }}
{{ partial "widgets/reading.html" . }}
{{ partial "widgets/watching.html" . }}

{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>END</b>: <code>/layouts/partials/site/widgetbar02.html</code></p>
{{- end }}
