{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>BGN</b>: <code>/layouts/widgets/listening.html</code></p>
{{- end }}

<p>LISTENING</p>

{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>END</b>: <code>/layouts/widgets/listening.html</code></p>
{{- end }}
