<!-- Mark search controls for enhanced a11y: http://www.w3.org/TR/wai-aria/roles#search -->
<div class="yp-widget-search">
  <form role="search" id="search" method="GET" action="https://www.example.com/search" class="yp-widget-search-form">
    <label>
      <input type="search" name="q" placeholder="keyword(s)">
    </label>
    <button>
      <span>Go</span>
    </button>
  </form>
</div>
