{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>BGN</b>: <code>/layouts/widgets/socials.html</code></p>
{{- end }}

<div class="yp-rel-me-icons">
  <a href="" rel="me">User Github</a>
  <a href="" rel="me">User Twitter</a>
  <a href="" rel="me">User Facebook</a>
</div>

{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>END</b>: <code>/layouts/widgets/socials.html</code></p>
{{- end }}
