{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>BGN</b>: <code>/layouts/widgets/translations.html</code></p>
{{- end }}

<p class="" lang="">Available in:</p>

{{/* BGN: horizontal translation menu */}}
  {{- /*
  {{- with .AllTranslations }}
    <nav aria-label="Translations (top menu)" class="list-horizontal yp-widget-translation">
      <ol>
        {{- range . }}
          {{- $languageCode := or .Language.LanguageCode .Language.Lang }}
          {{- $languageName := or .Language.LanguageName .Language.LanguageCode .Language.Lang }}
          {{- $languageIcon := .Site.Params.languageFlag }}
          <!-- /* SAMPLE / IDEAL
            <li lang="{{ $languageCode }}" title="{{ $languageName }}">
              <a class="" hreflang="{{ $languageCode }}" href="{{ .Permalink }}">
                <img class="icons" type="{{ .MediaType.Type }}" alt="{{ $languageName }}" loading="lazy" decoding="async" width="2.7%" height="2.7%" src="{{ $languageIcon }}">
                ({{ $languageName }})
              </a>
            </li>
          -->
          <li lang="{{ $languageCode }}" title="{{ $languageName }}"><a class="lang-flag-large" hreflang="{{ $languageCode }}" href="{{ .Permalink }}">{{ $languageIcon }}</a></li>
        {{- end }}
      </ol>
   </nav>
  {{- end }}
  */}}
{{/* END: horizontal translation menu */}}

{{/* BGN: vertical translation menu */}}
  {{- with .AllTranslations }}
    <nav aria-label="Translations (sidebar)" class="menu-flex yp-widget-translation">
      <menu>
        {{- range . }}
          {{- $languageCode := or .Language.LanguageCode .Language.Lang }}
          {{- $languageName := or .Language.LanguageName .Language.LanguageCode .Language.Lang }}
          {{- $languageIcon := .Site.Params.languageFlag }}
          <!-- /* SAMPLE / IDEAL
            <li lang="{{ $languageCode }}" title="{{ $languageName }}">
              <a class="" hreflang="{{ $languageCode }}" href="{{ .Permalink }}">
                <img class="icons" type="{{ .MediaType.Type }}" alt="{{ $languageName }}" loading="lazy" decoding="async" width="2.7%" height="2.7%" src="{{ $languageIcon }}">
                ({{ $languageName }})
              </a>
            </li>
          -->
          <li lang="{{ $languageCode }}" title="{{ $languageName }}"><a class="" hreflang="{{ $languageCode }}" href="{{ .Permalink }}">{{ $languageIcon }} {{ $languageName }}</a></li>
        {{- end }}
      </menu>
   </nav>
  {{- end }}
{{/* END: vertical translation menu */}}

{{- /*
<br/><br/>
<nav aria-label="Translations" class="menu-flex yp-widget-translation">
  <menu>
    <!-- NOTES:
      * We added `width` and `height` in case the user disabled CSS.
      * It will prevent the SVG `img` from displaying its default size.
      * If CSS is enabled, it takes priority.
    -->
    <li lang="en-PH" title="Philippine English"><img class="icons" type="image/svg+xml" alt="Philippine English" loading="lazy" decoding="async" width="2.7%" height="2.7%" src="/img/icons/lang-icon-latin.svg">Philippine English</li>
    <li lang="fil" title="Filipino"><img class="icons" type="image/svg+xml" alt="Filipino" loading="lazy" decoding="async" width="2.7%" height="2.7%" src="/img/icons/lang-icon-latin.svg">Filipino</li>
    <li lang="tl-Tglg" title="ᜊᜌ᜔ᜊᜌᜒᜈ᜔ ᜆᜄᜎᜓᜄ᜕"><img class="icons" type="image/svg+xml" alt="ᜊᜌ᜔ᜊᜌᜒᜈ᜕" loading="lazy" decoding="async" width="2.7%" height="2.7%" src="/img/icons/lang-icon-baybayin.svg">ᜊᜌ᜔ᜊᜌᜒᜈ᜔ ᜆᜄᜎᜓᜄ᜕</li>
    <li lang="ko" title="한국어"><img class="icons" type="image/svg+xml" alt="한국어" loading="lazy" decoding="async" width="2.7%" height="2.7%" src="/img/icons/lang-icon-hangeul.svg">한국어</li>
    <li lang="ja" title="日本語"><img class="icons" type="image/svg+xml" alt="日本語" loading="lazy" decoding="async" width="2.7%" height="2.7%" src="/img/icons/lang-icon-katakana.svg">日本語</li>
  </menu>
</nav>
*/}}

{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>END</b>: <code>/layouts/widgets/translations.html</code></p>
{{- end }}
