{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>BGN</b>: <code>/layouts/widgets/updated.html</code></p>
{{- end }}

{{- /*
  See: https://gohugo.io/methods/page/lastmod/
*/}}
<p>Updated articles:</p>

{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>END</b>: <code>/layouts/widgets/updated.html</code></p>
{{- end }}
