{{- /* NOTE: done */}}
    <meta name="theme-color" content="{{ .Site.Params.themeColor | default `#000` }}" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="{{ .Site.Params.themeColor | default `#fff` }}" media="(prefers-color-scheme: light)">
    {{ with resources.Get "favicon/browserconfig.xml" }}
      {{- $browserconfigxml := . | resources.ExecuteAsTemplate "favicon/browserconfig.xml" . | fingerprint "sha512" }}
      <meta name="msapplication-config" content="{{ $browserconfigxml.Permalink }}" integrity="{{ $browserconfigxml.Data.Integrity }}">
    {{- end }}
    {{ with resources.Get "favicon/favicon.svg" }}
      {{- $faviconsvg := . | fingerprint "sha512" }}
      <link rel="icon" type="{{ $faviconsvg.MediaType }}" sizes="any" crossorigin href="{{ $faviconsvg.RelPermalink }}" integrity="{{ $faviconsvg.Data.Integrity }}">
    {{- end }}
    {{ with resources.Get "favicon/android-chrome-192x192.png" }}
      {{- $androidchrome192png := . | fingerprint "sha512" }}
      <link rel="icon" type="{{ $androidchrome192png.MediaType }}" sizes="192x192" crossorigin href="{{ $androidchrome192png.RelPermalink }}" integrity="{{ $androidchrome192png.Data.Integrity }}">
    {{- end }}
    {{ with resources.Get "favicon/apple-touch-icon.png" }}
      {{- $appletouchiconpng := . | fingerprint "sha512" }}
      <link rel="apple-touch-icon" type="{{ $appletouchiconpng.MediaType }}" sizes="180x180" crossorigin href="{{ $appletouchiconpng.RelPermalink }}" integrity="{{ $appletouchiconpng.Data.Integrity }}">
    {{- end }}
    {{ with resources.Get "favicon/favicon-32x32.png" }}
      {{- $favicon32png := . | fingerprint "sha512" }}
      <link rel="icon" type="{{ $favicon32png.MediaType }}" sizes="32x32" crossorigin href="{{ $favicon32png.RelPermalink }}" integrity="{{ $favicon32png.Data.Integrity }}">
    {{- end }}
    {{ with resources.Get "favicon/favicon-16x16.png" }}
      {{- $favicon16png := . | fingerprint "sha512" }}
      <link rel="icon" type="{{ $favicon16png.MediaType }}" sizes="16x16" crossorigin href="{{ $favicon16png.RelPermalink }}" integrity="{{ $favicon16png.Data.Integrity }}">
    {{- end }}
    {{ with resources.Get "favicon/safari-pinned-tab.svg" }}
      {{- $safaripinnedtabsvg := . | fingerprint "sha512" }}
      <link rel="mask-icon" type="{{ $safaripinnedtabsvg.MediaType }}" color="#5bbad5" crossorigin href="{{ $safaripinnedtabsvg.RelPermalink }}" integrity="{{ $safaripinnedtabsvg.Data.Integrity }}">
    {{- end }}
    {{ with resources.Get "favicon/favicon.ico" }}
      {{- $faviconico := . | fingerprint "sha512" }}
      <link rel="shortcut icon" type="{{ $faviconico.MediaType }}" crossorigin href="{{ $faviconico.RelPermalink }}" integrity="{{ $faviconico.Data.Integrity }}">
    {{- end }}
    {{ with site.Params.favicon_mstilecolor }}<meta name="msapplication-TileColor" content="{{ . }}">{{- end }}
    <meta name="application-name" content="{{ site.Title }}">
    <meta name="apple-mobile-web-app-title" content="{{ site.Title }}">
