{{/* NOTE: done */}}
    <meta name="DC.title" content="{{ site.Title }}">
    <meta name="geo.region" content="{{ site.Params.geotags.region }}">
    <meta name="geo.placename" content="{{ site.Params.geotags.placename }}">
    <meta name="geo.position" content="{{ site.Params.geotags.poslat }};{{ site.Params.geotags.poslong }}">
    <meta name="ICBM" content="{{ site.Params.geotags.poslat }}, {{ site.Params.geotags.poslong }}">
