{{- /* NOTE: almost done, check again later */}}
{{- $iso8601 := "2006-01-02T15:04:05Z07:00" }}
{{- $keywords := "" }}
{{- if .Params.keywords }}
  {{- $keywords = delimit .Params.keywords ", " | safeHTML }}
{{- else if or .Params.tags .Params.categories }}
  {{- $keywords = delimit (apply (union .Params.tags .Params.categories) "chomp" ".") ", " | safeHTML }}
{{- else }}
  {{- $keywords = delimit site.Params.keywords ", " | safeHTML }}
{{- end }}
    <meta name="robots" content="{{ with (.Param `metarobots`) }}{{ . }}{{ end }}">
    {{- with or .Lastmod .PublishDate .Date }}<meta name="modified" content="{{ .UTC.Format $iso8601 | safeHTML }}">{{- end }}
    {{- with or .PublishDate .Date .Lastmod }}<meta name="created" content="{{ .UTC.Format $iso8601 | safeHTML }}">{{- end }}
    <link rel="license" href="{{ .Param `license` }}">

    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ site.Title }}{{ end }}</title>

    {{- /* TODO:
          * should we use .Summary? If we will, then limit it to a certain max characters.
    */}}
    {{ with (.Param "description") }}<meta name="description" content="{{ . | plainify }}"{{ if $.IsPage }} class="p-summary"{{ end }}>{{- end }}

    {{- $authors := "" }}
    <meta name="author" content="{{ $authors }}">
    {{ with $keywords }}<meta name="keywords" content="{{ . }}">{{- end }}

    {{- /* partial "schemas/semweb.html" . */}}
    {{- /* partial "schemas/schema_Global.html" . */}}
    {{- with site.Params.social.fediverse_creator -}}<meta name="fediverse:creator" content="{{ . }}">{{- end -}}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    {{ with resources.Get "site.webmanifest" }}
      {{- $sitewebmanifest := resources.Get "site.webmanifest" | resources.ExecuteAsTemplate "site.webmanifest" . | resources.Fingerprint "sha512" }}
      <link rel="manifest" crossorigin href="{{ $sitewebmanifest.RelPermalink }}" integrity="{{ $sitewebmanifest.Data.Integrity }}">
    {{- end }}
