{{- /* NOTE: done */}}
    <link rel="alternate" type="application/activity+json" href="https://fed.brid.gy/r/{{ .Permalink }}">
    {{- /* <link rel="alternate" type="application/activity+json" href="https://web.brid.gy/r/{{ .Permalink }}"> */}}
    {{- range site.Params.websubhubs }}
      <link rel="hub" href="{{ . }}">
    {{- end }}
    <link rel="webmention" href="{{ site.Params.indieweb.webmention }}">
    <link rel="pingback" href="{{ site.Params.indieweb.pingback }}">
    <link rel="indieauth-metadata authorization_endpoint" href="{{ site.Params.indieweb.indieauth }}">
    <link rel="openid.delegate" href="{{ site.Params.indieweb.openid.delegate }}">
    <link rel="openid.server" href="{{ site.Params.indieweb.openid.server }}">
