<!-- Enable styling differentation between JavaScript and non-JavaScript enabled browsers -->
    <script type="module">
      document.documentElement.classList.remove('no-js');
      document.documentElement.classList.add('js');
    </script>
    <script type="nomodule">
      ( function (e) {
          e.className = e.className.replace('no-js', 'js');
        }
        (document.documentElement)
      );
    </script>
