{{- /*
  NOTES:
    * keep it `.Site.Language.`
      * `hreflang` won't work correctly with `site.Language.`
*/}}
{{ if .IsTranslated }}
  {{- range .AllTranslations }}
    <link rel="alternate" hreflang="{{ or .Site.Language.LanguageCode .Site.Language.Lang }}" href="{{ .Permalink }}">
  {{- end }}
  {{- range first 1 .AllTranslations }}
    <link rel="alternate" hreflang="x-default" href="{{ .Permalink }}">
  {{- end }}
{{- end }}
{{- range .AlternativeOutputFormats }}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type | html }}" href="{{ .Permalink | safeURL }}">
{{- end }}
    <link rel="self" href="{{ .Permalink }}">
