{{- /* NOTE: done */}}
    {{ with site.Params.verifications.flattr }}<meta name="flattr:id" content="{{ . }}">{{- end }}
    {{ with site.Params.verifications.followit }}<meta name="follow.it-verification-code" content="{{ . }}">{{- end }}
    {{ with site.Params.verifications.google }}<meta name="google-site-verification" content="{{ . }}">{{- end }}
    {{ with site.Params.verifications.microsoft }}<meta name="msvalidate.01" content="{{ . }}">{{- end }}
    {{ with site.Params.verifications.naver }}<meta name="naver-site-verification" content="{{ . }}">{{- end }}
    {{ with site.Params.verifications.ocs }}<meta name="ocs-site-verification" content="{{ . }}">{{- end }}
    {{ with site.Params.verifications.pinterest }}<meta name="p:domain_verify" content="{{ . }}">{{- end }}
    {{ with site.Params.verifications.wot }}<meta name="wot-verification" content="{{ . }}">{{- end }}
    {{ with site.Params.verifications.yandex }}<meta name="yandex-verification" content="{{ . }}">{{- end }}
