{{- with and site.Params.analytics.microanalyticsio hugo.IsProduction -}}
  <script type="text/javascript" id="{{ . }}" src="https://microanalytics.io/js/script.js" data-host="https://microanalytics.io" data-dnt="true"></script>
{{- end -}}

{{- with and site.Params.analytics.swetrix hugo.IsProduction -}}
  {{- $swetrixjs := resources.Get "js/analytics-swetrix.js" | js.Build ( dict "params" ( dict "swetrixid" . ) ) -}}
  {{- $swetrixjs = $swetrixjs | minify | fingerprint "sha512" -}}
  <script type="text/javascript" src="https://swetrix.org/swetrix.js"></script>
  <script type="{{ $swetrixjs.MediaType }}" crossorigin src="{{ $swetrixjs.RelPermalink }}" integrity="{{ $swetrixjs.Data.Integrity }}"></script>
  {{/* <noscript><img referrerpolicy="no-referrer-when-downgrade" src="https://api.swetrix.com/log/noscript?pid={{ . }}" alt=""></noscript> */}}
{{- end -}}

{{- with and site.Params.analytics.counterdev hugo.IsProduction -}}
  {{- $counterdevjs := resources.Get "js/analytics-counterdev.js" | js.Build ( dict "params" ( dict "counterdevid" . ) ) -}}
  {{- $counterdevjs = $counterdevjs | minify | fingerprint "sha512" -}}
  <script type="{{ $counterdevjs.MediaType }}" crossorigin src="{{ $counterdevjs.RelPermalink }}" integrity="{{ $counterdevjs.Data.Integrity }}"></script>
{{- end -}}

{{- with and site.Params.analytics.cfwebanalytics hugo.IsProduction -}}
  <script type="text/javascript" crossorigin src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "{{ . }}"}'></script>
{{- end -}}

{{- with and site.Params.analytics.naver hugo.IsProduction -}}
  <script type="text/javascript" src="https://wcs.naver.net/wcslog.js"></script>
  {{- /* NOTE: Naver Analytics will only work if inline and the actual code is retained.
      - Tested:
        - external JS
        - embedding Hugo processed JS (with params)
  */ -}}
  <script type="text/javascript">
    if(!wcs_add) var wcs_add = {};
    wcs_add["wa"] = "{{ . }}";
    if(window.wcs) {
      wcs_do();
    }
  </script>
{{- end -}}

{{- with and site.Params.analytics.microsoftclarity hugo.IsProduction -}}
  {{- $msftclarityjs := resources.Get "js/analytics-msftclarity.js" | js.Build ( dict "params" ( dict "msftclarityid" . ) ) -}}
  {{- $msftclarityjs = $msftclarityjs | minify | fingerprint "sha512" -}}
  <script type="{{ $msftclarityjs.MediaType }}" crossorigin src="{{ $msftclarityjs.RelPermalink }}" integrity="{{ $msftclarityjs.Data.Integrity }}"></script>
{{- end -}}
