{{- /*
  * See: https://gohugo.io/content-management/mathematics/
*/}}
<script type="text/javascript" id="MathJax-script" async fetchpriority="auto" crossorigin src="{{ site.Params.mathsrc }}"></script>
<script>
  MathJax = {
    tex: {
      displayMath: [['\\[', '\\]'], ['$$', '$$']],  // block
      inlineMath: [['\\(', '\\)']]                  // inline
    }
  };
</script>
