{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>BGN</b>: <code>/layouts/misc/contact.html</code></p>
{{- end }}

{{- /*
  See: https://gohugo.io/templates/lookup-order/#target-a-template
*/}}
This is a contact page.

{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>END</b>: <code>/layouts/misc/contact.html</code></p>
{{- end }}
