@charset "UTF-8";

/**************
** BGN: base **
**************/
  :root {
    /**
      * NOTES:
      *   - Make changes here.
      *   - Do not add generic fallback.
      *     - Already added in the font-family property.
      *     - Also opens up a slot for your custom fallback.
    **/
    /* BGN: font-family */
      --font-sans-serif: var(--font-sans-noto);
      --font-serif: var(--font-serif-noto);
      --font-monospace: var(--font-mono-sans-noto);
      --font-fantasy: var(--font-barabara-fantasy, var(--font-serif-noto));

      --font-zhs-sans-serif: var(--font-zhs-sans-noto);
      --font-zht-sans-serif: var(--font-zht-sans-noto);
      --font-fangsong-zhs-sans-serif-rotated: var(--font-fangsong-zhs-sans-noto-rotated);
      --font-fangsong-zhs-sans-serif-vertical: var(--font-fangsong-zhs-sans-noto-vertical);

      --font-ja-sans-serif: var(--font-ja-sans-noto);
      --font-ko-sans-serif: var(--font-ko-sans-noto);

      --font-hebrew-sans-serif: var(--font-hebrew-sans-noto);
      --font-hebrew-serif: var(--font-hebrew-serif-noto);

      --font-greek-sans-serif: var(--font-greek-sans-noto);
      --font-greek-serif: var(--font-greek-serif-noto);

      --font-math: var(--font-math-sans-noto);
      --font-music: var(--font-music-noto);

      --font-emoji: var(--font-emoji-twemoji, var(--font-emoji-emoji, var(--font-emoji-noto, var(--font-emoji-fallback))));
    /* END: font-family */

    /* BGN: colours */
      --body-background-color: var(--color-black);
      --body-text-color: var(--color-green);

      --link-decoration-color: var(--color-green);
      --link-decoration-line: overline underline;
      --link-decoration-style: dashed;
      --link-decoration-thickness: from-font;

      --headings-text-color: var(--color-lime);
      --headings-text-shadow-color: var(--color-green);

      --p-first-letter-text-color: var(--color-lime);
      --p-first-letter-text-fill-color: var(--color-black);
      --p-first-letter-text-shadow-color: var(--color-lime);
      --p-first-letter-text-stroke-color: var(--color-green);
    /* END: colours */

    /* TODO: Hugo params setting
      --font-sans: "";
      --font-serif: "";
      --font-mono: "";
      */
  }
/**************
** END: base **
**************/

/**********************
** BGN: Font classes **
**********************/
  /* BGN: Latin script */
    .font-sans-noto {
      direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
      font-family: var(--font-sans-noto, sans-serif);
    }
    .font-serif-noto {
      direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
      font-family: var(--font-serif-noto, serif);
    }
    .font-mono-sans-noto {
      direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
      font-family: var(--font-mono-sans-noto, monospace);
    }
  /* END: Latin script */

  /* BGN: Chinese */
    .font-zhs-sans-noto { /* Simplified Hanzi */
      direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
      font-family: var(--font-zhs-sans-noto, sans-serif);
    }
    .font-zht-sans-noto { /* Traditional Hanzi */
      direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
      font-family: var(--font-zht-sans-noto, sans-serif);
    }
    .font-fangsong-zhs-sans-noto-rotated { /* fangsong rotated */
      font-family: var(--font-fangsong-zhs-sans-noto-rotated, sans-serif);
    }
    .font-fangsong-zhs-sans-noto-vertical { /* fangsong vertical */
      font-family: var(--font-fangsong-zhs-sans-noto-vertical, sans-serif);
    }
  /* END: Chinese */

  /* BGN: Japanese */
    .font-ja-sans-noto {
      direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
      font-family: var(--font-ja-sans-noto, sans-serif);
    }
  /* END: Japanese */

  /* BGN: Korean */
    .font-ko-sans-noto {
      direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
      font-family: var(--font-ko-sans-noto, sans-serif);
    }
  /* END: Korean */

  /* BGN: Hebrew */
    .font-hebrew-sans-noto {
      direction: rtl; /* Be sure to also set dir="rtl" in HTML. */
      font-family: var(--font-hebrew-sans-noto, sans-serif); /* combined; different Unicode points */
    }
    .font-hebrew-serif-noto {
      direction: rtl; /* Be sure to also set dir="rtl" in HTML. */
      font-family: var(--font-hebrew-serif-noto, serif);
    }
    .font-hebrew-sans-paleo-gezer {
      direction: rtl; /* Be sure to also set dir="rtl" in HTML. */
      font-family: var(--font-hebrew-sans-paleo-gezer, sans-serif);
    }
    .font-hebrew-sans-proto-canaanite {
      direction: rtl; /* Be sure to also set dir="rtl" in HTML. */
      font-family: var(--font-hebrew-sans-proto-canaanite, sans-serif);
    }
  /* END: Hebrew */

  /* BGN: Greek */
    .font-greek-sans-noto {
      direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
      font-family: var(--font-sans-noto, sans-serif);
    }
    .font-greek-serif-noto {
      direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
      font-family: var(--font-serif-noto, serif);
    }
  /* END: Greek */

  /* BGN: Pilipino */
    .font-baybayin-sans-noto {
      direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
      font-family: var(--font-baybayin-sans-noto, sans-serif); /* combined; different Unicode points */
    }
    .font-baybayin-nordenx {
      direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
      font-family: var(--font-baybayin-nordenx, sans-serif); /* combined; different Unicode points */
    }
    .font-barabara-fantasy {
      direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
      font-family: var(--font-barabara-fantasy, fantasy);
    }
  /* END: Pilipino */

  /* BGN: Math and music */
    .font-math-sans-noto {
      font-family: var(--font-math-sans-noto, math); /* combined; different Unicode points */
    }
    .font-music-noto {
      font-family: var(--font-music-noto); /* combined; different Unicode points */
    }
  /* END: Math and music */

  /* BGN: emoji */
    .font-emoji-twemoji {
      font-family: var(--font-emoji-twemoji, emoji);
    }
    .font-emoji-noto {
      font-family: var(--font-emoji-noto, emoji);
    }
  /* END: emoji */
/**********************
** END: Font classes **
**********************/

/********************
** BGN: containers **
********************/
  .site-container {
    min-inline-size: 98%; max-inline-size: 98%;
    margin-inline: auto; margin-block: 0;
  }
  .site-header {
    /* display: block flex; */
    /* flex-wrap: wrap; */
    min-inline-size: 100%; max-inline-size: 100%;
    margin-inline: auto; margin-block: 0;
  }
  .main-wrapper {
    display: block grid;
    align-items: start;
    gap: 0 10px;
    grid-template-columns: minmax(0,auto) minmax(0,15.625rem); /* = 250px */
    grid-template-rows: 1fr;
    grid-template-areas:
      "main sidebar-right";
  }
  .sidebar-inline-start-container {
    grid-area: sidebar-right;
    display: block grid;
    gap: 10px 0;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content;
    grid-template-areas:
      "sidebar-inline-start--top"
      "sidebar-inline-start--middle"
      "sidebar-inline-start--bottom";
  }

  .sidebar-inline-end-container {
    grid-area: sidebar-right;
    display: block grid;
    gap: 10px 0;
    grid-template-columns: 1fr;
    grid-template-rows: fit-content auto;
    grid-template-areas:
      "sidebar-inline-end--top"
      "sidebar-inline-end--middle"
      "sidebar-inline-end--bottom";
  }

  .sidebar-inline-start--top,
  .sidebar-inline-end--top {
    grid-area: sidebar-inline-end--top;
    border-inline-color: var(--color-magenta); border-block-color: var(--color-magenta);
    border-inline-style: solid; border-block-style: solid;
    border-inline-width: 1px; border-block-width: 1px;
  }
  .sidebar-inline-start--middle,
  .sidebar-inline-end--middle {
    grid-area: sidebar-inline-end--middle;
    border-inline-color: var(--color-green); border-block-color: var(--color-green);
    border-inline-style: solid; border-block-style: solid;
    border-inline-width: 1px; border-block-width: 1px;
  }
  .sidebar-inline-start--bottom,
  .sidebar-inline-end--bottom {
    grid-area: sidebar-inline-end--bottom;
    border-inline-color: var(--color-aqua); border-block-color: var(--color-aqua);
    border-inline-style: solid; border-block-style: solid;
    border-inline-width: 1px; border-block-width: 1px;
  }

  .main-content {
    grid-area: main;
    min-inline-size: 100%; max-inline-size: 100%;
  }
  .main-content > .post {
    min-inline-size: 100%; max-inline-size: 100%;
  }
  .site-footer {
    min-inline-size: 100%; max-inline-size: 100%;
  }
/********************
** END: containers **
********************/

/*********************
** BGN: site-topbar **
*********************/
  .site-topbar {
    display: block flex;
      flex-wrap: nowrap;
    align-items: center;
    border-inline-color: var(--color-green); border-block-color: var(--color-green);
    border-inline-style: solid; border-block-style: double;
    border-inline-width: 4px; border-block-width: 4px;
    min-block-size: 100%; max-block-size: 100%;
    padding-inline: 5px; padding-block: 5px;
  }
  .site-topbar > .left,
  .site-topbar > .middle,
  .site-topbar > .right {
    flex: 1;
  }
  .site-topbar > .left {
    text-align: start;
  }
  .site-topbar > .middle {
    text-align: center;
  }
  .site-topbar > .right {
    text-align: end;
  }

  .site-topbar .site-logo {
    block-size: 40px; inline-size: 40px;
  }
  .site-topbar .item {
    display: inline flow-root;
    font-size: 20px;
    padding-inline: 16px; padding-block: 16px;
  }
/*********************
** END: site-topbar **
*********************/

/********************
** BGN: navigation **
********************/
  /* BGN: skipnav */
    .skipnav {
      background-color: var(--color-indigo-dye);
      font-weight: 700;
      inset-inline-start: 40%;
      padding-inline: 4px; padding-block: 4px;
      position: absolute; box-sizing: content-box;
      transform: translateY(-100%);
      transition: transform 0.3s;
      z-index: 1;
    }
    .skipnav:focus {
      transform: translateY(0%);
    }
    .skipnav:focus-within {
      transform: translateY(0%);
    }
  /* END: skipnav */

  .test-menu {
    display: inline flow-root;
    list-style: none;
    padding-inline: 0; padding-block: 0;
  }
  .main-menu {
    /* display: block flow-root; */
    /* margin-inline: auto; margin-block: 0; */
    /* padding-inline: 0; padding-block: 120px 0; */
    /* text-align: center; */
    /* inline-size: 100%; */
  }
  .main-menu ul {
    margin-inline: 0; margin-block: 0;
  }
  .main-menu ul li {
    border-inline-start: 2px solid #3ca0e7; /* TODO: colour */
    display: inline flow-root;
    list-style: none;
    /* margin-inline: auto; margin-block: 0; */
    /* padding-inline: 20px: padding-block: 0; */
    position: relative; box-sizing: content-box;
    /* text-align: center; */
    /* text-decoration: none; */
  }

  .main-menu li a {
  }
  .main-menu li a:hover {
    color: #3ca0e7; /* TODO: colour */
  }
  .main-menu li:hover {
    cursor: pointer;
  }

  .main-menu ul li ul {
    background-color: var(--color-black);
    display: none;
    inset-inline-start: 0;
    opacity: 0;
    padding-inline-start: 0;
    position: absolute; box-sizing: content-box;
    visibility: hidden;
  }
  .main-menu ul li:hover > ul,
  .main-menu ul li ul:hover {
    box-shadow: 0px 3px 5px -1px var(--color-white);
    display: block flow-root;
    opacity: 1;
    min-inline-size: 250px;
    padding-block-start: 20px;
    text-align: start;
    visibility: visible;
  }
  .main-menu ul li ul li {
    border-inline-style: none; border-block-style: none;
    clear: both;
    inline-size: 100%;
    margin-block-end: 20px;
    text-align: start;
  }
  .main-menu ul li ul li a:hover {
    border-inline-start: 2px solid #3ca0e7; /* TODO: colour */
    padding-inline-start: 10px;
    transition: all 0.3s ease;
  }
  .nav-breadcrumbs {
    min-inline-size: 100%; max-inline-size: 100%;
  }
/********************
** END: navigation **
********************/

.search-menu-form {
  display: inline flow-root;
  inline-size: max-content;
}


/* BGN: .post styles */
  /* .post__header exclusive */
  .post__header {}
  .post__header > .post-title {}
  .post__header .post__cover--featured {}
  .post__header .post__video--featured {}
  .post__header > .post-meta {}

  .post-summary {}
  .post-content {}
  .post__image {}

  /* .post__footer exlusive */
  .post__footer {}
  .post__footer > .post-meta {}

  /* can be moved around */
  .post-author {}
  .post-author__image {}
  .post-time--published {}
  .post-time--updated {}
  .post-taxonomy--category {}
  .post-taxonomy--tag {}
/* END: .post styles */

/* BGN: figcaption */
  figure > figcaption > p {}
/* END: figcaption */


.post-header {
  border: 4px double green;
  border-radius: 10px;
  padding-inline: 7px;
  padding-block: 0 5px;
}
.post-content {
  border: 4px double green;
  border-radius: 10px;
  padding-inline: 7px;
  padding-block: 0 5px;
}

.site-description {
  font-family: "Bungee Spice", sans-serif;
}
.site-description2 {
  font-family: "Honk", system-ui;
}

.site-footer {
  border: 4px double green;
  border-radius: 20px;
  margin-block-end: 10px;
  text-align: center;
}



/***************************
** BGN: test classes only **
***************************/
  .placeholder {
  }
  .placeholder.img250x30 {
    background-color: var(--headings-text-color);
    inline-size: 250px; block-size: 30px;
  }
  .placeholder.img100x100 {
    background-color: var(--headings-text-color);
    inline-size: 100px; block-size: 100px;
  }
  h1, h2, h3, h4, h5, h6
  {
    color: var(--headings-text-color);
    /* outline: 1px solid orange; */
    text-shadow: 1px 1px 2px var(--headings-text-shadow-color);
  }
  h1 + p::first-letter,
  h2 + p::first-letter,
  h3 + p::first-letter,
  h4 + p::first-letter,
  h5 + p::first-letter,
  h6 + p::first-letter {
    color: var(--p-first-letter-text-color);
    font-size: 2.0rem;
    font-weight: 700;
    -webkit-text-fill-color: var(--p-first-letter-text-fill-color);
    text-shadow:
       1.5px  1.4px 0 var(--p-first-letter-text-shadow-color),
      -1.0px -1.0px 0 var(--p-first-letter-text-shadow-color),
       1.0px -1.0px 0 var(--p-first-letter-text-shadow-color),
      -1.0px  1.0px 0 var(--p-first-letter-text-shadow-color),
       1.0px  1.0px 0 var(--p-first-letter-text-shadow-color);
    -webkit-text-stroke: 1.4px var(--p-first-letter-text-stroke-color);
  }
  h1 + p::first-letter,
  h2 + p::first-letter,
  h3 + p::first-letter,
  h4 + p::first-letter,
  h5 + p::first-letter,
  h6 + p::first-letter {
    font-family: var(--font-fantasy, fantasy);
  }
  h1 + p::first-line,
  h2 + p::first-line,
  h3 + p::first-line,
  h4 + p::first-line,
  h5 + p::first-line,
  h6 + p::first-line {
    /* font-variant-caps: small-caps; */
  }
/***************************
** END: test classes only **
***************************/

.sidebar-inline-end--top > nav > ul {
  list-style-type: none;
  padding-inline-start: 0.7rem;
}
.sidebar-inline-end--top > nav img {
  display: inline flow-root;
  inline-size: 1em;
  block-size: 1em;
  margin-inline-end: 0.25em;
}
