@charset "UTF-8";
/*******************************************************************************
** YourOnly.One vars (youronlyone-vars.css)                                   **
**                                                                            **
** - by Yohan Yukiya Sese-Cuneta (https://im.youronly.one); Yelosan Publishing          **
*******************************************************************************/

  :root {
    /* BGN: COLOUR VARS */
      --color-black-bg: oklch(0% 0 0 / 0.25);
      --color-black: oklch(0% 0 0);

      --color-grey-light-bg: oklch(86.69% 0 0 / 0.20);
      --color-grey-light: oklch(86.69% 0 0);

      --color-silver-bg: oklch(80.78% 0 0 / 0.20);
      --color-silver: oklch(80.78% 0 0);

      --color-white-bg: oklch(100% 0 0 / 0.5);
      --color-white: oklch(100% 0 0);

      --color-red-bg: oklch(62.8% 0.2577 29.2339 / 0.20);
      --color-red: oklch(62.8% 0.2577 29.2339);

      --color-lime-bg: oklch(86.64% 0.2948 142.4953 / 0.20);
      --color-lime: oklch(86.64% 0.2948 142.4953);

      --color-green-bg: oklch(51.98% 0.1769 142.4953 / 0.25);
      --color-green: oklch(51.98% 0.1769 142.4953);

      --color-blue-bg: oklch(45.2% 0.3132 264.0520 / 0.35);
      --color-blue: oklch(45.2% 0.3132 264.0520);

      --color-indigo-dye-bg: oklch(36.26% 0.091 244.97 / 0.35);
      --color-indigo-dye: oklch(36.26% 0.091 244.97);

      --color-blue-midnight-bg: oklch(28.81% 0.144 272.76 / 0.5);
      --color-blue-midnight: oklch(28.81% 0.144 272.76);

      --color-aqua-bg: oklch(90.54% 0.1546 194.7689 / 0.20);
      --color-aqua: oklch(90.54% 0.1546 194.7689);

      --color-magenta-bg: oklch(70.17% 0.322 328.36 / 0.22);
      --color-magenta: oklch(70.17% 0.322 328.36);

      --color-yellow-bg: oklch(96.8% 0.2110 109.7692 / 0.22);
      --color-yellow: oklch(96.8% 0.2110 109.7692);

      --color-orange-bg: oklch(79.27% 0.171 70.67 / 0.22);
      --color-orange: oklch(79.27% 0.171 70.67);

      --color-gold-bg: oklch(88.68% 0.182 95.33 / 0.20);
      --color-gold: oklch(88.68% 0.182 95.33);

      --color-pink-bg: oklch(86.77% 0.0735 7.0855 / 0.35);
      --color-pink: oklch(86.77% 0.0735 7.0855);

      --color-brown-bg: oklch(64.89% 0.07 58.55 / 0.20);
      --color-brown: oklch(64.89% 0.07 58.55);

      --color-brown-medium-dark-bg: oklch(63.08% 0.081 59.89 / 0.20);
      --color-brown-medium-dark: oklch(63.08% 0.081 59.89);

      --color-facebook-bg: oklch(52.56% 0.126 262.79 / 0.25);
      --color-facebook: oklch(52.56% 0.126 262.79);

      --color-twitter-bg: oklch(64.02% 0.148 243.45 / 0.25);
      --color-twitter: oklch(64.02% 0.148 243.45);

      --color-googleplus-bg: oklch(60.38% 0.187 28.96 / 0.25);
      --color-googleplus: oklch(60.38% 0.187 28.96);

      --color-ubuntu-bg: oklch(64.26% 0.193 38.26 / 0.25);
      --color-ubuntu: oklch(64.26% 0.193 38.26);

      --color-mastodon-bg: oklch(63.31% 0.142 245.03 / 0.25);
      --color-mastodon: oklch(63.31% 0.142 245.03);

      --color-hubzilla-bg: oklch(42.87% 0.109 277.68 / 0.25);
      --color-hubzilla: oklch(42.87% 0.109 277.68);

      --color-cgm-bg: oklch(66.01% 0.184 280.08 / 0.25);
      --color-cgm: oklch(66.01% 0.184 280.08);
    /* END: COLOUR VARS */

    /* BGN: FONT VARS */
      --font-sans-noto: "noto-sans", "Noto Sans";
      --font-serif-noto: "noto-serif", "Noto Serif";
      --font-mono-sans-noto: "noto-sans-mono", "Noto Sans Mono", "Noto Mono";

      --font-zhs-sans-noto: "noto-sans", "Noto Sans", "Noto Sans CJK SC", "Noto Sans SC";
      --font-zht-sans-noto: "noto-sans", "Noto Sans", "Noto Sans CJK TC", "Noto Sans TC";
      --font-fangsong-zhs-sans-noto-rotated: "noto-sans", "Noto Sans", "Noto Fangsong KSS Rotated";
      --font-fangsong-zhs-sans-noto-vertical: "noto-sans", "Noto Sans", "Noto Fangsong KSS Vertical";

      --font-ja-sans-noto: "noto-sans", "Noto Sans", "Noto Sans CJK JP", "Noto Sans JP";
      --font-ko-sans-noto: "noto-sans", "Noto Sans", "Noto Sans CJK KR", "Noto Sans KR";

      --font-hebrew-sans-noto: "noto-sans", "Noto Sans", "phoenician-sans-noto", "Noto Sans Phoenician", "hebrew-sans-noto", "Noto Sans Hebrew"; /* Different Unicode blocks. */
      --font-hebrew-serif-noto: "noto-serif", "Noto Serif", "hebrew-serif-noto", "Noto Serif Hebrew";
      --font-hebrew-sans-paleo-gezer: "noto-sans", "Noto Sans", "hebrew-sans-paleo-gezer";
      --font-hebrew-sans-proto-canaanite: "noto-sans", "Noto Sans", "hebrew-sans-proto-canaanite";

      --font-greek-sans-noto: "";
      --font-greek-serif-noto: "";

      --font-baybayin-sans-noto: "noto-sans", "Noto Sans", "baybayin-noto", "Noto Sans Buhid", "Noto Sans Hanunoo", "Noto Sans Tagalog", "Noto Sans Tagbanwa"; /* Different Unicode blocks. */
      --font-baybayin-nordenx: "baybayin-nordenx"; /* subset font */
      --font-barabara-fantasy: "barabara";

      --font-math-sans-noto: "noto-sans", "Noto Sans", "noto-sans-math", "Noto Sans Math", "Noto Math", "noto-sans-symbols2", "Noto Sans Symbols 2", "noto-sans-symbols", "Noto Sans Symbols";
      --font-music-noto: "noto-sans", "Noto Sans", "noto-music", "Noto Music", "noto-sans-symbols2", "Noto Sans Symbols 2", "noto-sans-symbols", "Noto Sans Symbols";

      --font-emoji-fallback: "Apple Color Emoji", "Segoe UI Emoji", "noto-sans-symbols2", "Noto Sans Symbols 2", "noto-sans-symbols", "Noto Sans Symbols";
      --font-emoji-noto: "Noto Color Emoji", "Noto Emoji";
      --font-emoji-emoji: "JoyPixels", "Emoji Two", "EmojiOne Mozilla", "Emoji One";
      --font-emoji-twemoji: "twemoji-color", "Twitter Color Emoji";
      /* --font-emoji-one-var: "twemoji-color", "Twitter Color Emoji", "JoyPixels", "Emoji Two", "EmojiOne Mozilla", "Emoji One", "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji"; */
    /* END: FONT VARS */
  }
