@charset "UTF-8";
/*******************************************************************************
** YourOnly.One Reset (youronlyone-base.css)                                  **
**                                                                            **
** - by Yohan Yukiya Sese-Cuneta (https://im.youronly.one); Yelosan Publishing          **
*******************************************************************************/
/**
  * 1. font-face.css
  *   - Load order: 0 (optional)
  *   - all @font-face code
  *   - if using external fonts, use HTML <link> not CSS @import, it's faster
  *
  * 2. vars.css
  *   - Load order: 1
  *   - use for setting standard CSS variables
  *
  * 3. base.css
  *   - Load order: 2
  *   - reset.css + normalize.css
  *   - universal styles
  *
  * 4. themestyle.css
  *   - Load order: 3
  *   - for everything specific to theme styling.
**/

/**
  * NOTES:
  *   1. We use `@supports [not]` where appropriate.
  *     - It will minimize the code in CSSOM.
  *   2. a11y (accessibility) support
  *     - with dyslexia font support
  *     - with WAI-ARIA support
  *   3. The latest in CSS.
  *   4. Very minimal reset.
  *     - reset on a per-property level
  *   5. .classes styling
  *     - no #ID styling
  *     - avoids selector styling as much as possible
  *     - this way it is easy to override in themestyle/user.css
**/

/******************
** BGN: defaults **
******************/
  /**
    * NOTES:
    *   - will target <html>, <xml>, <xhtml>, <svg>, etc.
    *   - higher than <html>
    *   - good for global CSS vars
  **/
  /*
  :root {
  }
  */

  * {
    /**
      * NOTES:
      *   - 'hyphens' - https://developer.mozilla.org/en-US/docs/Web/CSS/hyphens
      *   - 'word-break' - https://developer.mozilla.org/en-US/docs/Web/CSS/word-break
      *     - 'normal' - best option for now
      *     - 'break-all' - problematic, breaks anywhere
      *     - 'manual' - for ASEAN languages only, not yet implemented
      *       - 'auto-phrase' - best option
      *         - currently only for lang="ja" in Chromium-based browsers
      *   - 'overflow-wrap' (f. 'word-wrap') - https://developer.mozilla.org/en-US/docs/Web/CSS/overflow-wrap
    **/
    hyphens: auto;
    word-break: normal; word-break: manual; word-break: auto-phrase;
    overflow-wrap: break-word;
    line-height: 1.5;
  }

  *, ::before, ::after {
    box-sizing: border-box;

    /* TODO: review, do we need this here? It's going to mess default borders like tables. */
      /* border-inline-style: solid; border-block-style: solid; */ /* make it the default */
      /* border-inline-width: 0; border-block-width: 0; */ /* hide the borders by default */
  }

  html {
    /**
      * NOTES:
      *   - lower than <body>
      *   - for default font styles
    **/
    font-family: var(--font-sans-serif, sans-serif);
    /* TODO: make it dependent on viewport size; kerning is bad for small viewports */
      font-kerning: normal;
    font-size: 1rem; /* not really needed since it is the default */
    font-variant-emoji: emoji; /* not yet implemented */
    font-variant-numeric: oldstyle-nums tabular-nums ordinal slashed-zero;
    text-rendering: optimizeLegibility; text-rendering: geometricPrecision;
    text-size-adjust: none;
    /* only set per class/font/:lang()
      font-synthesis:
      font-variant-alternates: historical-forms
      font-variant-caps:
      font-variant-east-asian:
      font-variant-ligatures:
      font-variant-position:
    */
  }
  body {
    /**
      * NOTES:
      *   - set everything here
    **/
    /* not inherited */
      background-color: var(--body-background-color);
      min-block-size: 100vh;
      margin-inline: 0;
      margin-block: 0;
    /* inherited */
      color: var(--body-text-color);
  }

  a:any-link {
    display: inline flow-root;
    color: currentColor;
    /* text-decoration-line: none; */
    text-decoration-color: var(--link-decoration-color);
    text-decoration-line: var(--link-decoration-line);
    text-decoration-style: var(--link-decoration-style);
    text-decoration-skip-ink: all;
    text-decoration-thickness: var(--link-decoration-thickness);
  }
/******************
** END: defaults **
******************/

/* DONE */
/******************
** BGN: :lang(C) **
******************/
  /**
    * NOTES:
    *
    *   @supports selector()
    *     - :lang(*-latn) = Firefox:no || Chromium:no
    *     - :lang(\*-latn) = Firefox:yes (insensitive) || Chromium:yes (insensitive)
    *     - :lang("*-latn") = Firefox:yes (insensitive) || Chromium:no
    *     - :lang("\*-latn") = Firefox:yes (insensitive) || Chromium:no
    *
    *   :lang(C)
    *     - :lang(*-latn) = Firefox:no || Chromium:no
    *     - :lang(\*-latn) = Firefox:yes (insensitive) || Chromium:no
    *     - :lang("*-latn") = Firefox:yes (insensitive) || Chromium:no
    *     - :lang("\*-latn") = Firefox:yes (insensitive) || Chromium:no
  **/

  :lang(en) {
    direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
    font-family: var(--font-sans-serif, sans-serif);
    font-language-override: "ENG";
    font-synthesis: initial;
  }

  /* BGN: Hanzi (Traditional & Simple) */
    :lang(yue),
    :lang(zh) {
      direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
      /* font-family: */ /* Don't set this. Use -Hant or -Hans instead. */
      font-style: normal; /* ensure there are no italic and oblique styles */
      font-synthesis: weight; /* only allow 'bold' synthesis */
      /* font-variant-east-asian: */ /* Don't set this. Use -Hant or -Hans instead. */
    }
    :lang(zh-Hans) {
      font-family: var(--font-zhs-sans-serif, sans-serif);
      font-language-override: "ZHS";
      font-variant-east-asian: simplified full-width;
    }
    :lang(zh-Hant) {
      font-family: var(--font-zht-sans-serif), sans-serif;
      font-language-override: "ZHT";
      font-variant-east-asian: traditional full-width;
    }
    :lang(zh-Hant-HK) {
      font-family: var(--font-zht-sans-serif), sans-serif;
      font-language-override: "ZHH";
    }
  /* END: Hanzi (Traditional & Simple) */

  /* BGN: Kana + Nihongo */
    :lang(ja) {
      direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
      font-family: var(--font-ja-sans-serif, sans-serif);
      font-language-override: "JAN";
      font-style: normal; /* ensure there are no italic and oblique styles */
      font-synthesis: weight; /* only allow 'bold' synthesis */
      font-variant-east-asian: jis04 full-width;
    }
  /* END: Kana + Nihongo */

  /* BGN: Hangeul + Hangugeo */
    :lang(ko) {
      direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
      font-family: var(--font-ko-sans-serif, sans-serif);
      font-language-override: "KOR";
      font-style: normal; /* ensure there are no italic and oblique styles */
      font-synthesis: weight; /* only allow 'bold' synthesis */
      font-variant-east-asian: full-width;
    }
  /* END: Hangeul + Hangugeo */

  /* BGN: Hebrew & Paleo-Hebrew */
    :lang(he),
    :lang(hbo) {
      direction: rtl; /* Be sure to also set dir="rtl" in HTML. */
      font-family: var(--font-hebrew-sans-serif, sans-serif); /* combined; different Unicode points */
      font-style: normal; /* ensure there are no italic and oblique styles */
      font-synthesis: weight; /* only allow 'bold' synthesis */
    }
    :lang(he) { /* Modern Hebrew */
      font-language-override: "IWR";
    }
    /*
    :lang(hbo) { /* Paleo-Hebrew * /
    }
    */
  /* END: Hebrew & Paleo-Hebrew */

  /* BGN: Greek & Ancient Greek */
    :lang(el),
    :lang(grc) {
      direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
      font-family: var(--font-greek-sans-serif, sans-serif); /* combined; different Unicode points */
      font-style: normal; /* ensure there are no italic and oblique styles */
      font-synthesis: weight; /* only allow 'bold' synthesis */
    }

    :lang(el) { /* Modern Greek */
      font-language-override: "ELL";
    }
    /*
    :lang(grc) { /* Ancient Greek * /
    }
    */
  /* END: Greek & Ancient Greek */

  /* BGN: Pilipino */
    /* BGN: Pilipino in Latin script */
      /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
        @supports not (selector(:lang(phi, fil, en-PH))) {
          :lang(pag), :lang(pam), :lang(war), :lang(bik), :lang(hil), :lang(ilo), :lang(ceb),
          :lang(tbw), :lang(bku), :lang(hnn), :lang(tl),
          :lang(phi), :lang(fil), :lang(en-PH) {
            direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
            font-family: var(--font-sans-serif, sans-serif);
            font-language-override: "PIL";
            font-style: normal; /* ensure there are no italic and oblique styles */
            font-synthesis: weight; /* only allow 'bold' synthesis */
            font-variant-east-asian: full-width;
          }
        }
      /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

      @supports selector(:lang(phi, fil, en-PH)) {
        :lang(pag, pam, war, bik, hil, ilo, ceb),
        :lang(tbw, bku, hnn, tl),
        :lang(phi, fil, en-PH) {
          direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
          font-family: var(--font-sans-serif, sans-serif);
          font-language-override: "PIL";
          font-style: normal; /* ensure there are no italic and oblique styles */
          font-synthesis: weight; /* only allow 'bold' synthesis */
          font-variant-east-asian: full-width;
        }
      }
    /* END: Pilipino in Latin script */

    /* BGN: Pilipino in Baybayin scripts */
      /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
        @supports not (selector(:lang("\*-Tagb", "\*-Buhd", "\*-Hano", "\*-Tglg"))) {
          :lang(pag-Tagb), :lang(pag-Buhd), :lang(pag-Hano), :lang(pag-Tglg), /* Pangasinense in Baybayin */
          :lang(pam-Tagb), :lang(pam-Buhd), :lang(pam-Hano), :lang(pam-Tglg), /* Kapampangan in Baybayin */
          :lang(war-Tagb), :lang(war-Buhd), :lang(war-Hano), :lang(war-Tglg), /* Waray in Baybayin */
          :lang(bik-Tagb), :lang(bik-Buhd), :lang(bik-Hano), :lang(bik-Tglg), /* Bikolano in Baybayin */
          :lang(hil-Tagb), :lang(hil-Buhd), :lang(hil-Hano), :lang(hil-Tglg), /* Hiligaynon (Ilonggo) in Baybayin */
          :lang(ilo-Tagb), :lang(ilo-Buhd), :lang(ilo-Hano), :lang(ilo-Tglg), /* Iloko (Ilokano) in Baybayin */
          :lang(ceb-Tagb), :lang(ceb-Buhd), :lang(ceb-Hano), :lang(ceb-Tglg), /* Cebuano (Binasaya, Bisaya; Boholano) in Baybayin */
          :lang(tbw-Tagb), :lang(tbw-Buhd), :lang(tbw-Hano), :lang(tbw-Tglg), /* Aborlan Tagbanwa in Baybayin */
          :lang(bku-Tagb), :lang(bku-Buhd), :lang(bku-Hano), :lang(bku-Tglg), /* Mangyan Buhid in Baybayin */
          :lang(hnn-Tagb), :lang(hnn-Buhd), :lang(hnn-Hano), :lang(hnn-Tglg), /* Mangyan Hanunoo in Baybayin */
          :lang(tl-Tagb), :lang(tl-Buhd), :lang(tl-Hano), :lang(tl-Tglg), /* Tagalog in Baybayin */
          :lang(phi-Tagb), :lang(phi-Buhd), :lang(phi-Hano), :lang(phi-Tglg), /* Philippine languages in Baybayin */
          :lang(fil-Tagb), :lang(fil-Buhd), :lang(fil-Hano), :lang(fil-Tglg) /* Filipino language in Baybayin */
          {
            font-family: var(--font-baybayin-sans-noto, sans-serif); /* combined; different Unicode points */
          }
        }
      /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

      @supports selector(:lang("\*-Tagb", "\*-Buhd", "\*-Hano", "\*-Tglg")) {
        :lang(\*-Tagb), :lang(\*-Buhd), :lang(\*-Hano), :lang(\*-Tglg) /* in Baybayin */
        {
          font-family: var(--font-baybayin-sans-noto, sans-serif); /* combined; different Unicode points */
        }
      }
    /* END: Pilipino in Baybayin scripts */
  /* END: Pilipino */

  /* BGN: :lang(\*-Latn) */
    /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
      @supports not (selector(:lang("\*-Latn"))) {
        :lang(yue-jyutping), :lang(zh-yue-jyutping),
        :lang(zh-Latn),
        :lang(ja-Latn),
        :lang(ko-Latn),
        :lang(he-Latn), :lang(hbo-Latn),
        :lang(el-Latn), :lang(grc-Latn) {
          direction: ltr; /* Be sure to also set dir="ltr" in HTML. */ /* needed because :lang(C) is a wildcard match */
          font-family: var(--font-sans-serif, sans-serif);
          font-language-override: normal; /* needed because :lang(C) is a wildcard match */
          font-synthesis: initial;
        }
      }
    /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

    @supports selector(:lang("\*-Latn")) {
      :lang(\*-jyutping),
      :lang(\*-Latn) {
        direction: ltr; /* Be sure to also set dir="ltr" in HTML. */ /* needed because :lang(C) is a wildcard match */
        font-family: var(--font-sans-serif, sans-serif);
        font-language-override: normal; /* needed because :lang(C) is a wildcard match */
        font-synthesis: initial;
      }
    }
  /* END: :lang(\*-Latn) */
/******************
** END: :lang(C) **
******************/

/* DONE */
/*********************
** BGN: Quote marks **
*********************/
    /**
      * NOTES:
      *   It's 2024 and Chromium is still NOT supporting:
      *     1. :lang(C, C) = comma-separated lang codes
      *     2. :lang(\*-C) = wildcard matching of lang codes
      *
      * USAGE:
      *   .quote--name = <span></span>
      *     - channel name, TV network, brand/company name, author name,
      *         band name, singer name
      *   .quote--title = <cite></cite>
      *     - movies, television, radio shows, books, periodicals, databases,
      *         websites
      *     - old print: underline
      *     - digital style: italicized
      *   .quote--work = <q></q>
      *     - episodes, articles, essays, chapters, poems, songs, speeches
    **/

    /* BGN: Regular <q> */
      /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
        @supports not (selector(:lang(phi, fil, en-PH))) {
          :lang(en),
          :lang(he) {
            quotes: "\201C" "\201D" "\2018" "\2019"; /* “ ” ‘ ’ */
          }
          :lang(el) {
            quotes: "\00AB" "\00BB" "\201C" "\201D"; /* « » “ ” */
          }
          :lang(yue-Hans), :lang(zh-Hans),
          :lang(yue-Hant), :lang(zh-Hant),
          :lang(ja) {
            quotes: "\300C" "\300D" "\300E" "\300F"; /* 「 」 『 』 */
          }
          :lang(ko) {
            quotes: "\300A" "\300B" "\3008" "\3009"; /* 《 》 〈 〉 */
          }
          :lang(pag), :lang(pam), :lang(war), :lang(bik), :lang(hil), :lang(ilo), :lang(ceb),
          :lang(tbw), :lang(bku), :lang(hnn), :lang(tl),
          :lang(phi), :lang(fil),
          :lang(en-PH) {
            quotes: "\00AB" "\00BB" "\2039" "\203A"; /* « » ‹ › */
          }
        }
      /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

      @supports selector(:lang(phi, fil, en-PH)) {
        :lang(en, he) {
          quotes: "\201C" "\201D" "\2018" "\2019"; /* “ ” ‘ ’ */
        }
        :lang(el) {
          quotes: "\00AB" "\00BB" "\201C" "\201D"; /* « » “ ” */
        }
        :lang(yue-Hans, zh-Hans, yue-Hant, zh-Hant, ja) {
          quotes: "\300C" "\300D" "\300E" "\300F"; /* 「 」 『 』 */
        }
        :lang(ko) {
          quotes: "\300A" "\300B" "\3008" "\3009"; /* 《 》 〈 〉 */
        }
        :lang(pag, pam, war, bik, hil, ilo, ceb),
        :lang(tbw, bku, hnn, tl),
        :lang(phi, fil, en-PH) {
          quotes: "\00AB" "\00BB" "\2039" "\203A"; /* « » ‹ › */
        }
      }
    /* END: Regular <q> */

    .quote--name {
      text-transform: capitalize;
    }

    /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
      @supports not (selector(:lang(phi, fil, en-PH))) {
        :lang(yue) .quote--title,
        :lang(zh) .quote--title,
        :lang(ja) .quote--title,
        :lang(ko) .quote--title {
          quotes: "\300A" "\300B" "\3008" "\3009"; /* 《 》 〈 〉 */
        }
        /* Philippine major languages */
        :lang(pag) .quote--title, :lang(pam) .quote--title, :lang(war) .quote--title, :lang(bik) .quote--title, :lang(hil) .quote--title, :lang(ilo) .quote--title, :lang(ceb) .quote--title,
        :lang(tbw) .quote--title, :lang(bku) .quote--title, :lang(hnn) .quote--title, :lang(tl) .quote--title,
        :lang(phi) .quote--title, :lang(fil) .quote--title,
        :lang(en-PH) .quote--title {
          quotes: "\00AB" "\00BB" "\2039" "\203A"; /* « » ‹ › */
        }

        :lang(yue) .quote--work,
        :lang(zh) .quote--work,
        :lang(ja) .quote--work,
        :lang(ko) .quote--work,
        /* Philippine major languages */
        :lang(pag) .quote--work, :lang(pam) .quote--work, :lang(war) .quote--work, :lang(bik) .quote--work, :lang(hil) .quote--work, :lang(ilo) .quote--work, :lang(ceb) .quote--work,
        :lang(tbw) .quote--work, :lang(bku) .quote--work, :lang(hnn) .quote--work, :lang(tl) .quote--work,
        :lang(phi) .quote--work, :lang(fil) .quote--work,
        :lang(en-PH) .quote--work {
          quotes: "\300C" "\300D" "\300E" "\300F"; /* 「 」 『 』 */
        }

        :lang(yue) :is(.quote--title, .quote--work)::before,
        :lang(zh) :is(.quote--title, .quote--work)::before,
        :lang(ja) :is(.quote--title, .quote--work)::before,
        :lang(ko) :is(.quote--title, .quote--work)::before,
        /* Philippine major languages */
        :lang(pag) :is(.quote--title, .quote--work)::before, :lang(pam) :is(.quote--title, .quote--work)::before, :lang(war) :is(.quote--title, .quote--work)::before, :lang(bik) :is(.quote--title, .quote--work)::before, :lang(hil) :is(.quote--title, .quote--work)::before, :lang(ilo) :is(.quote--title, .quote--work)::before, :lang(ceb) :is(.quote--title, .quote--work)::before,
        :lang(tbw) :is(.quote--title, .quote--work)::before, :lang(bku) :is(.quote--title, .quote--work)::before, :lang(hnn) :is(.quote--title, .quote--work)::before, :lang(tl) :is(.quote--title, .quote--work)::before,
        :lang(phi) :is(.quote--title, .quote--work)::before, :lang(fil) :is(.quote--title, .quote--work)::before,
        :lang(en-PH) :is(.quote--title, .quote--work)::before {
          content: open-quote;
        }

        :lang(yue) :is(.quote--title, .quote--work)::after,
        :lang(zh) :is(.quote--title, .quote--work)::after,
        :lang(ja) :is(.quote--title, .quote--work)::after,
        :lang(ko) :is(.quote--title, .quote--work)::after,
        /* Philippine major languages */
        :lang(pag) :is(.quote--title, .quote--work)::after, :lang(pam) :is(.quote--title, .quote--work)::after, :lang(war) :is(.quote--title, .quote--work)::after, :lang(bik) :is(.quote--title, .quote--work)::after, :lang(hil) :is(.quote--title, .quote--work)::after, :lang(ilo) :is(.quote--title, .quote--work)::after, :lang(ceb) :is(.quote--title, .quote--work)::after,
        :lang(tbw) :is(.quote--title, .quote--work)::after, :lang(bku) :is(.quote--title, .quote--work)::after, :lang(hnn) :is(.quote--title, .quote--work)::after, :lang(tl) :is(.quote--title, .quote--work)::after,
        :lang(phi) :is(.quote--title, .quote--work)::after, :lang(fil) :is(.quote--title, .quote--work)::after,
        :lang(en-PH) :is(.quote--title, .quote--work)::after {
          content: close-quote;
        }
      }
    /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

    @supports selector(:lang(phi, fil, en-PH)) {
      :lang(yue, zh, ja, ko) .quote--title {
        quotes: "\300A" "\300B" "\3008" "\3009"; /* 《 》 〈 〉 */
      }
      /* Philippine major languages */
      :lang(pag, pam, war, bik, hil, ilo, ceb) .quote--title,
      :lang(tbw, bku, hnn, tl) .quote--title,
      :lang(phi, fil, en-PH) .quote--title {
        quotes: "\00AB" "\00BB" "\2039" "\203A"; /* « » ‹ › */
      }

      :lang(yue, zh, ja, ko) .quote--work,
      /* Philippine major languages */
      :lang(pag, pam, war, bik, hil, ilo, ceb) .quote--work,
      :lang(tbw, bku, hnn, tl) .quote--work,
      :lang(phi, fil, en-PH) .quote--work {
        quotes: "\300C" "\300D" "\300E" "\300F"; /* 「 」 『 』 */
      }

      :lang(yue, zh, ja, ko) :is(.quote--title, .quote--work)::before,
      /* Philippine major languages */
      :lang(pag, pam, war, bik, hil, ilo, ceb) :is(.quote--title, .quote--work)::before,
      :lang(tbw, bku, hnn, tl) :is(.quote--title, .quote--work)::before,
      :lang(phi, fil, en-PH) :is(.quote--title, .quote--work)::before {
        content: open-quote;
      }

      :lang(yue, zh, ja, ko) :is(.quote--title, .quote--work)::after,
      /* Philippine major languages */
      :lang(pag, pam, war, bik, hil, ilo, ceb) :is(.quote--title, .quote--work)::after,
      :lang(tbw, bku, hnn, tl) :is(.quote--title, .quote--work)::after,
      :lang(phi, fil, en-PH) :is(.quote--title, .quote--work)::after {
        content: close-quote;
      }
    }
/*********************
** END: Quote marks **
*********************/

/*****************
** BGN: Generic **
*****************/
  div, aside, section,
  nav, main, article, {
    display: block flow-root;
  }

  footer {
    display: block flow-root;
    text-wrap: balance;
  }

  math {
    font-family: var(--font-math, math); /* combined; different Unicode points */
  }
  music {
    font-family: var(--font-music); /* combined; different Unicode points */
  }
/*****************
** END: Generic **
*****************/

/****************
** BGN: Tables **
****************/
  table[align="center"] > caption {
    margin-inline-start: auto; margin-inline-end: auto;
  }
  table[align="center"] > caption[align="right"]:dir(rtl),
  table[align="center"] > caption[align="left"]:dir(ltr) {
    margin-inline-end: 0;
  }
  table[align="center"] > caption[align="left"]:dir(rtl),
  table[align="center"] > caption[align="right"]:dir(ltr) {
    margin-inline-start: 0;
  }
/****************
** END: Tables **
****************/

/* DONE */
/******************
** BGN: Headings **
******************/
  /**
    * NOTES:
    *   - font-size changes
    *   - <h1> remains 2.00em & <h6> is 1.00em
    *     - This prevents h5 & h6 smaller than default font-size.
    *     - Skipping heading ranks is strongly discouraged for a11y.
    *       - See: https://www.w3.org/WAI/tutorials/page-structure/headings/
    *       - To use h5 & h6 other than as a proper heading hierarchy is
    *           against accessibility (a11y).
    *   - scaling if inside article, aside, nav, and section, is disabled
    *     - In Firefox, it only works for h1.
    *     - It makes everything weird if not set for h2–h6.
    *     - Disabling entirely allows for consistent h1–h6 font-size
    *         expectation.
  **/
  header, hgroup {
    display: block flow-root;
  }
  header, hgroup,
  thead, th {
    font-family: var(--font-serif, serif);
    text-wrap: balance;
  }

  h1, h2, h3, h4, h5, h6 {
    display: block flow-root;
    font-family: var(--font-serif, serif);
    font-weight: 700;
    line-height: 1.1;
    text-wrap: balance;
  }

  h1 {
    font-size: 2.00em; /* 2.00em */
    margin-block-start: 0.67em; margin-block-end: 0.67em;
  }

  /* to make h1 scale if inside these elements, uncomment the following
  :is(article, aside, nav, section) h1,
  */
  h2 {
    font-size: 1.67em; /* 1.50em */
    margin-block-start: 0.78em; margin-block-end: 0.78em;
  }

  /* to make h1 & h2 scale if inside these elements, uncomment the following
  :is(article, aside, nav, section) :is(article, aside, nav, section) h1,
  :is(article, aside, nav, section) h2,
  */
  h3 {
    font-size: 1.52em; /* 1.17em */
    margin-block-start: 0.89em; margin-block-end: 0.89em;
  }

  /* to make h1–h3 scale if inside these elements, uncomment the following
  :is(article, aside, nav, section) :is(article, aside, nav, section) :is(article, aside, nav, section) h1,
  :is(article, aside, nav, section) :is(article, aside, nav, section) h2,
  :is(article, aside, nav, section) h3,
  */
  h4 {
    font-size: 1.33em; /* 1.00em */
    margin-block-start: 1.01em; margin-block-end: 1.01em;
  }

  /* to make h1–h4 scale if inside these elements, uncomment the following
  :is(article, aside, nav, section) :is(article, aside, nav, section) :is(article, aside, nav, section) :is(article, aside, nav, section) h1,
  :is(article, aside, nav, section) :is(article, aside, nav, section) :is(article, aside, nav, section) h2,
  :is(article, aside, nav, section) :is(article, aside, nav, section) h3,
  :is(article, aside, nav, section) h4,
  */
  h5 {
    font-size: 1.17em; /* 0.83em */
    margin-block-start: 1.11em; margin-block-end: 1.11em;
  }

  /* to make h1–h5 scale if inside these elements, uncomment the following
  :is(article, aside, nav, section) :is(article, aside, nav, section) :is(article, aside, nav, section) :is(article, aside, nav, section) :is(article, aside, nav, section) h1,
  :is(article, aside, nav, section) :is(article, aside, nav, section) :is(article, aside, nav, section) :is(article, aside, nav, section) h2,
  :is(article, aside, nav, section) :is(article, aside, nav, section) :is(article, aside, nav, section) h3,
  :is(article, aside, nav, section) :is(article, aside, nav, section) h4,
  :is(article, aside, nav, section) h5,
  */
  h6 {
    font-size: 1.00em; /* 0.67em */
    margin-block-start: 1.33em; margin-block-end: 1.33em;
  }
/******************
** END: Headings **
******************/

/***************
** BGN: Lists **
***************/
  /**
    * NOTES:
    *   - To ensure lists are announced as lists, include role="list" to <ol>
    *       and <ul> elements, especially if the list is not nested in a
    *       <nav>.
    *   - This restores list semantics without affecting the design.
    *   - See: https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#accessibility_concerns
  **/
  menu, ol, ul {
    display: block flow-root;
    /*
    list-style-type: none;
    list-style-position: inside;
      padding-inline: 0; padding-block: 0;
    */
  }
  dl { /* TO-CHECK */
    display: block flow-root;
    margin-block-start: 1em; margin-block-end: 1em;
  }
  /* NOTE: see https://www.w3.org/TR/css-display-3/#run-in-layout */
    dt { /* TO-CHECK */
      /* display: block flow-root; */
      display: run-in flow; /* ideal */
    }
    dt::after {
      content: ": "; /* ideal */
    }
  dd { /* TO-CHECK */
    display: block flow-root;
    margin-inline-start: 40px;
  }
  li { /* TO-CHECK */
    display: block flow-root list-item;
  }

  /* BGN: ul & menu: Level 0–4 */
    /* Sequence: disc > circle > square > disc > circle > circle */
    :is(menu, ul) {
      list-style-type: disc;
    }
    :is(menu, ol, ul) :is(menu, ul) {
      list-style-type: circle;
    }
    :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ul) {
      list-style-type: square;
    }
    :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ul) {
      list-style-type: disc;
    }
    :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ul) {
      list-style-type: circle;
    }
  /* END: ul & menu: Level 0–4 */

  /* BGN: ol (decimal): Levels 0–4 */
    /* Sequence: 1. > a. > i. > 1. > a. > a. */
    ol {
      list-style-type: decimal;
    }
    :is(menu, ol, ul) ol {
      list-style-type: lower-latin;
    }
    :is(menu, ol, ul) :is(menu, ol, ul) ol {
      list-style-type: lower-roman;
    }
    :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ol, ul) ol {
      list-style-type: decimal;
    }
    :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ol, ul) ol {
      list-style-type: lower-latin;
    }
  /* END: ol (decimal): Levels 0–4 */

  /* BGN: ol (upper-latin): Levels 0–5 */
    /* Sequence: A. > 1. > a. > i. > 1. > a. > a.
        * upper-latin is not repeated
    */
    ol.upper-latin {
      list-style-type: upper-latin;
    }
    :is(menu, ol, ul) ol.upper-latin {
      list-style-type: decimal;
    }
    :is(menu, ol, ul) :is(menu, ol, ul) ol.upper-latin {
      list-style-type: lower-latin;
    }
    :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ol, ul) ol.upper-latin {
      list-style-type: lower-roman;
    }
    :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ol, ul) ol.upper-latin {
      list-style-type: decimal;
    }
    :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ol, ul) ol.upper-latin {
      list-style-type: lower-latin;
    }
  /* END: ol (upper-latin): Levels 0–5 */

  /* BGN: ol (roman & latin): Levels 0–5 */
    /* Sequence: I. > A. > i. > a. > i. > a. > a.
        * upper-roman and upper-latin are not repeated
    */
    ol.rotin {
      list-style-type: upper-roman;
    }
    :is(menu, ol, ul) ol.rotin {
      list-style-type: upper-latin;
    }
    :is(menu, ol, ul) :is(menu, ol, ul) ol.rotin {
      list-style-type: lower-roman;
    }
    :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ol, ul) ol.rotin {
      list-style-type: lower-latin;
    }
    :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ol, ul) ol.rotin {
      list-style-type: lower-roman;
    }
    :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ol, ul) :is(menu, ol, ul) ol.rotin {
      list-style-type: lower-latin;
    }
  /* END: ol (roman & latin): Levels 0–5 */

  /* Nested lists should not have 'block-start' and 'block-end'  margins */
    :is(dl, menu, ol, ul) :is(dl, menu, ol, ul) {
      margin-block-start: 0; margin-block-end: 0;
      outline: 1px solid oklch(62.8% 0.2577 29.2339); /* TESTING ONLY */
    }
/***************
** END: Lists **
***************/

/**************
** BGN: Text **
**************/
  p {
    display: block flow-root;
    margin-block-start: 1em; margin-block-end: 1em;
  }

  address {
    display: block flow-root;
    font-style: normal;
  }

  blockquote {
    display: block flow-root;
    margin-inline: 0;
    margin-block: 0;
    text-wrap: balance;
  }

  caption {
    text-wrap: balance;
  }

  :is(b, strong, i, em, ins, del, s, small, sup, sub, mark) {
    display: inline flow-root;
  }

  abbr {
    display: inline flow-root;
    cursor: help;
  }

  dfn,
  cite, q,
  span {
    display: inline flow-root;
  }
/**************
** END: Text **
**************/

/************************
** BGN: Details family **
************************/
  details,
  summary {
    display: block flow-root;
  }
/************************
** END: Details family **
************************/

/************************
** BGN: Images, Videos **
************************/
  figure {
    display: block flow-root;
    margin-inline: 0;
    margin-block: 0;
    text-wrap: balance;
  }
  figcaption {
    display: block flow-root;
    text-wrap: balance;
  }

  canvas {
    display: block flow-root;
    max-inline-size: 100%;
  }
  picture {
    display: block flow-root;
    max-inline-size: 100%;
  }

  img {
    display: block flow-root;
    max-inline-size: 100%;
  }
  svg {
    display: block flow-root;
    max-inline-size: 100%;
  }

  video {
    display: block flow-root;
    max-inline-size: 100%;
  }
/************************
** END: Images, Videos **
************************/

/**************************
** BGN: Monospace family **
**************************/
  pre {
    display: block flow-root;
    margin-block-start: 1em; margin-block-end: 1em;
    font-family: var(--font-monospace, monospace);
  }
  code {
    display: inline flow-root;
    font-family: var(--font-monospace, monospace);
  }
  kbd {
    display: inline flow-root;
    font-family: var(--font-monospace, monospace);
  }
  samp {
    display: inline flow-root;
    font-family: var(--font-monospace, monospace);
  }
  var {
    display: inline flow-root;
    font-family: var(--font-monospace, monospace);
  }
/**************************
** END: Monospace family **
**************************/

/*************************
** BGN: Ruby Annotation **
*************************/
  /**
    * As of 2024-02-07.
    *
    * We are declaring most of these due to lack of support in browsers.
    * Once CSS Ruby is fully supported, we can remove these base declarations.
    *
    * See:
    *   1. https://www.w3.org/TR/css-ruby-1/ || https://drafts.csswg.org/css-ruby/
    *   2. https://www.w3.org/TR/html-ruby-extensions/
    *   3. https://www.w3.org/International/articles/ruby/markup.en
    *
    * display: ruby-*
    *   - see:
    *       1. https://caniuse.com/?search=display%3A+ruby
    *       2. https://www.w3.org/TR/css-display-3/#propdef-display
  **/

  /* BGN: <ruby> shim */
    /**
      * NOTES:
      *
      *   As per:
      *     - https://www.w3.org/TR/css-ruby-1/
      *     - https://drafts.csswg.org/css-ruby-1/
    **/

    /* BGN: Basic */
      ruby {
        display: ruby; /* backwards-compatibility */
        display: inline ruby;
      }

      /**
        * NOTES:
        *   - <rbc> is in W3C Working Draft.
        *     - see: https://www.w3.org/TR/css-ruby-1/
        *   - NOT IMPLEMENTED in Chromium; but works in Firefox.
        *     - see: https://caniuse.com/?search=rbc
        *   - temporary workaround: .ruby-base-container
      **/
        .ruby-base-container,
        rbc {
          display: ruby-base-container;
        }
      /* */

      /**
        * NOTES:
        *   - <rb> is highly recommended by the W3C.
        *     - But the HTML5 WG marked this as deprecated which MUST be
        *         corrected!
        *     - see: https://www.w3.org/TR/css-ruby-1/
        *   - PROBLEMATIC in Chromium-based browsers.
        *     - see: https://caniuse.com/?search=rb
        *   - temporary workaround: .ruby-base
      **/
        .ruby-base,
        rb {
          display: ruby-base;
          white-space: nowrap;
        }
      /* */

      /**
        * NOTES:
        *   - <rtc> is very useful for multilingual Asian websites.
        *     - But the HTML5 WG marked this as deprecated which MUST be
        *         corrected!
        *     - see: https://www.w3.org/TR/css-ruby-1/
        *   - IMPLEMENTED in all browsers.
        *     - but USELESS in Chromium-based browsers
        *       - when <rt> is a child of any element, it stops working correctly!
        *     - see: https://caniuse.com/?search=rtc
      **/
        .ruby-text-container,
        rtc {
          display: ruby-text-container;
          ruby-merge: auto;
          ruby-overhang: auto;
          ruby-position: over; /* backwards-compatibility */
          ruby-position: alternate;
        }
      /* */

      /* Annotation */
        .ruby-text,
        rt {
          display: ruby-text;
          font-size: 0.7rem;
        }
      /* */

      /* For fallback parentheses only. */
        rp {
          display: none;
        }
      /* */

      /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
        @supports not (ruby-align: center) {
          /* ruby, */ /* Don't */
          .ruby-base-container, .ruby-base, .ruby-text-container, .ruby-text,
          rbc, rb, rtc, rt {
            text-align: center;
          }
        }
      /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
      @supports (ruby-align: center) {
        .ruby-base-container, .ruby-base, .ruby-text-container, .ruby-text,
        rbc, rb, rtc, rt {
          ruby-align: center; /* better than the default ‘start’ */
          /* text-transform: full-size-kana; */ /* needed? */
        }
      }
    /* END: Basic */

    /* BGN: font-variant-east-asian */
      ruby,
      .ruby-base-container, .ruby-base, .ruby-text-container, .ruby-text,
      rbc, rb, rtc, rt {
        font-variant-east-asian: full-width ruby;
        unicode-bidi: isolate;
      }
      ruby:lang(zh-Hans),
      :is(.ruby-base-container, .ruby-base, .ruby-text-container, .ruby-text):lang(zh-Hans),
      :is(rbc, rb, rtc, rt):lang(zh-Hans) {
        font-variant-east-asian: simplified full-width ruby;
      }
      ruby:lang(zh-Hant),
      :is(.ruby-base-container, .ruby-base, .ruby-text-container, .ruby-text):lang(zh-Hant),
      :is(rbc, rb, rtc, rt):lang(zh-Hant) {
        font-variant-east-asian: traditional full-width ruby;
      }
      ruby:lang(ja),
      :is(.ruby-base-container, .ruby-base, .ruby-text-container, .ruby-text):lang(ja),
      :is(rbc, rb, rtc, rt):lang(ja) {
        font-variant-east-asian: jis04 full-width ruby;
      }
    /* END: font-variant-east-asian */
  /* END: <ruby> shim */

  .ruby-text-container, .ruby-text,
  rtc, rt {
    /* line-height: 1; */
    /* text-emphasis: none; */
    white-space: nowrap;
  }

  /* BGN: suggested by W3C */
    /*
    .ruby-text-container,
    :not(.ruby-text-container) > .ruby-text,
    :not(.ruby-text-container) > rt,
    rtc,
    :not(rtc) > .ruby-text,
    :not(rtc) > rt {
      font-size: 50%;
    }
    rtc:lang(zh-TW),
    :not(rtc) > .ruby-text:lang(zh-TW),
    :not(rtc) > rt:lang(zh-TW),
    rtc:lang(zh-Hanb),
    :not(rtc) > .ruby-text:lang(zh-Hanb),
    :not(rtc) > rt:lang(zh-Hanb) {
      font-size: 30%;
    }
    */
  /* END: suggested by W3C */

  /* BGN: Ruby Classes */
    /* BGN: ruby-align classes (<rtb>, <rb>, <rtc>, <rt>) */
      .ruby-align--center {
        ruby-align: center;
      }
      .ruby-align--space-around { /* initial value */
        ruby-align: space-around;
      }
      .ruby-align--space-between {
        ruby-align: space-between;
      }
      .ruby-align--start {
        ruby-align: start;
      }
    /* END: ruby-align classes (<rtb>, <rb>, <rtc>, <rt>) */

    /* BGN: ruby-merge (<rtc>) */
      .ruby-merge--auto {
        ruby-merge: auto;
      }
      .ruby-merge--merge {
        ruby-merge: merge;
      }
      .ruby-merge--separate { /* initial */
        ruby-merge: separate;
      }
    /* END: ruby-merge (<rtc>) */

    /* BGN: ruby-overhang (<rtc>) */
      .ruby-overhang--auto { /* initial */
        ruby-overhang: auto;
      }
      .ruby-overhang--none {
        ruby-overhang: none;
      }
    /* END: ruby-overhang (<rtc>) */

    /* BGN: ruby-position classes (<rtc>) */
      .ruby-position--alternate { /* initial value and best */
        ruby-position: alternate;
      }
      .ruby-position--inter-character {
        ruby-position: inter-character;
      }
      .ruby-position--over { /* default setting in major browsers */
        ruby-position: over;
      }
      .ruby-position--under {
        ruby-position: under;
      }
    /* END: ruby-position classes (<rtc>) */
  /* END: Ruby Classes */

  /* BGN: Colours */
    /**
      * NOTES:
      *   - Works for Tabular and Interleaved models.
      *
    **/
    /* RUBY BASE */
      /*
      .ruby-base,
      rb {
        color: purple;
      }
      */

    /* RUBY OVER */
      ruby > rb > ruby > rt,
      ruby > rb > ruby > rt > ruby > .ruby-base,
      ruby > rb > ruby > rt > ruby > rb,
      ruby > .ruby-text-container:nth-of-type(odd) > rt,
      ruby > .ruby-text-container:nth-of-type(odd) > rt > ruby > rb,
      ruby > rtc:nth-of-type(odd) > rt,
      ruby > rtc:nth-of-type(odd) > rt > ruby > rb
      {
        color: var(--color-green);
      }

    /* RUBY BELOW */
      ruby > rt,
      ruby > rt > ruby > .ruby-base,
      ruby > rt > ruby > rb,
      ruby > .ruby-text-container:nth-of-type(even) > rt,
      ruby > .ruby-text-container:nth-of-type(even) > rt > ruby > rb,
      ruby > rtc:nth-of-type(even) > rt,
      ruby > rtc:nth-of-type(even) > rt > ruby > rb
      {
        color: var(--color-magenta);
      }

    /* RUBY OVER OVER and RUBY BELOW BELOW */
      ruby > rt > ruby > rt,
      ruby > .ruby-text-container:nth-of-type(odd) > rt > ruby > rt,
      ruby > .ruby-text-container:nth-of-type(even) > rt > ruby > rt,
      ruby > rtc:nth-of-type(odd) > rt > ruby > rt,
      ruby > rtc:nth-of-type(even) > rt > ruby > rt
      {
        color: var(--color-red);
      }
  /* END: Colours */

  .ruby-guide {
    outline: 1px dotted;
  }
  .ruby-block {
    height: fit-content;
    outline: 1px solid var(--color-orange);
  }
/*************************
** END: Ruby Annotation **
*************************/

/**********************
** BGN: Interactives **
**********************/
  button {
    display: inline flow-root;
    font: inherit;
    line-height: 1.1;
  }

  label {
    line-height: 1.1;
  }

  search {
    display: block flow-root;
  }

  ::placeholder {
    margin-inline: 0;
    margin-block: 0;
  }

  ::file-selector-button {
    display: inline flow-root;
    margin-inline-end: 5px;
  }

  /* BGN: Form family */
    form,
    legend {
      display: block flow-root;
    }

    fieldset {
      display: block flow-root;
      margin-inline: 2px;
    }

    textarea {
      display: inline flow-root;
      font: inherit;
      margin-block: 1px;
    }

    input {
      display: inline flow-root;
      font: inherit;
      line-height: 1.1;
    }
    input[type=checkbox] {
      margin-inline: 4px 3px;
      margin-block: 3px;
    }
    input[type=radio] {
      margin-inline: 5px 3px;
      margin-block: 3px 0;
    }
    input[type=range] {
      margin-inline-start: 2px; margin-inline-end: 2px;
      margin-block-start: 2px; margin-block-end: 2px;
    }
    input[type=file] > label {
      display: inline flow-root;
    }
  /* END: Form family */

  /* BGN: Select family */
    optgroup, optgroup::before,
    option {
      display: block flow-root;
    }
    select {
      display: inline flow-root;
      font: inherit;
      margin-inline: 0;
      margin-block: 0;
    }
  /* END: Select family */
/**********************
** END: Interactives **
**********************/

/*********************************
** BGN: Pop-up dialogs / modals **
*********************************/
  dialog {
    display: block flow-root;
    margin-inline-start: auto; margin-inline-end: auto;
    margin-block-start: auto; margin-block-end: auto;
  }
  ::backdrop {
    display: block flow-root;
  }
/*********************************
** END: Pop-up dialogs / modals **
*********************************/

/**************
** BGN: a11y **
**************/
  /*
  del::before {
    content: " [deletion start] ";
  }
  del::after {
    content: " [deletion end] ";
  }
  s::before {
    content: " [start of stricken text] ";
  }
  s::after {
    content: " [end of stricken text] ";
  }
  */
/**************
** END: a11y **
**************/

/**************
** BGN: Last **
**************/
  hr { /* DONE */
    block-size: 0;
    border-block-start-width: 1px;
    box-sizing: content-box;
    clear: both;
    color: currentColor;
    margin-inline-start: auto; margin-inline-end: auto;
    margin-block-start: 0.5em; margin-block-end: 0.5em;
  }

  /* OpenType Superscript (sups) */
    sup, .superscript {
      font-variant-position: super;
    }

  /* OpenType Subscript (subs) */
    sub, .subscript {
      font-variant-position: sub;
    }

  /* Fractions */
    .fractions {
      font-variant-numeric: oldstyle-nums diagonal-fractions slashed-zero;
    }

  body :is(.smiley, .emoticon, .emoji) {
    display: inline flow-root;
    font-synthesis: none; /* do not allow any synthesis */
      font-style: normal; /* ensure there are no italic and oblique styles */
      font-weight: normal;  /* ensure there is no bold weight */
    font-variant-emoji: emoji;
    text-decoration: none; /* ensure there are no inherited decoration styles */
    text-shadow: none; /* ensure there are no inherited shadow effects */
    inline-size: 1em; block-size: 1em;
    margin-inline: .1em .05em; margin-block: 0;
    vertical-align: initial;
  }
/**************
** END: Last **
**************/
