@charset "UTF-8";
/*******************************************************************************
** YourOnly.One @font-face (youronlyone-font-face.css)                        **
**                                                                            **
** - by Yohan Yukiya Sese-Cuneta (https://im.youronly.one); Yelosan Publishing          **
*******************************************************************************/

/**
  * NOTES:
  *   1. @font-face src, we placed 'local' as last as the visitor might have an old version of the font.
  *       - only do this if you regularly update your webfonts
  *       - if the visitor turned-off webfonts, then it will use the 'local' if available on their system
  *   2. Maybe we can use these:
  *       font-family: ui-sans-serif;
  *       font-family: ui-serif;
  *       font-family: ui-monospace;
  *       font-family: ui-rounded;
  *       font-family: system-ui;
**/

/* BGN: Latin script */
  /** BGN: noto-sans **/
    @font-face {
      font-family: "noto-sans";
      src:  url("../fonts/NotoSans-Regular.otf") format("opentype"),
            url("../fonts/NotoSans-Regular.ttf") format("truetype"),
            local("Noto Sans");
      font-display: swap;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-sans";
      src:  url("../fonts/NotoSans-Bold.otf") format("opentype"),
            url("../fonts/NotoSans-Bold.ttf") format("truetype"),
            local("Noto Sans");
      font-display: swap;
      font-weight: bold;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-sans";
      src:  url("../fonts/NotoSans-Italic.otf") format("opentype"),
            url("../fonts/NotoSans-Italic.ttf") format("truetype"),
            local("Noto Sans");
      font-display: swap;
      font-style: italic;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-sans";
      src:  url("../fonts/NotoSans-Italic.otf") format("opentype"),
            url("../fonts/NotoSans-Italic.ttf") format("truetype"),
            local("Noto Sans");
      font-display: swap;
      font-style: oblique;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-sans";
      src:  url("../fonts/NotoSans-BoldItalic.otf") format("opentype"),
            url("../fonts/NotoSans-BoldItalic.ttf") format("truetype"),
            local("Noto Sans");
      font-display: swap;
      font-style: italic;
      font-weight: bold;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-sans";
      src:  url("../fonts/NotoSans-BoldItalic.otf") format("opentype"),
            url("../fonts/NotoSans-BoldItalic.ttf") format("truetype"),
            local("Noto Sans");
      font-display: swap;
      font-style: oblique;
      font-weight: bold;
      size-adjust: 100%;
    }
  /** END: noto-sans **/

  /** BGN: noto-serif **/
    @font-face {
      font-family: "noto-serif";
      src:  url("../fonts/NotoSerif-Regular.otf") format("opentype"),
            url("../fonts/NotoSerif-Regular.ttf") format("truetype"),
            local("Noto Serif");
      font-display: swap;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-serif";
      src:  url("../fonts/NotoSerif-Bold.otf") format("opentype"),
            url("../fonts/NotoSerif-Bold.ttf") format("truetype"),
            local("Noto Serif");
      font-display: swap;
      font-weight: bold;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-serif";
      src:  url("../fonts/NotoSerif-Italic.otf") format("opentype"),
            url("../fonts/NotoSerif-Italic.ttf") format("truetype"),
            local("Noto Serif");
      font-display: swap;
      font-style: italic;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-serif";
      src:  url("../fonts/NotoSerif-Italic.otf") format("opentype"),
            url("../fonts/NotoSerif-Italic.ttf") format("truetype"),
            local("Noto Serif");
      font-display: swap;
      font-style: oblique;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-serif";
      src:  url("../fonts/NotoSerif-BoldItalic.otf") format("opentype"),
            url("../fonts/NotoSerif-BoldItalic.ttf") format("truetype"),
            local("Noto Serif");
      font-display: swap;
      font-style: italic;
      font-weight: bold;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-serif";
      src:  url("../fonts/NotoSerif-BoldItalic.otf") format("opentype"),
            url("../fonts/NotoSerif-BoldItalic.ttf") format("truetype"),
            local("Noto Serif");
      font-display: swap;
      font-style: oblique;
      font-weight: bold;
      size-adjust: 100%;
    }
  /** END: noto-serif **/

  /** BGN: noto-sans-mono **/
    @font-face {
      font-family: "noto-sans-mono";
      src:  url("../fonts/NotoSansMono-Regular.ttf") format("opentype"),
            url("../fonts/NotoSansMono-Regular.ttf") format("truetype"),
            local("Noto Sans Mono"),
            local("Noto Mono"); /* old name */
      font-display: swap;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-sans-mono";
      src:  url("../fonts/NotoSansMono-Bold.ttf") format("opentype"),
            url("../fonts/NotoSansMono-Bold.ttf") format("truetype"),
            local("Noto Sans Mono"),
            local("Noto Mono"); /* old name */
      font-display: swap;
      font-weight: bold;
      size-adjust: 100%;
    }
  /** END: noto-sans-mono **/
/* END: Latin script */

/* BGN: Hebrew */
  @font-face {
    font-family: "phoenician-sans-noto";
    src:  url("../fonts/NotoSansPhoenician-Regular.otf") format("opentype"),
          url("../fonts/NotoSansPhoenician-Regular.ttf") format("truetype"),
          local("Noto Sans Phoenician");
    font-display: swap;
    size-adjust: 100%;
  }
  @font-face {
    font-family: "hebrew-sans-paleo-gezer";
    src:  url("../fonts/hebrew-paleo-gezer-pure-unicode-webfont.woff2") format("woff2"),
          url("../fonts/hebrew-paleo-gezer-pure-unicode-webfont.woff") format("woff"),
          url("../fonts/hebrew-paleo-gezer-pure-unicode-webfont.ttf") format("opentype"),
          local("Hebrew Paleo Gezer"), /* full font name */
          local("Hebrew-Paleo-Gezer"); /* Postscript name */
    font-display: swap;
    size-adjust: 100%;
    unicode-range: U+10900-1091F;
  }
  @font-face {
    font-family: "hebrew-sans-proto-canaanite";
    src:  url("../fonts/proto-canaanite-pure-unicode-webfont.woff2") format("woff2"),
          url("../fonts/proto-canaanite-pure-unicode-webfont.woff") format("woff"),
          url("../fonts/proto-canaanite-pure-unicode-webfont.ttf") format("opentype"),
          local("Proto Canaanite"), /* full font name */
          local("Proto-Canaanite"); /* Postscript name */
    font-display: swap;
    size-adjust: 100%;
    unicode-range: U+10900-1091F;
  }
/* END: Hebrew */

/* BGN: Pilipino */
  /** BGN: Noto Baybayin **/
    @font-face {
      font-family: "baybayin-noto";
      src:  url("../fonts/NotoSansBuhid-Regular.otf") format("opentype"),
            url("../fonts/NotoSansBuhid-Regular.ttf") format("truetype"),
            local("Noto Sans Buhid");
      font-display: swap;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "baybayin-noto";
      src:  url("../fonts/NotoSansHanunoo-Regular.otf") format("opentype"),
            url("../fonts/NotoSansHanunoo-Regular.ttf") format("truetype"),
            local("Noto Sans Hanunoo");
      font-display: swap;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "baybayin-noto";
      src:  url("../fonts/NotoSansTagalog-Regular.otf") format("opentype"),
            url("../fonts/NotoSansTagalog-Regular.ttf") format("truetype"),
            local("Noto Sans Tagalog");
      font-display: swap;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "baybayin-noto";
      src:  url("../fonts/NotoSansTagbanwa-Regular.otf") format("opentype"),
            url("../fonts/NotoSansTagbanwa-Regular.ttf") format("truetype"),
            local("Noto Sans Tagbanwa");
      font-display: swap;
      size-adjust: 100%;
    }
  /** END: Noto Baybayin **/

  /** BGN: Nordenx Baybayin **/
    @font-face {
      font-family: "baybayin-nordenx";
      src:  url("../fonts/baybayinmangyanbuhid-webfont.woff2") format("woff2"),
            url("../fonts/baybayinmangyanbuhid-webfont.woff") format("woff"),
            url("../fonts/baybayinmangyanbuhid-webfont.ttf") format("opentype"),
            local("Baybayin Mangyan Buhid"), /* full font name */
            local("BaybayinMangyanBuhid"); /* Postscript name */
      font-display: swap;
      unicode-range: U+1740-175F, U+1714, U+1734-1736, U+20B1;
    }
    @font-face {
      font-family: "baybayin-nordenx";
      src:  url("../fonts/baybayinmangyanhanubrush-webfont.woff2") format("woff2"),
            url("../fonts/baybayinmangyanhanubrush-webfont.woff") format("woff"),
            url("../fonts/baybayinmangyanhanubrush-webfont.ttf") format("opentype"),
            local("Baybayin Mangyan Hanubrush"), /* full font name */
            local("BaybayinMangyanHanubrush"); /* Postscript name */
      font-display: swap;
      unicode-range: U+1720-173F, U+1714, U+20B1;
    }
    @font-face {
      font-family: "baybayin-nordenx";
      src:  url("../fonts/baybayintagalogmodernclub-webfont.woff2") format("woff2"),
            url("../fonts/baybayintagalogmodernclub-webfont.woff") format("woff"),
            url("../fonts/baybayintagalogmodernclub-webfont.ttf") format("opentype"),
            local("Baybayin Modern Club"), /* full font name */
            local("BaybayinModernClub"); /* Postscript name */
      font-display: swap;
      unicode-range: U+1700-171F, U+1734-1736, U+20B1;
    }
  /** END: Nordenx Baybayin **/

  /** BGN: Barabara **/
    @font-face {
      font-family: "barabara";
      src:  url("../fonts/barabara-unicode-webfont.woff2") format("woff2"),
            url("../fonts/barabara-unicode-webfont.woff") format("woff"),
            url("../fonts/barabara-unicode-webfont.ttf") format("opentype"),
            local("BARABARA"); /* full font name */
      font-display: swap;
      size-adjust: 100%;
    }
  /** END: Barabara **/
/* END: Pilipino */

/* BGN: Symbols */
  /** BGN: Noto Sans Symbols 2 **/
    /* rarely used
    @font-face {
      font-family: "noto-sans-symbols2";
      src:  local("Noto Sans Symbols 2"),
            url("../fonts/NotoSansSymbols2-Regular.otf") format("opentype"),
            url("../fonts/NotoSansSymbols2-Regular.ttf") format("truetype");
      font-display: swap;
    }
    */
  /** END: Noto Sans Symbols 2 **/

  /** BGN: Noto Sans Symbols **/
    /* rarely used
    @font-face {
      font-family: "noto-sans-symbols";
      src:  local("Noto Sans Symbols"),
            url("../fonts/NotoSansSymbols-Regular.otf") format("opentype"),
            url("../fonts/NotoSansSymbols-Regular.ttf") format("truetype");
      font-display: swap;
      font-style: normal;
      font-weight: normal;
    }
    @font-face {
      font-family: "noto-sans-symbols";
      src:  local("Noto Sans Symbols"),
            url("../fonts/NotoSansSymbols-Bold.otf") format("opentype"),
            url("../fonts/NotoSansSymbols-Bold.ttf") format("truetype");
      font-display: swap;
      font-style: normal;
      font-weight: bold;
    }
    */
  /** END: Noto Sans Symbols **/
/* END: Symbols */

/* BGN: Math and Music */
  @font-face {
    font-family: "noto-sans-math";
    src:  url("../fonts/NotoSansMath-Regular.otf") format("opentype"),
          url("../fonts/NotoSansMath-Regular.ttf") format("truetype"),
          local("Noto Sans Math");
    font-display: swap;
    size-adjust: 100%;
  }
/* END: Math and Music */

/* BGN: Emoji */
  @font-face {
    font-family: "twemoji-color";
    src:  url("../fonts/TwitterColorEmoji-SVGinOT.ttf") format("opentype"),
          local("Twitter Color Emoji");
    font-display: swap;
    size-adjust: 100%;
  }
/* END: Emoji */
