/*******************************************************************************
** Theme vars (theme-vars.scss)                                               **
**                                                                            **
** - by Yuki (https://im.youronly.one); Yelosan Publishing                    **
*******************************************************************************/

@use "hugo:vars" as yp;

:root {
  /**
    * NOTES:
    *   - Make changes here.
    *   - Do not add generic fallback.
    *     - Already added in the font-family property.
    *     - Also opens up a slot for your custom fallback.
  **/

  /* BGN: font-family */
    /**
      * NOTE: var(--font-one, var(--font-two, sans-serif)); is all or nothing
      *   - if a single character matches the first var, the fallback isn't used even if a glyph is missing in the first match
      *     - Using the example above, if “A” is in --font-one, but “B” is not, it won't check var(--font-two).
      *   - As of 2024-04-24 UTC+8.
      *
      * Solution:
      *   - manually declare a combined var instead of relying on this format: var(--font-one, var(--font-two, sans-serif));
      *   - Untested format
      *     - font-family: var(--font-one), var(--font-two), sans-serif;
    **/
    --font-sans-default: var(--font-sans-noto), sans-serif;
    --font-serif-default: var(--font-serif-noto), serif;
    --font-mono-sans-default: var(--font-mono-sans-noto), monospace, monospace;

    --font-latn-sans-default: var(--font-latn-sans-noto), sans-serif;
    --font-latn-fantasy-default: var(--font-latn-fantasy-barabara), var(--font-serif-noto), fantasy;

    --font-hans-sans-default: var(--font-hans-sans-noto), sans-serif;
    --font-hant-sans-default: var(--font-hant-sans-noto), sans-serif;
    --font-hant-hk-sans-default: var(--font-hant-hk-sans-noto), sans-serif;
    --font-bopo-sans-default: var(--font-bopo-sans-noto), sans-serif;
    --font-hans-sans-default-fangsong-rotated: var(--font-hans-sans-noto-fangsong-rotated);
    --font-hans-sans-default-fangsong-vertical: var(--font-hans-sans-noto-fangsong-vertical);

    --font-kana-sans-default: var(--font-kana-sans-noto), sans-serif;
    --font-hang-sans-default: var(--font-hang-sans-noto), sans-serif;
    --font-kana-serif-default: var(--font-kana-serif-noto), serif;
    --font-hang-serif-default: var(--font-hang-serif-noto), serif;

    --font-hebr-sans-default: var(--font-hebr-sans-noto), sans-serif;
    --font-hebr-serif-default: var(--font-hebr-serif-noto), serif;

    --font-grek-sans-default: var(--font-grek-sans-noto), sans-serif;
    --font-grek-serif-default: var(--font-grek-serif-noto), serif;

    --font-pilipino-sans-default: var(--font-pilipino-sans-noto), sans-serif;
    --font-baybayin-sans-default: var(--font-baybayin-sans-noto), sans-serif;

    --font-math-sans-default: var(--font-math-sans-noto), math;
    --font-music-default: var(--font-music-noto);

    --font-emoji-default: var(--font-emoji-combined), emoji;
  /* END: font-family */

  /* BGN: colours */
    /*
    --theme-dark-bg: var(--color-black);
    --theme-dark-txt: var(--color-green);
    */
    --theme-dark-bg: var(--color-white);
    --theme-dark-txt: var(--color-black);

    --theme-light-bg: var(--color-white);
    --theme-light-txt: var(--color-black);

    --headings-text-color: #723d29;
    --headings-text-shadow-color: var(--color-black);

    --body-text-color: var(--color-black);
    --body-text-shadow-color: var(--color-grey-light);

    --p-first-letter-text-color: var(--color-lime);
    --p-first-letter-text-fill-color: var(--color-black);
    --p-first-letter-text-shadow-color: var(--color-lime);
    --p-first-letter-text-stroke-color: var(--color-green);

    --skipnav-background-color: var(--color-indigo-dye);
    --mainmenu-background-color: var(--color-black);
    --mainmenu-box-shadow-color: var(--color-white);
  /* END: colours */

  /* BGN: other settings */
    --link-color: #446625;
    --link-cursor: crosshair;
    --link-decoration-color: var(--color-blue);
    --link-decoration-line: none;
    --link-decoration-style: dashed;

    --link-color-hover: var(--color-blue);
    --link-decoration-color-hover: var(--color-red);
    --link-decoration-line-hover: overline underline;
    --link-decoration-style-hover: solid;
  /* END: other settings */
}
