{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>BGN</b>: <code>/layouts/partials/post/comments.html</code></p>
{{- end }}

<div class="yp-indieweb">
  <p>indieweb section</p>
</div>

<div class="yp-disqus">
  <p>disqus</p>
</div>

{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>END</b>: <code>/layouts/partials/post/comments.html</code></p>
{{- end }}
