{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>BGN</b>: <code>/layouts/partials/post/post-meta.html</code></p>
{{- end }}
{{- $datetimeformat := `2006-01-02` }}
{{- $datetimeformat_utc := `2006-01-02T15:04:05Z07:00` }}
<div class="post-meta">
  <small>
    {{ if eq .postmeta `header` }}
      {{- /* BGN: Post Meta Header */}}
        <div class="post-details">
          {{ if not .dot.PublishDate.IsZero }}published on <time class="dt-published" datetime="{{ .dot.PublishDate.UTC.Format $datetimeformat_utc }}">{{ time.Format $datetimeformat (.dot.PublishDate.UTC.Add (time.ParseDuration .dot.Site.Params.tzOffset)) }} <abbr{{ with .dot.Site.Params.tzAbbrTitle }} title="{{ printf `%s` . }}"{{ end }}>{{ .dot.Site.Params.tzAbbr }}</abbr></time>{{ end }}

          {{ if ne (.dot.PublishDate.Format $datetimeformat) (.dot.Lastmod.Format $datetimeformat) }}
            {{ if not .dot.Lastmod.IsZero }}| updated on <time class="dt-updated" datetime="{{ .dot.Lastmod.UTC.Format $datetimeformat_utc }}">{{ time.Format $datetimeformat (.dot.Lastmod.UTC.Add (time.ParseDuration .dot.Site.Params.tzOffset)) }} <abbr{{ with .dot.Site.Params.tzAbbrTitle }} title="{{ printf `%s` . }}"{{ end }}>{{ .dot.Site.Params.tzAbbr }}</abbr></time>{{ end }}
          {{ end }}
        </div>

        <nav aria-label="Article Categories" class="list-horizontal yp-post-taxonomy">
          {{ with .dot.GetTerms `categories` }}
            Categories:
            <ul>
              {{ range $i, $_ := . }}{{ if $i }}, {{- end }}
                <li><a rel="tag" class="p-category yp-post-taxonomy--category" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
              {{- end }}
            </ul>
          {{- end }}
        </nav>
      {{- /* END: Post Meta Header */}}
    {{ else if eq .postmeta `footer` }}
      {{- /* BGN: Post Meta Footer */}}
        {{ with .dot.GetTerms `tags` }}
          <nav aria-label="Article Tags" class="list-horizontal yp-post-taxonomy">
            Tags:
            <ul>
              {{ range $i, $_ := . }}{{ if $i }}, {{- end }}
                <li><a rel="tag" class="p-category yp-post-taxonomy--tag" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
              {{- end }}
            </ul>
          </nav>
        {{- end }}

        <span class="p-author h-card yp-post-author"><a rel="author" href="#">
          <picture>
            <source type="image/svg+xml" srcset="/img.svg">
            <source type="image/avif" srcset="/img.avif">
            <source type="image/webp" srcset="/img.webp">
            <source type="image/apng" srcset="/img.apng">
            <source type="image/png" srcset="/img.png">
            <source type="image/gif" srcset="/img.gif">
            <img class="u-photo yp-post-author__image" type="image/jpeg" alt="" loading="lazy" decoding="async" width="" height="" src="/img.jpeg">
          </picture> {{ .dot.Params.author }}</a>
        </span>
      {{- /* END: Post Meta Footer */}}
    {{- end }}
  </small>
</div>
{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>END</b>: <code>/layouts/partials/post/post-meta.html</code></p>
{{- end }}
