{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>BGN</b>: <code>/layouts/partials/post/post-header.html</code></p>
{{- end }}

{{- $featuredtitle := .Params.featuredtitle }}
{{- $featuredcaption := .Params.featuredcaption }}
<h2 class="p-name yp-post-title"><a rel="bookmark" class="u-url" href="{{ .Permalink }}">{{ .Title }}</a></h2>
<div class="yp-featured-container">
  {{- /*
    NOTES:
      * Since the featured image/video may not be related to the article,
          we should not use the `figure` element.
  */}}
  <picture>
    <source type="image/svg+xml" srcset="/img.svg">
    <source type="image/avif" srcset="/img.avif">
    <source type="image/webp" srcset="/img.webp">
    <source type="image/apng" srcset="/img.apng">
    <source type="image/png" srcset="/img.png">
    <source type="image/gif" srcset="/img.gif">
    <img class="u-featured yp-post-image--featured" type="image/jpeg" alt="" loading="lazy" decoding="async" width="" height="" src="/img.jpeg">
    {{/* NOTE: Developers are encouraged to specify a preferred aspect ratio via width and height attributes on lazy loaded images, even if CSS sets the image's width and height properties, to prevent the page layout from shifting around after the image loads. */}}
  </picture>
  <figcaption>
    {{ with $featuredtitle }}<p><cite><b>{{ . | markdownify }}</b></cite></p>{{ end }}
    {{ with $featuredcaption }}<p><i>{{ . | markdownify }}</i></p>{{ end }}
  </figcaption>
</figure>

{{- partial "post/post-meta.html" (dict "postmeta" "header" "dot" . ) }}

{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>END</b>: <code>/layouts/partials/post/post-header.html</code></p>
{{- end }}
