<!doctype html>
<html class="h-feed no-js" lang="en-ph" dir="ltr" prefix="schema: http://schema.org/ v: http://rdf.data-vocabulary.org/# vcard: http://www.w3.org/2006/vcard/ns# foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns#{{ if in .Site.Params.mainTypes .Type }} article: https://ogp.me/ns/article#{{ end }} cc: http://creativecommons.org/ns#">
  <head>
    <meta charset="utf-8">
    <link rel="canonical" href="https://im.youronly.one">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'"> -->
    <meta name="referrer" content="strict-origin-when-cross-origin">
    <!-- BGN: translations -->
      <link rel="alternate" href="/hangugeo" hreflang="ko">
      <link rel="alternate" href="/nihongo" hreflang="ja">
      <link rel="alternate" href="/" hreflang="x-default">
    <!-- END: translations -->
    <!-- BGN: alternative outputs -->
      <link rel="feed" type="atom" href="/feed">
    <!-- END: alternative outputs -->
    <link rel="self" href="https://im.youronly.one/">
    <!-- BGN: IndieWeb -->
      <link rel="alternate" type="application/activity+json" href="https://fed.brid.gy/r/permalink-to-current-page">
      <link rel="alternate" type="application/activity+json" href="https://web.brid.gy/r/permalink-to-current-page">
      <link rel="hub" href="https://pubsubhubbub.appspot.com/">
      <link rel="hub" href="https://pubsubhubbub.superfeedr.com/">
      <link rel="webmention" href="https://webmention.io/example.com/webmention">
      <link rel="pingback" href="https://webmention.io/example.com/xmlrpc">
      <link rel="indieauth-metadata authorization_endpoint" href="https://indieauth.com/auth">
      <link rel="openid.delegate" href="https://example.com/">
      <link rel="openid.server" href="https://openid.indieauth.com/openid">
    <!-- END: IndieWeb -->
    <!-- BGN: Verifications -->
      <meta name="flattr:id" content="{{ . }}">
      <meta name="follow.it-verification-code" content="{{ . }}">
      <meta name="google-site-verification" content="{{ . }}">
      <meta name="msvalidate.01" content="{{ . }}">
      <meta name="naver-site-verification" content="{{ . }}">
      <meta name="ocs-site-verification" content="{{ . }}">
      <meta name="p:domain_verify" content="{{ . }}">
      <meta name="wot-verification" content="{{ . }}">
      <meta name="yandex-verification" content="{{ . }}">
    <!-- END: Verifications -->
    <!-- NOTE: above is fixed in order -->

    <!-- BGN: Post and Site meta -->
      <meta name="robots" content="index">
      <meta name="modified" content="2006-01-02T15:04:05Z07:00">
      <meta name="created" content="2006-01-02T15:04:05Z07:00">
      <link rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">

      <title>🛖 Page | Site 🛸</title>
    <!-- END: Post and Site meta -->

    <!-- BGN: Preconnect -->
      <!-- <link rel="preconnect" crossorigin href="https://fonts.bunny.net"> -->
      <link rel="preconnect" crossorigin href="https://fonts.googleapis.com">
      <link rel="preconnect" crossorigin href="https://fonts.gstatic.com">
      <link rel="preconnect" crossorigin href="https://cdn.jsdelivr.net">
      <link rel="dns-prefetch" crossorigin href="https://unpkg.com">
      <link rel="dns-prefetch" crossorigin href="https://cdnjs.cloudflare.com">
      <link rel="dns-prefetch" crossorigin href="https://ajax.cloudflare.com">
    <!-- END: Preconnect -->

    <!-- BGN: fonts -->
      <!-- font-family: "Noto Sans", sans-serif; -->
        <link rel="preload" as="style" crossorigin href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap">
        <link rel="stylesheet" media="all" crossorigin href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap">

      <!-- font-family: "Noto Sans JP", sans-serif; -->
        <link rel="preload" as="style" crossorigin href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap">
        <link rel="stylesheet" media="all" crossorigin href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap">

      <!-- font-family: "Noto Sans KR", sans-serif; -->
        <link rel="preload" as="style" crossorigin href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">
        <link rel="stylesheet" media="all" crossorigin href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap">

      <!-- font-family: "Noto Sans Phoenician", "Noto Sans Hebrew", sans-serif; -->
        <link rel="preload" as="style" crossorigin href="https://fonts.googleapis.com/css2?family=Noto+Sans+Phoenician&family=Noto+Sans+Hebrew:wght@400;700&display=swap">
        <link rel="stylesheet" media="all" crossorigin href="https://fonts.googleapis.com/css2?family=Noto+Sans+Phoenician&family=Noto+Sans+Hebrew:wght@400;700&display=swap">

      <!-- font-family: "Noto Sans Tagalog", "Noto Sans Tagbanwa", "Noto Sans Buhid", "Noto Sans  Hanunoo", sans-serif; -->
        <link rel="preload" as="style" crossorigin href="https://fonts.googleapis.com/css2?family=Noto+Sans+Tagalog&family=Noto+Sans+Tagbanwa&family=Noto+Sans+Buhid&family=Noto+Sans+Hanunoo&display=swap">
        <link rel="stylesheet" media="all" crossorigin href="https://fonts.googleapis.com/css2?family=Noto+Sans+Tagalog&family=Noto+Sans+Tagbanwa&family=Noto+Sans+Buhid&family=Noto+Sans+Hanunoo&display=swap">

      <!-- font-family: "Bungee Spice", sans-serif; -->
        <link rel="preload" as="style" crossorigin href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap">
        <link rel="stylesheet" media="all" crossorigin href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap">

      <!-- font-family: "Honk", system-ui; -->
        <link rel="preload" as="style" crossorigin href="https://fonts.googleapis.com/css2?family=Honk&display=swap">
        <link rel="stylesheet" media="all" crossorigin href="https://fonts.googleapis.com/css2?family=Honk&display=swap">

      <!-- font-family: "Noto Sans Mono", monospace; -->
        <link rel="preload" as="style" crossorigin href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&display=swap">
        <link rel="stylesheet" media="all" crossorigin href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&display=swap">

      <!-- font-family: "Noto Color Emoji", sans-serif; -->
        <link rel="preload" as="style" crossorigin href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap">
        <link rel="stylesheet" media="all" crossorigin href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap">
    <!-- END: fonts -->

    <link rel="stylesheet" type="text/css" media="all" href="rsc/css/youronlyone-font-face.css">
    <link rel="stylesheet" type="text/css" media="all" href="rsc/css/youronlyone-vars.css">
    <link rel="stylesheet" type="text/css" media="all" href="rsc/css/youronlyone-base.css">
    <link rel="stylesheet" type="text/css" media="all" href="rsc/css/themestyle.css">

    <!-- BGN: favicons -->
      <meta name="theme-color" content="#000" media="(prefers-color-scheme: dark)">
      <meta name="theme-color" content="#fff" media="(prefers-color-scheme: light)">
      <meta name="msapplication-config" content="">
      <link rel="icon" type="svg" sizes="any" crossorigin href="favicon.svg">
      <link rel="icon" type="png" sizes="192x192" crossorigin href="android-chrome192.png">
      <link rel="apple-touch-icon" type="png" sizes="180x180" crossorigin href="appletouch.png">
      <link rel="icon" type="png" sizes="32x32" crossorigin href="favicon32.png">
      <link rel="icon" type="png" sizes="16x16" crossorigin href="favicon16.png">
      <link rel="mask-icon" type="svg" color="#5bbad5" crossorigin href="safari.svg">
      <link rel="shortcut icon" type="ico" crossorigin href="favicon.ico">
      <meta name="application-name" content="Site name">
      <meta name="apple-mobile-web-app-title" content="Site name">
    <!-- END: favicons -->

    <!-- BGN: geotags -->
      <meta name="DC.title" content="Site name">
      <meta name="geo.region" content="PH-00">
      <meta name="geo.placename" content="Angeles City">
      <meta name="geo.position" content="LAT;LONG">
      <meta name="ICBM" content="LAT, LONG">
    <!-- END: geotags -->

    <!-- BGN: nojs test -->
      <script type="module">
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
      </script>
      <script type="nomodule">
        ( function (e) {
            e.className = e.className.replace('no-js', 'js');
          }
          (document.documentElement)
        );
      </script>
    <!-- END: nojs test -->
  </head>

  <body>
    <div class="skipnav">Skip to <a href="#main-content">content</a> or <a href="#site-footer">footer</a>.</div>
    <div class="site-container">
      <div class="header-container">
        <header class="site-header">
          <!-- BGN: site-topbar -->
          <div class="site-topbar">
            <div class="left">
              <!-- BGN: logo -->
              <a rel="home" class="site-logo" title="to homepage" href="https://localhost:1313">
                <!-- link to home: http://microformats.org/wiki/rel-home -->
                <div class="placeholder img250x30">250x30 logo</div>
                <!-- vector image with bitmap fallback: https://twitter.com/scottjehl/status/369190249437483008 -->
                <!-- specify image dimensions for performance: http://www.feedthebot.com/pagespeed/image-dimensions.html -->
              </a>
              <!-- END: logo -->
            </div>
            <div class="middle">
              <!-- BGN: nav main-menu -->
              <nav aria-label="Main menu" class="main-menu">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Work &dtrif;</a>
                    <ul class="dropdown">
                      <li><a href="#">Web Development</a></li>
                      <li><a href="#">Web Design</a></li>
                      <li><a href="#">Illustration</a></li>
                      <li><a href="#">Iconography</a></li>
                    </ul>
                  </li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
              <!-- END: nav main-menu -->
            </div>
            <div class="right">
              <!-- BGN: search -->
              <!-- NOTE: role="search" in <form> is no longer needed if there is <search> element -->
              <search>
                <form id="search" method="GET" action="https://www.example.com/search" class="search-menu-form">
                  <label>
                    <input type="search" name="q" placeholder="keyword(s)">
                  </label>
                  <button>
                    <span>Go</span>
                  </button>
                </form>
              </search>
              <!-- END: search -->
            </div>
          </div>
          <!-- END: site-topbar -->

          <!-- BGN: site-branding -->
          <div class="h-card site-branding">
            <div class="author-avatar">
              <figure>
                <!-- <img class="u-photo" src="/photo.jpg" alt=""> -->
                <div class="placeholder img100x100">avatar 100x100</div>
              </figure>
            </div>
            <div class="author-info">
              <h1 class="p-name site-title">
                <a href="#" class="u-url u-id"><span class="emoji">🛖</span><span class="emoji">♾️</span> Author Name <span class="emoji">🇵🇭</span><span class="emoji">🛸</span></a>
              </h1>
              <h2 class="p-note site-description">
                <span class="emoji">🫶🏽</span> The author is a developer. <span class="emoji">🐦‍🔥</span>
              </h2>
              <h3 class="p-note site-description2">
                <span class="emoji">🫰🏽</span> Who watches K-drama and J-drama while coding. <span class="emoji">🍋‍🟩</span>
              </h3>
            </div>
          </div>
          <!-- END: site-branding -->
          <!-- BGN: socials -->
          <div class="rel-me-icons">
            <a href="" rel="me">User Github</a>
            <a href="" rel="me">User Twitter</a>
            <a href="" rel="me">User Facebook</a>
          </div>
          <!-- END: socials -->
        </header>
        <!-- BGN: breadcrumbs -->
        <nav aria-label="Breadcrumbs" id="breadcrumbs" class="nav-breadcrumbs">
          <p>1 > 2 > 3</p>
        </nav>
        <!-- END: breadcrumbs -->
      </div>

      <div class="main-wrapper">
        <div class="sidebar-inline-end-container">
          <aside class="sidebar-inline-end--top">
            <span class="" lang="">Available in:</span>
            <nav>
              <ul>
                <!-- NOTES:
                  * We added `width` and `height` in case the user disabled CSS.
                  * It will prevent the SVG `img` from displaying its default size.
                  * If CSS is enabled, it takes priority.
                -->
                <li lang="en-PH" title="Philippine English"><img width="7%" height="7%" alt="Philippine English" src="rsc/img/icons/lang-icon-latin.svg">Philippine English</li>
                <li lang="fil" title="Filipino"><img alt="Filipino" width="7%" height="7%" src="rsc/img/icons/lang-icon-latin.svg">Filipino</li>
                <li lang="tl-Tglg" title="ᜊᜌ᜔ᜊᜌᜒᜈ᜔ ᜆᜄᜎᜓᜄ᜕"><img alt="ᜊᜌ᜔ᜊᜌᜒᜈ᜕" width="7%" height="7%" src="rsc/img/icons/lang-icon-baybayin.svg">ᜊᜌ᜔ᜊᜌᜒᜈ᜔ ᜆᜄᜎᜓᜄ᜕</li>
                <li lang="ko" title="한국어"><img alt="한국어" width="7%" height="7%" src="rsc/img/icons/lang-icon-hangeul.svg">한국어</li>
                <li lang="ja" title="日本語"><img alt="日本語" width="7%" height="7%" src="rsc/img/icons/lang-icon-katakana.svg">日本語</li>
              </ul>
            </nav>
          </aside>
          <aside class="sidebar-inline-end--middle">
            <nav>
              <ul>
                <li>Heading</li>
                <li>Sub-heading</li>
                <li>Option 1</li>
                <li>Option 2</li>
                <li>Conclusion</li>
              </ul>
            </nav>
          </aside>
          <div class="sidebar-inline-end--bottom">
            <div>
              <p>Now listening</p>

              <p>Song 1</p>
              <p>Song 2</p>
            </div>

            <div>
              <p>Now watching</p>

              <p>TV 1</p>
              <p>Movie 1</p>
            </div>

            <div>
              <p>Now reading</p>

              <p>Book 1</p>
              <p>Book 2</p>
            </div>
          </div>
        </div>

        <main id="main-content" class="main-content">
          <!-- BGN: article -->
          <article class="h-entry post">
            <!-- BGN: post-header -->
            <section class="post-header">
              <h1 class="p-name post-title"><a rel="bookmark" class="u-url" href="#">POST TITLE</a></h1>
              <!-- BGN: Post Cover / Featured Image/Video -->
              <figure>
                <picture>
                  <source type="image/svg+xml" srcset="/img.svg">
                  <source type="image/avif" srcset="/img.avif">
                  <source type="image/webp" srcset="/img.webp">
                  <source type="image/apng" srcset="/img.apng">
                  <source type="image/png" srcset="/img.png">
                  <source type="image/gif" srcset="/img.gif">
                  <img class="u-featured post__image--featured" type="image/jpeg" alt="" loading="lazy" decoding="async" width="" height="" src="/img.jpeg">
                </picture>
                <figcaption>
                  <p>Some figure caption here.</p>
                </figcaption>
              </figure>
              <!-- END: Post Cover / Featured Image/Video -->

              <!-- BGN: post-meta -->
              <div class="post-meta">
                by <span class="p-author h-card post-author"><a rel="author" href="#">
                  <picture>
                    <source type="image/svg+xml" srcset="/img.svg">
                    <source type="image/avif" srcset="/img.avif">
                    <source type="image/webp" srcset="/img.webp">
                    <source type="image/apng" srcset="/img.apng">
                    <source type="image/png" srcset="/img.png">
                    <source type="image/gif" srcset="/img.gif">
                    <img class="u-photo post-author__image" type="image/jpeg" alt="" loading="lazy" decoding="async" width="" height="" src="/img.jpeg">
                  </picture>
                  author name</a>
                </span>
                on <time class="dt-published post-time--published" datetime="2013-06-13 12:00:00">13th June 2013</time>
                last updated <time class="dt-updated post-time--updated" datetime="2013-06-13 12:00:00">13th June 2013</time>
                Categories: <a rel="tag" class="p-category post-taxonomy--category" href="">Category 1</a>,
                            <a rel="tag" class="p-category post-taxonomy--category" href="">Category 2</a>
              </div>
              <!-- END: post-meta -->
            </section>
            <!-- END: post-header -->

            <section class="p-summary post-summary">
              <p>This is a post summary.</p>
            </section>

            <section class="e-content post-content">
              <h2 class="font-barabara-fantasy">Barabara font</h2>
              <p class="font-barabara-fantasy">This is the barabara font.</p>


              <h2 lang="tl">Tagalog <span lang="en">Pangram</span></h2>
              <p lang="tl">
                Ang bawat rehistradong kalahok sa patimpalak ay umaasang magantimpalaan ng ñino.
              </p>

              <h2 lang="tl-Tglg">ᜊᜌ᜔ᜊᜌᜒᜈ᜔ ᜆᜄᜎᜓᜄ᜔ ᜉᜅ᜔ᜍᜋ᜕</h2>
              <p lang="tl-Tglg">
                ᜀᜅ᜔ ᜊᜏᜆ᜔ ᜍᜒᜑᜒᜐ᜔ᜆ᜔ᜍᜇᜓᜅ᜔ ᜃᜎᜑᜓᜃ᜔ ᜐ ᜉᜆᜒᜋ᜔ᜉᜎᜃ᜔ ᜀᜌ᜔ ᜂᜋᜀᜐᜅ᜔ ᜋᜄᜈ᜔ᜆᜒᜋ᜔ᜉᜎᜀᜈ᜔ ᜈᜅ᜔ <span lang="tl">ñino</span>᜶
              </p>

              <h2 lang="ko">코리안팡람</h2>
              <p lang="ko">
                키스의 고유조건은 입술끼리 만나야 하고 특별한 기술은 필요치 않다.
              </p>

              <h2 lang="ja">ひらがなのパングラム</h2>
              <p lang="ja">
                いろはにほへと ちりぬるを わかよたれそ つねならむ うゐのおくやま けふこえて あさきゆめみし ゑひもせす（ん）
              </p>

              <h2 lang="ja">ひらがなのパングラムと漢字</h2>
              <p lang="ja">
                色は匂へど 散りぬるを 我が世誰ぞ 常ならむ 有為の奥山 今日越えて 浅き夢見じ 酔ひもせず（ん）
              </p>

              <h2 lang="hbo-Phnx" dir="rtl">𐤏𐤁𐤓𐤉𐤕 <span lang="en" dir="ltr">Pangram</span> 𐤍𐤊𐤕𐤁 𐤁𐤐𐤋𐤀𐤅-𐤏𐤁𐤓𐤉𐤕</h2>
              <p lang="hbo-Phnx" dir="rtl">
                𐤋𐤊𐤍 𐤇𐤊𐤅 𐤋𐤉 𐤍𐤀𐤌 𐤉𐤄𐤅𐤄 𐤋𐤉𐤅𐤌 𐤒𐤅𐤌𐤉 𐤋𐤏𐤃, 𐤊𐤉 𐤌𐤔𐤐𐤈𐤉 𐤋𐤀𐤎𐤐 𐤂𐤅𐤉𐤌 𐤋𐤒𐤁𐤑𐤉 𐤌𐤌𐤋𐤊𐤅𐤕, 𐤋𐤔𐤐𐤊 𐤏𐤋𐤉𐤄𐤌 𐤆𐤏𐤌𐤉 𐤊𐤋 𐤇𐤓𐤅𐤍 𐤀𐤐𐤉, 𐤊𐤉 𐤁𐤀𐤔 𐤒𐤍𐤀𐤕𐤉 𐤕𐤀𐤊𐤋 𐤊𐤋 𐤄𐤀𐤓𐤑
              </p>

              <h2 lang="he" dir="rtl">פנגרם עברי מודרני</h2>
              <p lang="he" dir="rtl">
                לכן חכו לי נאם יהוה ליום קומי לעד, כי משפטי לאסף גוים לקבצי ממלכות, לשפך עליהם זעמי כל חרון אפי, כי באש קנאתי תאכל כל הארץ
              </p>

            </section>

            <!-- BGN: post-footer -->
            <section class="post__footer">
              <!-- BGN: post-meta -->
              <div class="post-meta">
                Tags: <a rel="tag" class="p-category post-taxonomy--tag" href="">Tag 1</a>,
                      <a rel="tag" class="p-category post-taxonomy--tag" href="">Tag 2</a>
              </div>
              <!-- END: post-meta -->

              <div class="syndication-links">
                <p>Syndicated to:</p>
                <a rel="external noopener" class="u-syndication" href=""><img alt="" src=""></a>
                <a rel="external noopener" class="u-syndication" href=""><img alt="" src=""></a>
              </div>
            </section>
            <!-- END: post-footer -->
          </article>
          <!-- END: article -->
        </main>
      </div>

      <!-- BGN: site-footer -->
      <footer id="site-footer" class="site-footer">
        <p>
          Copyleft 2024

          <!-- BGN: my name -->
            <ruby class="ruby-position--under" translate="no">
              <rb>
                <ruby class="ruby-position--over">
                  <rb lang="he-Latn">Yáhuhánan</rb>
                  <rp>(</rp>
                  <rt lang="he">יהוחנן</rt>
                  <rp>)</rp>
                </ruby>
              </rb>
              <rp>(</rp>
              <rt lang="ko">
                <ruby>
                  <rb>요한</rb>
                  <rp>(</rp>
                  <rt lang="ko-Latn">yo-han</rt>
                  <rp>)</rp>
                </ruby>
              </rt>
              <rp>)</rp>
            </ruby>

            <ruby class="ruby-position--under" translate="no">
              <rb>
                <ruby class="ruby-position--over">
                  <rb lang="ja-Latn">Yukiyá</rb>
                  <rp>(</rp>
                  <rt lang="ja-Hani">
                    <ruby>
                      <rb>雪亮</rb>
                      <rp>(</rp>
                      <rt lang="ja-Hira">ゆきあ</rt>
                      <rp>)</rp>
                    </ruby>
                  </rt>
                  <rp>)</rp>
                </ruby>
              </rb>
              <rp>(</rp>
              <rt lang="ko">
                <ruby>
                  <rb>유키야</rb>
                  <rp>(</rp>
                  <rt lang="ko-Latn">yu-ki-ya</rt>
                  <rp>)</rp>
                </ruby>
              </rt>
              <rp>)</rp>
            </ruby>

            <ruby class="ruby-position--under" translate="no">
              <rb>
                <ruby class="ruby-position--over">
                  <rb lang="fil">Sése</rb>
                  <rp>(</rp>
                  <rt lang="zh-Hant">
                    <ruby>
                      <rb>謝</rb>
                      <rp>(</rp>
                      <rt lang="zh-Latn">xiè</rt>
                      <rp>)</rp>
                    </ruby>
                  </rt>
                  <rp>)</rp>
                </ruby>
              </rb>
              <rp>(</rp>
              <rt lang="ko">
                <ruby>
                  <rb>사</rb>
                  <rp>(</rp>
                  <rt lang="ko-Latn">sa</rt>
                  <rp>)</rp>
                </ruby>
              </rt>
              <rp>)</rp>
            </ruby>

            <ruby class="ruby-position--under" translate="no">
              <rb>
                <ruby class="ruby-position--over">
                  <rb lang="fil">Cunetá</rb>
                  <rp>(</rp>
                  <rt lang="fil-Tglg">
                    <ruby>
                      <rb>ᜃᜓᜈᜒᜆ</rb>
                      <rp>(</rp>
                      <rt lang="fil">ku·ne·tá</rt>
                      <rp>)</rp>
                    </ruby>
                  </rt>
                  <rp>)</rp>
                </ruby>
              </rb>
            </ruby>
          <!-- END: my name -->

          . All Rights Reserved.
        </p>
      </footer>
      <!-- END: site-footer -->
    </div>

    <!-- BGN: scripts -->
      <!-- scripts go here -->
    <!-- END: scripts -->
    <!-- BGN: analytics -->
      <!-- analytics go here -->
    <!-- END: analytics -->
  </body>
</html>
