<!DOCTYPE html>
<html class="h-feed no-js" lang="{{ site.Language.LanguageCode }}" dir="{{ site.Language.LanguageDirection `ltr` }}" prefix="schema: http://schema.org/ v: http://rdf.data-vocabulary.org/# vcard: http://www.w3.org/2006/vcard/ns# foaf: http://xmlns.com/foaf/0.1/ og: http://ogp.me/ns#{{ if in .Site.Params.mainTypes .Type }} article: https://ogp.me/ns/article#{{ end }} cc: http://creativecommons.org/ns#">
  <head>
    <meta charset="utf-8">
    <link rel="canonical" href="{{ with .Params.relcanonical }}{{ . }}{{ else }}{{ .Permalink }}{{ end }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{- /* NOTE: It is better to set this on the server
      {{ if hugo.IsServer }}<meta http-equiv="Content-Security-Policy" content="default-src 'self'">{{- end }}
    */}}
    <meta name="referrer" content="strict-origin-when-cross-origin">
    {{ with .Params.redirectto }}<meta http-equiv="refresh" content="0; url='{{ . }}'">{{ end }}
    {{- partial "head/outputs.html" . }}
    {{ if site.Params.indieweb.enable }}{{- partialCached "head/indieweb.html" . }}{{- end }}
    {{ if site.Params.verifications.enable }}{{- partialCached "head/verifications.html" . }}{{- end }}
    {{- /* NOTE: above is fixed in order */}}

    {{ hugo.Generator }}
    {{ if hugo.IsServer }}<meta http-equiv="cache-control" content="no-cache">{{- end }}
    {{- partial "head/head-meta.html" . }}

    {{- partialCached "head/preconnect.html" . }}
    {{- partialCached "head/fonts.html" . }}
    {{- partialCached "head/themestyle.html" . }}
    {{- partialCached "head/favicons.html" . }}
    {{ if site.Params.geotags.enable }}{{- partialCached "head/geotags.html" . }}{{- end }}

    {{- partial "globals/scripts-head.html" . }}
    {{- partialCached "head/nojs.html" . }}
  </head>

  <body>
    <div class="yp-nav-skip">Skip to <a href="#main-content">content</a> or <a href="#site-footer">footer</a>.</div>

    <div class="center-container">
      <div class="yp-site-container">
        {{/* NOTES:
          Format: class="microformats-label styling-class"

          Microformats
            * see:
              * https://microformats.org/wiki/microformats2
              * https://microformats.org/wiki/h-entry
            * Do not use microformats class names for styling.
            * Use semantic class names for styling:
              * .post > .post__header > .post-title
              * .post .post__image--featured

          rel="" attribute
            * see: https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/rel

          ARIA roles
            * see:
              * https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques
              * https://developer.mozilla.org/en-US/docs/Web/HTML/Element/main
              * https://www.w3.org/WAI/ARIA/apg/patterns/landmarks/examples/main.html
        */}}
        <header class="yp-site-header">
          {{- partialCached "site/site-header.html" . }}

          <div class="yp-nav-breadcrumbs-container">
            {{- partial "nav/breadcrumbs.html" . }}
          </div>
        </header>

        <div class="yp-site-body">
          <div class="yp-widget-translation-container">
            {{- partial "widgets/translations.html" . }}
          </div>
          {{ if and (gt .WordCount 100 ) (.Params.toc) }}
            <aside class="yp-nav-toc-container">
              {{- partial "nav/toc.html" . }}
            </aside>
          {{- end }}

          <main id="main-content" class="yp-main-content">
            {{- block "main-content" . }}{{- end }}
          </main>

          <div class="yp-widgetbar02-container">
            {{- /* NOTE: maybe we can use partialCached for this */}}
            {{- partial "site/widgetbar02.html" . }}
          </div>
        </div>

        <footer id="site-footer" class="yp-site-footer">
          {{- partialCached "site/site-footer.html" . }}
        </footer>
      </div>
    </div>

    {{- partial "globals/scripts-body.html" . }}
  </body>
</html>
