{{- define "main-content" }}
  {{- /*
    NOTE: A page to list taxonomy terms.
  */}}
  {{ if and hugo.IsServer site.Params.devnotes }}
    <p class="notice"><b>BGN</b>: <code>/layouts/_default/category.terms.html</code></p>
  {{- end }}

  {{- /*
    NOTE:
      Consider adding weight: https://gohugo.io/methods/page/weight/
        - useful for keeping most important ones for the givern taxonomy at the top.
  */}}
  <div>
    <h1>{{ .Title }}</h1>
    <!-- ranges through each of the content files associated with a particular taxonomy term and renders the summary.html content view -->
    {{ range .Pages }}
      {{ .Render "summary" }}
    {{ end }}
  </div>

  {{ if and hugo.IsServer site.Params.devnotes }}
    <p class="notice"><b>END</b>: <code>/layouts/_default/category.terms.html</code></p>
  {{- end }}
{{- end }}
