{{- define "main-content" }}
  {{ if and hugo.IsServer site.Params.devnotes }}
    <p class="notice"><b>BGN</b>: <code>/layouts/_default/list.html</code></p>
  {{- end }}
  {{- $paginator := .Paginate (where .Site.RegularPages "Section" "in" .Site.MainSections) }}
  {{ range $paginator.Pages }}
    <article class="h-entry yp-post">
      <section class="yp-post-header">
        {{- partial "post/post-header.html" . }}
      </section>

      <section class="p-summary yp-post-section">
        {{- .Render "summary" }}
      </section>

      {{ if or (.GetTerms `tags`) (.Params.syndication) }}
        <section class="yp-post-footer">
          {{- partial "post/post-meta.html" (dict "postmeta" "footer" "dot" . ) }}
        </section>
      {{- end }}
    </article>
  {{- end }}

  {{- template "_internal/pagination.html" . }}

  {{ if and hugo.IsServer site.Params.devnotes }}
    <p class="notice"><b>END</b>: <code>/layouts/_default/list.html</code></p>
  {{- end }}
{{- end }}
