{{- define "main-content" }}
  {{ if and hugo.IsServer site.Params.devnotes }}
    <p class="notice"><b>BGN</b>: <code>/layouts/_default/single.html</code></p>
  {{- end }}
  <article class="h-entry yp-post">
    <section class="yp-post-header">
      {{- partial "post/post-header.html" . }}
    </section>

    <section class="e-content yp-post-body">
      {{- .Content }}
    </section>

    <section class="yp-post-footer">
      {{- partial "post/post-meta.html" (dict "postmeta" "footer" "dot" . ) }}
      {{ with .Params.syndication }}
        {{- partial "syndication.html" . }}
      {{- end }}
    </section>

    <section class="yp-post-comments">
      {{- partial "post/comments.html" . }}
    </section>
  </article>

  {{ if and hugo.IsServer site.Params.devnotes }}
    <p class="notice"><b>END</b>: <code>/layouts/_default/single.html</code></p>
  {{- end }}
{{- end }}
