{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>BGN</b>: <code>/layouts/_default/summary.html</code></p>
{{- end }}
<div class="yp-post-body">
  {{ .Summary }}
</div>
{{ if .Truncated }}
  <a href="{{ .RelPermalink }}" class="">{{ i18n "readmore" }}</a>
{{- end }}
{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>END</b>: <code>/layouts/_default/summary.html</code></p>
{{- end }}
