@layer a11y {
  /*******************************************************************************
  ** YourOnly.One a11y (a11y.css)                                               **
  **                                                                            **
  ** - by Yohan Yukiya Sese-Cuneta (https://im.youronly.one); Yelosan Publishing          **
  *******************************************************************************/

  /* BGN: unsorted */
    /*
    .a11y-sr-only,
    .a11y-kb-only {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    .a11y-kb-only:active,
    .a11y-kb-only:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
    */
  /* END: unsorted */

  /* BGN: skipnav */
    .skipnav {
      background: #319795;
      color: #fff;
      font-weight: 700;
      left: 40%;
      padding: 4px;
      position: absolute;
      transform: translateY(-100%);
      transition: transform 0.3s;
    }
    .skipnav:focus {
      transform: translateY(0%);
    }
    .skipnav:focus-within {
      transform: translateY(0%);
    }
  /* END: skipnav */
}
