@layer theme-css {
  /*******************************************************************************
  ** Theme style (theme.css)                                                    **
  **                                                                            **
  ** - by Yuki (https://im.youronly.one); Yelosan Publishing                    **
  *******************************************************************************/

  .yp-site-container {
    min-inline-size: 93%;
    max-inline-size: 93%;
  }
  /*
  @media screen and (orientation: landscape) and (800px <= width <= 1250px) {
    .yp-site-container {
      min-inline-size: 98%;
      max-inline-size: 98%;
    }
  }
  @media screen and (orientation: portrait) {
    .yp-site-container {

    }
  }
  */

  /*******************
  ** BGN: REUSABLES **
  *******************/
    /** BGN: Navigation-type lists **/
      /* OLD
      :where(.list-horizontal, .list-vertical) :where(ol, ul) {
        margin-block: 0;
        padding-inline-start: 0.5em;
      }
      .list-horizontal :where(ol, ul) {
        display: inline flow-root;
      }
      :where(.list-horizontal, .list-vertical) li {
        display: inline flow-root;
      }
      */

      :is(.list-horizontal, .list-vertical, .list-vertical2) :is(ol, ul) {
        margin-block: 0;
        padding-inline-start: 0;
      }
      .list-vertical :is(ol, ul, li) {
        /**
          * a11y note for Safari if ol, ul, and/or li is `list-style-type: none;`:
          *   1. Add `role=list` in <ol> and <ul>
          *   2. If not possible, add `content: "+ ";`
        **/
        /* content: "+ "; */
        display: list-item;
        list-style-type: none;
        list-style-position: outside;
      }
      .list-vertical2 li {
        /* cheat */
        display: block flow-root;
      }
      .list-horizontal :is(ol, ul, li) {
        display: inline flow-root;
        /* margin-inline-end: 0.5rem; */
        /* vertical-align: middle; */
      }
    /** END: Navigation-type lists **/
  /*******************
  ** END: REUSABLES **
  *******************/

  /*********************
  ** BGN: SITE-HEADER **
  *********************/
    /* GUIDE: .yp-site-header {} */
    .yp-site-header {
      /* display: block flex; */
      /* flex-wrap: wrap; */
      min-inline-size: 100%;
      max-inline-size: 100%;
      margin-inline: auto;
      margin-block: 0;
    }

    /** BGN: .yp-site-headerbar **/
      /* GUIDE: .yp-site-header > .yp-site-headerbar {} */
      .yp-site-headerbar {
        display: block flex;
          flex-wrap: nowrap;
        align-items: center;
        border-inline-color: var(--color-green);
        border-block-color: var(--color-green);
        border-inline-style: solid;
        border-block-style: double;
        border-inline-width: 4px;
        border-block-width: 4px;
        min-block-size: 100%;
        max-block-size: 100%;
        padding-inline: 5px;
        padding-block: 5px;
      }
      /* GUIDE: .yp-site-header > .yp-site-headerbar > .start {} */
      .yp-site-headerbar > .start {
        flex: 1;
        text-align: start;
      }
      /* GUIDE: .yp-site-header > .yp-site-headerbar > .middle {} */
      .yp-site-headerbar > .middle {
        flex: 1;
        text-align: center;
      }
      /* GUIDE: .yp-site-header > .yp-site-headerbar > .end {} */
      .yp-site-headerbar > .end {
        flex: 1;
        text-align: end;
      }

      /* GUIDE: .yp-site-header > .yp-site-headerbar .yp-site-logo {} */
      .yp-site-headerbar .yp-site-logo {
        inline-size: 40px;
        block-size: 40px;
      }
    /** END: .yp-site-headerbar **/

    /** BGN: .yp-site-branding **/
      /* GUIDE: .yp-site-header > .yp-site-branding {} */
      .yp-site-branding {}

      /* GUIDE: .yp-site-header > .yp-site-branding > .yp-author-avatar {} */
      .yp-site-branding > .yp-author-avatar {}

      /* GUIDE: .yp-site-header > .yp-site-branding > .yp-author-info {} */
      .yp-site-branding > .yp-author-info {}

      /* GUIDE: .yp-site-header > .yp-site-branding > .yp-author-info > .yp-site-title {} */
      .yp-site-branding > .yp-author-info > .yp-site-title {}

      /* GUIDE: .yp-site-header > .yp-site-branding > .yp-author-info > .yp-site-description {} */
      .yp-site-description {
        font-family: "Bungee Spice", sans-serif;
      }

      /* GUIDE: .yp-site-header > .yp-site-branding > .yp-author-info > .yp-site-description2 {} */
      .yp-site-description2 {
        font-family: "Honk", system-ui;
      }
    /** END: .yp-site-branding **/
  /*********************
  ** END: SITE-HEADER **
  *********************/

  /***********************
  ** BGN: .yp-site-body **
  ***********************/
    .yp-site-body {
      display: block grid;
      align-items: start;
      gap: 10px 10px;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto-fit, minmax(1em, auto));
      grid-template-areas:
        "widget-translation"
        "nav-toc"
        "main"
        "widgetbar02";
      margin-block-end: 1em;
    }
    /* @media screen and (orientation: landscape) { */
    @media screen and (800px <= width) {
      .yp-site-body {
        grid-template-columns: minmax(0,auto) minmax(0,15.625rem); /* = 250px */
        grid-template-rows: auto auto 1fr;
        grid-template-areas:
          "main widget-translation"
          "main nav-toc"
          "main widgetbar02";
      }
    }

    /** BGN: .yp-widgetbar01-container **/
      /* GUIDE: .yp-site-body > .yp-widgetbar01-container {} */
      .yp-widgetbar01-container {
        grid-area: widgetbar01;
        /*
        border-inline-color: var(--color-aqua);
        border-block-color: var(--color-aqua);
        border-inline-style: solid;
        border-block-style: solid;
        */
        border-inline-width: 1px;
        border-block-width: 1px;
      }
    /** END: .yp-widgetbar01-container **/

    /** BGN: .yp-widgetbar02-container**/
      /* GUIDE: .yp-site-body > .yp-widgetbar02-container {} */
      .yp-widgetbar02-container {
        grid-area: widgetbar02;
        /*
        border-inline-color: var(--color-aqua);
        border-block-color: var(--color-aqua);
        border-inline-style: solid;
        border-block-style: solid;
        */
        border-inline-width: 1px;
        border-block-width: 1px;
      }
    /** END: .yp-widgetbar02-container **/
  /***********************
  ** END: .yp-site-body **
  ***********************/

  /**************************
  ** BGN: .yp-main-content **
  **************************/
    /* GUIDE: .yp-site-body > .yp-main-content {} */
    .yp-main-content {
      grid-area: main;
      /* grid-row: span 7; */
      min-inline-size: 100%;
      max-inline-size: 100%;
    }

    /* GUIDE: .yp-main-content > .yp-post */
    .yp-post {
      border-inline-style: solid;
      border-block-style: solid;
      border-inline-width: 1px;
      border-block-width: 1px;
      border-radius: 3px;
      box-shadow: 0px 3px 5px -1px var(--color-black);
      margin-block-end: 1em;
      min-inline-size: 100%;
      max-inline-size: 100%;
    }

    :where(.yp-post) > [class*="yp-post-"] {
      padding-inline: 0.7em;
      padding-block: 0.5em;
    }

    /** BGN: .yp-post > .yp-post-header **/
      .yp-post-header {
        border-block-end: double;
        border-block-end-width: 5px;
        border-end-start-radius: 7px;
        border-end-end-radius: 7px;
        padding-block-start: 0;
      }

      :is(h1, h2, h3, h4, h5, h6) > a
      {
        color: #446625;
        text-shadow: 2px 2px 4px var(--headings-text-shadow-color);
      }
    /** END: .yp-post > .yp-post-header **/

    /* GUIDE: .yp-post > .yp-post-section */
    .yp-post-section {
      border-block-start: double;
      border-block-start-width: 5px;
      border-start-start-radius: 7px;
      border-start-end-radius: 7px;
      text-align: justify;
      text-justify: auto;

      color: var(--body-text-color);
      text-shadow: 0 0.1rem 0.7rem oklch(0% 0 0 / 1);
    }

    /* GUIDE: .yp-post > .yp-post-section > .yp-post-body */
    .yp-post-body {

    }

    /* GUIDE: .yp-post > .yp-post-footer */
    .yp-post-footer {
      border-block-start: dashed;
      border-block-start-width: 1px;
    }

    /* GUIDE: .yp-post > .yp-post-comments */
    .yp-post-comments {

    }

    /* GUIDE: .post-meta > .yp-post-taxonomy */
    .yp-post-taxonomy > ul {
      padding-inline: 0;
    }
  /**************************
  ** END: .yp-main-content **
  **************************/

  /*********************
  ** BGN: .yp.widget- **
  *********************/
    /** BGN: .yp-widget-translation **/
      /* GUIDE: .yp-site-body > .yp-widget-translation-container {} */
      .yp-widget-translation-container {
        grid-area: widget-translation;
        border-inline-color: var(--color-magenta);
        border-block-color: var(--color-magenta);
        border-inline-style: solid;
        border-block-style: solid;
        border-inline-width: 1px;
        border-block-width: 1px;
        border-radius: 4px;
        padding-inline: 0.5em;
      }
      .yp-widget-translation-container p {
        margin-block: 0.5em;
      }

    /** BGN: nav-based translation **/
      /* OLD
      .yp-widget-translation {
        text-align: center;
      }
      .yp-widget-translation ol {
        padding-inline-start: 0;
      }
      .yp-widget-translation li {
        vertical-align: middle;
      }
      */
    /** END: nav-based translation **/

    /** BGN: .yp-widget-search **/
      .yp-widget-search {}

      /* GUIDE: .yp-widget-search > .yp-widget-search-form {} */
      .yp-widget-search-menu-form {
        display: inline flow-root;
        inline-size: max-content;
      }
    /** END: .yp-widget-search **/

    /** BGN: .yp-widget-socials **/
      .yp-widget-socials-container {}
      .yp-widget-socials {}
    /** END: .yp-widget-socials **/
  /*********************
  ** END: .yp.widget- **
  *********************/

  /*************
  ** BGN: NAV **
  *************/
    /** BGN: .yp-nav-skip **/
      .yp-nav-skip {
        background-color: var(--skipnav-background-color);
        font-weight: 700;
        inset-inline-start: 40%;
        padding-inline: 4px;
        padding-block: 4px;
        position: absolute; box-sizing: content-box;
        transform: translateY(-100%);
        transition: transform 0.3s;
        z-index: 1;
      }
      .yp-nav-skip:focus {
        transform: translateY(0%);
      }
      .yp-nav-skip:focus-within {
        transform: translateY(0%);
      }
    /** END: .yp-nav-skip **/

    /** BGN: .yp-nav-main **/
      .yp-nav-main {
        /* display: block flow-root; */
        /* margin-inline: auto; */
        /* margin-block: 0; */
        /* padding-inline: 0; */
        /* padding-block: 120px 0; */
        /* text-align: center; */
        /* inline-size: 100%; */
      }
      .yp-nav-main ul {
        margin-inline: 0;
        margin-block: 0;
      }
      .yp-nav-main ul li {
        border-inline-start: 2px solid #3ca0e7; /* TODO: colour */
        display: inline flow-root;
        list-style: none;
        /* margin-inline: auto; */
        /* margin-block: 0; */
        /* padding-inline: 20px; */
        /* padding-block: 0; */
        position: relative; box-sizing: content-box;
        /* text-align: center; */
        /* text-decoration: none; */
      }

      .yp-nav-main li a {}
      .yp-nav-main li a:hover {
        /* color: #3ca0e7; */ /* TODO: colour */
      }
      .yp-nav-main li:hover {
        cursor: pointer;
      }

      .yp-nav-main ul li ul {
        background-color: var(--mainmenu-background-color);
        display: none;
        inset-inline-start: 0;
        opacity: 0;
        padding-inline-start: 0;
        position: absolute; box-sizing: content-box;
        visibility: hidden;
      }
      .yp-nav-main ul li:hover > ul,
      .yp-nav-main ul li ul:hover {
        box-shadow: 0px 3px 5px -1px var(--mainmenu-box-shadow-color);
        display: block flow-root;
        opacity: 1;
        min-inline-size: 250px;
        padding-block-start: 20px;
        text-align: start;
        visibility: visible;
      }
      .yp-nav-main ul li ul li {
        border-inline-style: none;
        border-block-style: none;
        clear: both;
        inline-size: 100%;
        margin-block-end: 20px;
        text-align: start;
      }
      .yp-nav-main ul li ul li a:hover {
        border-inline-start: 2px solid #3ca0e7; /* TODO: colour */
        padding-inline-start: 10px;
        transition: all 0.3s ease;
      }
    /** END: .yp-nav-main **/

    /** BGN: .yp-nav-breadcrumbs **/
      .yp-nav-breadcrumbs-container {
        border-block-style: dashed;
        border-block-width: 1px;
        border-radius: 5px;
        /* box-shadow: 3px 3px red, -1em 0 .4em olive; */
        margin-block-end: 1em;
      }
      .yp-nav-breadcrumbs {
        color: #1c4f38; /* TODO: colour */
      }
      .active {
        text-decoration-color: blue; /* TODO: color */
        text-decoration-line: overline underline;
      }
      .active > a:hover {
        color: var(--link-color);
        text-decoration-color: var(--link-decoration-color);
      }
    /** END: .yp-nav-breadcrumbs **/

    /** BGN: .yp-nav-toc **/
      /* GUIDE: .yp-site-body > .yp-nav-toc-container {} */
      .yp-nav-toc-container {
        grid-area: nav-toc;
        border-inline-color: var(--color-green);
        border-block-color: var(--color-green);
        border-inline-style: solid;
        border-block-style: solid;
        border-inline-width: 1px;
        border-block-width: 1px;
        border-radius: 4px;
        padding-inline: 0.5em;
      }
      .yp-nav-toc-container > p {
        margin-block: 0.5em;
      }

      .yp-nav-toc .custom {
        list-style-type: var(--toc-list-style-type);
      }
      .yp-nav-toc :is(ol, ul) {
        padding-inline-start: 1.4em;
      }
      .yp-nav-toc li {
        display: list-item;
      }
    /** END: .yp-nav-toc **/

    /** BGN: Hugo .pagination **/
      .yp-main-content .pagination {
        display: inline flow-root;
        min-inline-size: 100%;
        max-inline-size: 100%;
      }
      .pagination {
        margin-block: 0;
        padding-inline-start: 0.5em;
      }
      .pagination li {
        display: inline flow;
      }
    /** END: Hugo .pagination **/

    /** BGN: .yp-nav-footer **/
      .yp-nav-footer {
        background-color: #fbdfd4; /* TODO: colour */
        color: #723d29; /* TODO: colour */
        border-block-color: #8a5b4a; /* TODO: colour */
        border-block-style: solid;
        border-block-width: 1px;
        margin-block-end: 1em;
        text-align: center;
      }
      .yp-nav-footer ol {
        padding-inline: 0;
      }
      .yp-nav-footer a {
        color: #8a5b4a; /* TODO: colour */
      }
    /** END: .yp-nav-footer **/
  /*************
  ** END: NAV **
  *************/

  /*************************
  ** BGN: .yp-site-footer **
  *************************/
    .yp-site-footer {
      margin-block-end: 1em;
    }

    .copyright {
      min-inline-size: 100%;
      max-inline-size: 100%;
      text-align: center;
    }
  /*************************
  ** END: .yp-site-footer **
  *************************/

  /******************
  ** BGN: unsorted **
  ******************/
  /******************
  ** END: unsorted **
  ******************/


  /***************************
  ** BGN: test classes only **
  ***************************/
    .placeholder {
    }
    .placeholder.img250x30 {
      background-color: var(--headings-text-color);
      inline-size: 250px;
      block-size: 30px;
    }
    .placeholder.img100x100 {
      background-color: var(--headings-text-color);
      inline-size: 100px;
      block-size: 100px;
    }
    /*
    h1 + p::first-letter,
    h2 + p::first-letter,
    h3 + p::first-letter,
    h4 + p::first-letter,
    h5 + p::first-letter,
    h6 + p::first-letter {
      color: var(--p-first-letter-text-color);
      font-size: 2.0rem;
      font-weight: 700;
      -webkit-text-fill-color: var(--p-first-letter-text-fill-color);
      text-shadow:
         1.5px  1.4px 0 var(--p-first-letter-text-shadow-color),
        -1.0px -1.0px 0 var(--p-first-letter-text-shadow-color),
         1.0px -1.0px 0 var(--p-first-letter-text-shadow-color),
        -1.0px  1.0px 0 var(--p-first-letter-text-shadow-color),
         1.0px  1.0px 0 var(--p-first-letter-text-shadow-color);
      -webkit-text-stroke: 1.4px var(--p-first-letter-text-stroke-color);
    }
    h1 + p::first-letter,
    h2 + p::first-letter,
    h3 + p::first-letter,
    h4 + p::first-letter,
    h5 + p::first-letter,
    h6 + p::first-letter {
      font-family: var(--font-fantasy, fantasy);
    }
    h1 + p::first-line,
    h2 + p::first-line,
    h3 + p::first-line,
    h4 + p::first-line,
    h5 + p::first-line,
    h6 + p::first-line {
    }
    */
  /***************************
  ** END: test classes only **
  ***************************/

  /**********************
  ** BGN: notice boxes **
  **********************/
    /* See: https://kevquirk.com/how-to-create-a-simple-html-css-notice-box */
    .notice {
      background-color: #EFEFEF;
      border: 3px solid #444;
      padding: 0.5rem;
    }

    .notice::before {
      content: "DEV";
      background: #AACCFF;
      border-block: 3px solid #444;
      border-inline: 3px solid #444;
      margin-inline-end: 7px;
      padding-inline: 10px;
      font-weight: bold;
    }
  /**********************
  ** END: notice boxes **
  **********************/
}
