@layer youronlyone-base {
  /*******************************************************************************
  ** YourOnly.One base (youronlyone-base.css)                                   **
  **                                                                            **
  ** - by Yuki (https://im.youronly.one); Yelosan Publishing                    **
  *******************************************************************************/

  /**
    * NOTES:
    *   1. We use `@supports [not]` extensively.
    *     - It will minimize the code steps in CSSOM.
    *   2. a11y (accessibility) support
    *     - with dyslexia font support
    *     - with WAI-ARIA support
    *   3. The latest in CSS.
    *   4. Very minimal reset.
    *     - reset on a per-property level
    *     - fallback for many: User-Agent (browser) defaults
    *       - we only change as needed
    *   5. .classes styling
    *     - no #ID styling
    *     - avoids selector styling as much as possible
    *     - this way it is easy to override in themestyle/user.css
  **/

  /**************
  ** BGN: vars **
  **************/
    :root {
      /* BGN: COLOUR VARS */
        --color-black-bg: oklch(0% 0 0 / 0.25);
        --color-black: oklch(0% 0 0);

        --color-grey-light-bg: oklch(86.69% 0 0 / 0.20);
        --color-grey-light: oklch(86.69% 0 0);

        --color-silver-bg: oklch(80.78% 0 0 / 0.20);
        --color-silver: oklch(80.78% 0 0);

        --color-white-bg: oklch(100% 0 0 / 0.5);
        --color-white: oklch(100% 0 0);

        --color-red-bg: oklch(62.8% 0.2577 29.2339 / 0.20);
        --color-red: oklch(62.8% 0.2577 29.2339);

        --color-lime-bg: oklch(86.64% 0.2948 142.4953 / 0.20);
        --color-lime: oklch(86.64% 0.2948 142.4953);

        --color-green-bg: oklch(51.98% 0.1769 142.4953 / 0.25);
        --color-green: oklch(51.98% 0.1769 142.4953);

        --color-blue-bg: oklch(45.2% 0.3132 264.0520 / 0.35);
        --color-blue: oklch(45.2% 0.3132 264.0520);

        --color-indigo-dye-bg: oklch(36.26% 0.091 244.97 / 0.35);
        --color-indigo-dye: oklch(36.26% 0.091 244.97);

        --color-blue-midnight-bg: oklch(28.81% 0.144 272.76 / 0.5);
        --color-blue-midnight: oklch(28.81% 0.144 272.76);

        --color-aqua-bg: oklch(90.54% 0.1546 194.7689 / 0.20);
        --color-aqua: oklch(90.54% 0.1546 194.7689);

        --color-magenta-bg: oklch(70.17% 0.322 328.36 / 0.22);
        --color-magenta: oklch(70.17% 0.322 328.36);

        --color-yellow-bg: oklch(96.8% 0.2110 109.7692 / 0.22);
        --color-yellow: oklch(96.8% 0.2110 109.7692);

        --color-orange-bg: oklch(79.27% 0.171 70.67 / 0.22);
        --color-orange: oklch(79.27% 0.171 70.67);

        --color-gold-bg: oklch(88.68% 0.182 95.33 / 0.20);
        --color-gold: oklch(88.68% 0.182 95.33);

        --color-pink-bg: oklch(86.77% 0.0735 7.0855 / 0.35);
        --color-pink: oklch(86.77% 0.0735 7.0855);

        --color-brown-bg: oklch(64.89% 0.07 58.55 / 0.20);
        --color-brown: oklch(64.89% 0.07 58.55);

        --color-brown-medium-dark-bg: oklch(63.08% 0.081 59.89 / 0.20);
        --color-brown-medium-dark: oklch(63.08% 0.081 59.89);

        --color-facebook-bg: oklch(52.56% 0.126 262.79 / 0.25);
        --color-facebook: oklch(52.56% 0.126 262.79);

        --color-twitter-bg: oklch(64.02% 0.148 243.45 / 0.25);
        --color-twitter: oklch(64.02% 0.148 243.45);

        --color-googleplus-bg: oklch(60.38% 0.187 28.96 / 0.25);
        --color-googleplus: oklch(60.38% 0.187 28.96);

        --color-ubuntu-bg: oklch(64.26% 0.193 38.26 / 0.25);
        --color-ubuntu: oklch(64.26% 0.193 38.26);

        --color-mastodon-bg: oklch(63.31% 0.142 245.03 / 0.25);
        --color-mastodon: oklch(63.31% 0.142 245.03);

        --color-hubzilla-bg: oklch(42.87% 0.109 277.68 / 0.25);
        --color-hubzilla: oklch(42.87% 0.109 277.68);

        --color-cgm-bg: oklch(66.01% 0.184 280.08 / 0.25);
        --color-cgm: oklch(66.01% 0.184 280.08);
      /* END: COLOUR VARS */

      /* BGN: FONT VARS */
        /**
          * NOTE: var(--font-one, var(--font-two, sans-serif)); is all or nothing
          *   - if a single character matches the first var, the fallback isn't used even if a glyph is missing in the first match
          *     - Using the example above, if “A” is in --font-one, but “B” is not, it won't check var(--font-two).
          *   - As of 2024-04-24 UTC+8.
          *
          * Solution:
          *   - manually declare a combined var instead of relying on this format: var(--font-one, var(--font-two, sans-serif));
          *   - Untested format
          *     - font-family: var(--font-one), var(--font-two), sans-serif;
        **/
        --font-sans-noto: "noto-sans", "Noto Sans";
        --font-serif-noto: "noto-serif", "Noto Serif";
        --font-mono-sans-noto: "noto-sans-mono", "Noto Sans Mono", "Noto Mono";

        --font-latn-sans-noto: "noto-sans", "Noto Sans";
        --font-latn-fantasy-barabara: "barabara";

        --font-hans-sans-noto: "noto-sans", "Noto Sans", "Noto Sans CJK SC", "Noto Sans SC";
        --font-hant-sans-noto: "noto-sans", "Noto Sans", "Noto Sans CJK TC", "Noto Sans TC";
        --font-hant-hk-sans-noto: "noto-sans", "Noto Sans", "Noto Sans CJK HK", "Noto Sans HK";
        --font-bopo-sans-noto: "noto-sans", "Noto Sans", "Noto Sans CJK TC", "Noto Sans TC";
        --font-hans-sans-noto-fangsong-rotated: "noto-sans", "Noto Sans", "Noto Fangsong KSS Rotated";
        --font-hans-sans-noto-fangsong-vertical: "noto-sans", "Noto Sans", "Noto Fangsong KSS Vertical";

        --font-kana-sans-noto: "noto-sans", "Noto Sans", "Noto Sans CJK JP", "Noto Sans JP";
        --font-hang-sans-noto: "noto-sans", "Noto Sans", "Noto Sans CJK KR", "Noto Sans KR";
        --font-kana-serif-noto: "noto-serif", "Noto Serif", "Noto Serif CJK JP", "Noto Serif JP";
        --font-hang-serif-noto: "noto-serif", "Noto Serif", "Noto Serif CJK KR", "Noto Serif KR";

        --font-hebr-sans-noto: "noto-sans", "Noto Sans", "phoenician-sans-noto", "Noto Sans Phoenician", "hebrew-sans-noto", "Noto Sans Hebrew"; /* Different Unicode blocks. */
        --font-hebr-serif-noto: "noto-serif", "Noto Serif", "hebrew-serif-noto", "Noto Serif Hebrew";
        --font-hebr-sans-paleo-gezer: "noto-sans", "Noto Sans", "hebrew-sans-paleo-gezer";
        --font-hebr-sans-proto-canaanite: "noto-sans", "Noto Sans", "hebrew-sans-proto-canaanite";

        --font-grek-sans-noto: "";
        --font-grek-serif-noto: "";

        --font-pilipino-sans-noto: "noto-sans", "Noto Sans", "Noto Sans CJK KR", "Noto Sans KR", "baybayin-noto", "Noto Sans Buhid", "Noto Sans Hanunoo", "Noto Sans Tagalog", "Noto Sans Tagbanwa"; /* Different Unicode blocks. */
        --font-baybayin-sans-noto: "noto-sans", "Noto Sans", "Noto Sans CJK KR", "Noto Sans KR", "baybayin-noto", "Noto Sans Buhid", "Noto Sans Hanunoo", "Noto Sans Tagalog", "Noto Sans Tagbanwa"; /* Different Unicode blocks. */
        --font-baybayin-nordenx: "baybayin-nordenx"; /* subset font */

        --font-math-sans-noto: "noto-sans", "Noto Sans", "noto-sans-math", "Noto Sans Math", "noto-sans-symbols2", "Noto Sans Symbols 2", "noto-sans-symbols", "Noto Sans Symbols";
        --font-music-noto: "noto-sans", "Noto Sans", "noto-music", "Noto Music", "noto-sans-symbols2", "Noto Sans Symbols 2", "noto-sans-symbols", "Noto Sans Symbols";

        --font-emoji-fallback: "Apple Color Emoji", "Segoe UI Emoji", "noto-sans-symbols2", "Noto Sans Symbols 2", "noto-sans-symbols", "Noto Sans Symbols";
        --font-emoji-noto: "Noto Color Emoji", "Noto Emoji";
        --font-emoji-joypixels: "JoyPixels", "Emoji Two", "EmojiOne Mozilla", "Emoji One";
        --font-emoji-twemoji: "twemoji-color", "Twitter Color Emoji";
        --font-emoji-combined: "Noto Color Emoji", "twemoji-color", "Twitter Color Emoji", "Apple Color Emoji", "Noto Emoji", "JoyPixels", "Emoji Two", "EmojiOne Mozilla", "Emoji One", "Segoe UI Emoji", "noto-sans-symbols2", "Noto Sans Symbols 2", "noto-sans-symbols", "Noto Sans Symbols";
      /* END: FONT VARS */
    }
  /**************
  ** END: vars **
  **************/

  /******************
  ** BGN: defaults **
  ******************/
    /**
      * NOTES:
      *   - will target <html>, <xml>, <xhtml>, <svg>, etc.
      *   - higher than <html>
      *   - good for global CSS vars
      *   - won't affect pseudo classes (use <html>)
    **/
    :root {
      color-scheme: light dark;
      scroll-behavior: smooth; /* only affects the viewport */
      text-rendering: optimizeLegibility; /* in :root to also set for svg; inherited */
    }
    @supports (text-rendering: geometricPrecision) {
      :root { text-rendering: geometricPrecision; /* in :root to also set for svg; inherited */ }
    }

    * {
      /**
        * NOTES:
        *   - useful for non-inherited properties
      **/
      margin-inline: 0;
      margin-block: 0;
      padding-inline: 0;
      padding-block: 0;
      scroll-behavior: smooth; /* affects all elements but not the viewport */
    }

    html {
      /**
        * NOTES:
        *   - lower than :root and <body>
        *   - for styles with a root size option (usually font-size)
        *   - affects pseudo-classes (as compared to :root)
      **/
      font-size: 1em; /* equivalent to 16px */
    }

    /*
    @media (prefers-color-scheme: dark) {
      body {
        background-color: var(--body-background-color-theme-dark);
        color: var(--body-text-color-theme-dark);
      }
    }
    @media (prefers-color-scheme: light) {
      body {
        background-color: var(--body-background-color-theme-light);
        color: var(--body-text-color-theme-light);
      }
    }
    */

    body {
      /**
        * NOTES:
        *   - set everything here
        *   - if it can be inherited, this is the best place to set it
        *   - high than <html>
      **/
      /* light-dark() supported as of 2024 */
        background-color: light-dark(var(--theme-light-bg), var(--theme-dark-bg));
        color: light-dark(var(--theme-light-txt), var(--theme-dark-txt));
      font-kerning: normal; /* TODO: make it dependent on viewport size; kerning is bad for small viewports */
      font-variant-numeric: oldstyle-nums tabular-nums ordinal slashed-zero;
      /* only set per class/font/:lang()
        font-synthesis:
        font-variant-alternates: historical-forms
        font-variant-caps:
        font-variant-east-asian:
        font-variant-ligatures:
        font-variant-position:
      */
      image-rendering: smooth; /* different value keywords for svg */
      line-height: 1.7; /* accessibility */
      min-block-size: 100vh;
      /* BGN: wrapping related */
        hyphens: auto;
        line-break: strict;
        overflow-wrap: break-word;
        word-break: normal;
      /* END: wrapping related */
    }
    @supports (font-variant-emoji: unicode) {
      body { font-variant-emoji: unicode; }
    }
    @supports (word-break: auto-phrase) {
      body { word-break: auto-phrase; }
    }

    .center-container {
      display: flex;
      justify-content: center;
    }

    header, hgroup,
    thead, th,
    h1, h2, h3, h4, h5, h6,
    a {
      hyphens: none; /* not good if hyphenated. */
    }

    a {
      display: inline flow;
      background-color: transparent;
      color: var(--link-color);
      cursor: var(--link-cursor);
      text-decoration-color: var(--link-decoration-color);
      text-decoration-line: var(--link-decoration-line);
      text-decoration-thickness: from-font; /* line thickness */
      text-decoration-skip-ink: all;
      text-decoration-style: var(--link-decoration-style);
    }
    a:hover { /* duplicated to make it easier to override */
      color: var(--link-color-hover);
      text-decoration-color: var(--link-decoration-color-hover);
      text-decoration-line: var(--link-decoration-line-hover);
      text-decoration-style: var(--link-decoration-style-hover);
    }
  /******************
  ** END: defaults **
  ******************/

  /******************
  ** BGN: :lang(C) **
  ******************/
    /**
      *
      * References:
      *   - https://localizely.com/iso-15924-list/
      *   - https://www.w3.org/TR/selectors-4/#the-lang-pseudo
      *     - https://caniuse.com/?search=%3Alang()
      *
      * NOTES:
      *
      *   @supports selector()
      *     - :lang(*-latn) = Firefox:no || Chromium:no
      *     - :lang(\*-latn) = Firefox:yes (insensitive) || Chromium:yes (insensitive)
      *     - :lang("*-latn") = Firefox:yes (insensitive) || Chromium:no
      *     - :lang("\*-latn") = Firefox:yes (insensitive) || Chromium:no
      *
      *   :lang(C)
      *     - :lang(*-latn) = Firefox:no || Chromium:no
      *     - :lang(\*-latn) = Firefox:yes (insensitive) || Chromium:no
      *     - :lang("*-latn") = Firefox:yes (insensitive) || Chromium:no
      *     - :lang("\*-latn") = Firefox:yes (insensitive) || Chromium:no
    **/

    :lang(en) {
      direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
      font-language-override: "ENG";
      font-style: revert;
      font-synthesis: revert;
    }

    /* BGN: Hanzi (Traditional & Simple) */
      /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
        @supports not (selector(:lang(yue, zh))) {
          :lang(yue),
          :lang(zh) {
            direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
            font-style: normal; /* ensure there are no italic and oblique styles */
            font-synthesis: weight; /* only allow 'bold' synthesis */
            /* font-variant-east-asian: */ /* Don't set this. Use -Hant or -Hans instead. */
          }
        }
      /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

      /* BGN: :lang(C, C, C) */
        @supports selector(:lang(yue, zh)) {
          :lang(yue, zh) {
            direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
            font-style: normal; /* ensure there are no italic and oblique styles */
            font-synthesis: weight; /* only allow 'bold' synthesis */
            /* font-variant-east-asian: */ /* Don't set this. Use -Hant or -Hans instead. */
          }
        }
      /* END: :lang(C, C, C) */

      :lang(zh-Hans) {
        font-language-override: "ZHS";
        font-variant-east-asian: simplified full-width;
      }
      :lang(zh-Hant) {
        font-language-override: "ZHT";
        font-variant-east-asian: traditional full-width;
      }
      :lang(zh-Hant-HK) {
        font-language-override: "ZHH";
      }
      :lang(zh-Bopo) {
        /* font-language-override: "ZHT"; */
      }
    /* END: Hanzi (Traditional & Simple) */

    /* BGN: Nihongo (Kana) */
      :lang(ja) {
        direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
        font-language-override: "JAN";
        font-style: normal; /* ensure there are no italic and oblique styles */
        font-synthesis: weight; /* only allow 'bold' synthesis */
        font-variant-east-asian: jis04 full-width;
      }
    /* END: Nihongo (Kana) */

    /* BGN: Hangugeo (Hangeul) */
      :lang(ko) {
        direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
        font-language-override: "KOR";
        font-style: normal; /* ensure there are no italic and oblique styles */
        font-synthesis: weight; /* only allow 'bold' synthesis */
        font-variant-east-asian: full-width;
      }
    /* END: Hangugeo (Hangeul) */

    /* BGN: Hebrew & Paleo-Hebrew */
      /* NOTES: https://en.wikipedia.org/wiki/ISO_15924 && https://en.wikipedia.org/wiki/ISO_639-3
          * he- or heb- - modern Hebrew
          * hbo- - ancient Hebrew
          * -Hebr - modern Hebrew script
          * -Phnx - Paleo-Hebrew script
      */

      /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
        @supports not (selector(:lang(he, hbo))) {
          :lang(he),
          :lang(hbo) {
            direction: rtl; /* Be sure to also set dir="rtl" in HTML. */
            font-style: normal; /* ensure there are no italic and oblique styles */
            font-synthesis: weight; /* only allow 'bold' synthesis */
          }
        }
      /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

      /* BGN: :lang(C, C, C) */
        @supports selector(:lang(he, hbo)) {
          :lang(he, hbo) {
            direction: rtl; /* Be sure to also set dir="rtl" in HTML. */
            font-style: normal; /* ensure there are no italic and oblique styles */
            font-synthesis: weight; /* only allow 'bold' synthesis */
          }
        }
      /* END: :lang(C, C, C) */

      :lang(he) { /* Modern Hebrew */
        font-language-override: "IWR";
      }
      /*
      :lang(hbo) { /* Paleo-Hebrew * /
      }
      */
    /* END: Hebrew & Paleo-Hebrew */

    /* BGN: Greek & Ancient Greek */
      /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
        @supports not (selector(:lang(el, grc))) {
          :lang(el),
          :lang(grc) {
            direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
            font-style: normal; /* ensure there are no italic and oblique styles */
            font-synthesis: weight; /* only allow 'bold' synthesis */
          }
        }
      /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

      /* BGN: :lang(C, C, C) */
        @supports selector(:lang(el, grc)) {
          :lang(el, grc) {
            direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
            font-style: normal; /* ensure there are no italic and oblique styles */
            font-synthesis: weight; /* only allow 'bold' synthesis */
          }
        }
      /* END: :lang(C, C, C) */

      :lang(el) { /* Modern Greek */
        font-language-override: "ELL";
      }
      /*
      :lang(grc) { /* Ancient Greek * /
      }
      */
    /* END: Greek & Ancient Greek */

    /* BGN: Pilipino */
      /* BGN: Pilipino in Latin script */
        /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
          @supports not (selector(:lang(phi, fil, en-PH))) {
            :lang(pag), :lang(pam), :lang(war), :lang(bik), :lang(hil), :lang(ilo), :lang(ceb),
            :lang(tbw), :lang(bku), :lang(hnn), :lang(tl),
            :lang(phi), :lang(fil), :lang(en-PH) {
              direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
              font-language-override: "PIL";
              font-style: revert;
              font-synthesis: revert;
              font-variant-east-asian: full-width;
            }
          }
        /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

        @supports selector(:lang(phi, fil, en-PH)) {
          :lang(pag, pam, war, bik, hil, ilo, ceb),
          :lang(tbw, bku, hnn, tl),
          :lang(phi, fil, en-PH) {
            direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
            font-language-override: "PIL";
            font-style: revert;
            font-synthesis: revert;
            font-variant-east-asian: full-width;
          }
        }
      /* END: Pilipino in Latin script */

      /* BGN: Pilipino in Baybayin script */
        /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
          @supports not ((selector(:lang(phi-Tglg, fil-Tglg))) and (selector(:lang("\*-Tglg")))) {
            :lang(pag-Tglg), :lang(pam-Tglg), :lang(war-Tglg), :lang(bik-Tglg), :lang(hil-Tglg), :lang(ilo-Tglg), :lang(ceb-Tglg),
            :lang(tbw-Tglg), :lang(bku-Tglg), :lang(hnn-Tglg), :lang(tl-Tglg),
            :lang(phi-Tglg), :lang(fil-Tglg) {
              font-style: normal; /* ensure there are no italic and oblique styles */
              font-synthesis: weight; /* only allow 'bold' synthesis */
            }
          }
          @supports not ((selector(:lang(phi-Hano, fil-Hano))) and (selector(:lang("\*-Hano")))) {
            :lang(pag-Hano), :lang(pam-Hano), :lang(war-Hano), :lang(bik-Hano), :lang(hil-Hano), :lang(ilo-Hano), :lang(ceb-Hano),
            :lang(tbw-Hano), :lang(bku-Hano), :lang(hnn-Hano), :lang(tl-Hano),
            :lang(phi-Hano), :lang(fil-Hano) {
              font-style: normal; /* ensure there are no italic and oblique styles */
              font-synthesis: weight; /* only allow 'bold' synthesis */
            }
          }
          @supports not ((selector(:lang(phi-Buhd, fil-Buhd))) and (selector(:lang("\*-Buhd")))) {
            :lang(pag-Buhd), :lang(pam-Buhd), :lang(war-Buhd), :lang(bik-Buhd), :lang(hil-Buhd), :lang(ilo-Buhd), :lang(ceb-Buhd),
            :lang(tbw-Buhd), :lang(bku-Buhd), :lang(hnn-Buhd), :lang(tl-Buhd),
            :lang(phi-Buhd), :lang(fil-Buhd) {
              font-style: normal; /* ensure there are no italic and oblique styles */
              font-synthesis: weight; /* only allow 'bold' synthesis */
            }
          }
          @supports not ((selector(:lang(phi-Tagb, fil-Tagb))) and (selector(:lang("\*-Tagb")))) {
            :lang(pag-Tagb), :lang(pam-Tagb), :lang(war-Tagb), :lang(bik-Tagb), :lang(hil-Tagb), :lang(ilo-Tagb), :lang(ceb-Tagb),
            :lang(tbw-Tagb), :lang(bku-Tagb), :lang(hnn-Tagb), :lang(tl-Tagb),
            :lang(phi-Tagb), :lang(fil-Tagb) {
              font-style: normal; /* ensure there are no italic and oblique styles */
              font-synthesis: weight; /* only allow 'bold' synthesis */
            }
          }

          /* BGN: :lang(C, C, C) */
            @supports (selector(:lang(phi-Tglg, fil-Tglg))) and (not (selector(:lang("\*-Tglg")))) {
              :lang(pag-Tglg, pam-Tglg, war-Tglg, bik-Tglg, hil-Tglg, ilo-Tglg, ceb-Tglg),
              :lang(tbw-Tglg, bku-Tglg, hnn-Tglg, tl-Tglg),
              :lang(phi-Tglg, fil-Tglg) {
                font-style: normal; /* ensure there are no italic and oblique styles */
                font-synthesis: weight; /* only allow 'bold' synthesis */
              }
            }
            @supports (selector(:lang(phi-Hano, fil-Hano))) and (not (selector(:lang("\*-Hano")))) {
              :lang(pag-Hano, pam-Hano, war-Hano, bik-Hano, hil-Hano, ilo-Hano, ceb-Hano),
              :lang(tbw-Hano, bku-Hano, hnn-Hano, tl-Hano),
              :lang(phi-Hano, fil-Hano) {
                font-style: normal; /* ensure there are no italic and oblique styles */
                font-synthesis: weight; /* only allow 'bold' synthesis */
              }
            }
            @supports (selector(:lang(phi-Buhd, fil-Buhd))) and (not (selector(:lang("\*-Buhd")))) {
              :lang(pag-Buhd, pam-Buhd, war-Buhd, bik-Buhd, hil-Buhd, ilo-Buhd, ceb-Buhd),
              :lang(tbw-Buhd, bku-Buhd, hnn-Buhd, tl-Buhd),
              :lang(phi-Buhd, fil-Buhd) {
                font-style: normal; /* ensure there are no italic and oblique styles */
                font-synthesis: weight; /* only allow 'bold' synthesis */
              }
            }
            @supports (selector(:lang(phi-Tagb, fil-Tagb))) and (not (selector(:lang("\*-Tagb")))) {
              :lang(pag-Tagb, pam-Tagb, war-Tagb, bik-Tagb, hil-Tagb, ilo-Tagb, ceb-Tagb),
              :lang(tbw-Tagb, bku-Tagb, hnn-Tagb, tl-Tagb),
              :lang(phi-Tagb, fil-Tagb) {
                font-style: normal; /* ensure there are no italic and oblique styles */
                font-synthesis: weight; /* only allow 'bold' synthesis */
              }
            }
          /* END: :lang(C, C, C) */

          /* BGN: :lang("\*-C") */
            @supports (not (selector(:lang("\*-Tglg", "\*-Hano", "\*-Buhd", "\*-Tagb")))) and (selector(:lang("\*-Tglg"))) {
              :lang(\*-Tglg), :lang(\*-Hano), :lang(\*-Buhd), :lang(\*-Tagb) {
                font-style: normal; /* ensure there are no italic and oblique styles */
                font-synthesis: weight; /* only allow 'bold' synthesis */
              }
            }
          /* END: :lang("\*-C") */
        /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

        /* BGN: :lang("\*-C", "\*-C", "\*-C") */
          @supports (selector(:lang("\*-Tglg", "\*-Hano", "\*-Buhd", "\*-Tagb"))) and (selector(:lang("\*-Tglg"))) {
            :lang(\*-Tglg, \*-Hano, \*-Buhd, \*-Tagb) {
              font-style: normal; /* ensure there are no italic and oblique styles */
              font-synthesis: weight; /* only allow 'bold' synthesis */
            }
          }
        /* END: :lang("\*-C", "\*-C", "\*-C") */
      /* END: Pilipino in Baybayin script */
    /* END: Pilipino */

    /* BGN: Latin script */
      /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
        @supports not ((selector(:lang(yue-jyutping, zh-yue-jyutping))) and (selector(:lang("\*-Latn")))) {
          :lang(yue-jyutping), :lang(zh-yue-jyutping),
          :lang(zh-Latn),
          :lang(ja-Latn),
          :lang(ko-Latn),
          :lang(he-Latn), :lang(hbo-Latn),
          :lang(el-Latn), :lang(grc-Latn) {
            direction: ltr; /* Be sure to also set dir="ltr" in HTML. */ /* needed because :lang(C) is a wildcard match */
            font-language-override: normal; /* needed because :lang(C) is a wildcard match */
            font-style: revert;
            font-synthesis: revert;
          }
        }

        /* BGN: :lang(C, C, C) */
          @supports (selector(:lang(yue-jyutping, zh-yue-jyutping))) and (not (selector(:lang("\*-Latn")))) {
            :lang(yue-jyutping, zh-yue-jyutping),
            :lang(zh-Latn, ja-Latn, ko-Latn),
            :lang(he-Latn, hbo-Latn),
            :lang(el-Latn, grc-Latn) {
              direction: ltr; /* Be sure to also set dir="ltr" in HTML. */ /* needed because :lang(C) is a wildcard match */
              font-language-override: normal; /* needed because :lang(C) is a wildcard match */
              font-style: revert;
              font-synthesis: revert;
            }
          }
        /* END: :lang(C, C, C) */

        /* BGN: :lang("\*-C") */
          @supports (not (selector(:lang("\*-jyutping", "\*-Latn")))) and (selector(:lang("\*-Latn"))) {
            :lang(\*-jyutping),
            :lang(\*-Latn) {
              direction: ltr; /* Be sure to also set dir="ltr" in HTML. */ /* needed because :lang(C) is a wildcard match */
              font-language-override: normal; /* needed because :lang(C) is a wildcard match */
              font-style: revert;
              font-synthesis: revert;
            }
          }
        /* END: :lang("\*-C") */
      /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

      /* BGN: :lang("\*-C", "\*-C", "\*-C") */
        @supports (selector(:lang("\*-jyutping", "\*-Latn"))) and (selector(:lang("\*-Latn"))) {
          :lang(\*-jyutping, \*-Latn) {
            direction: ltr; /* Be sure to also set dir="ltr" in HTML. */ /* needed because :lang(C) is a wildcard match */
            font-language-override: normal; /* needed because :lang(C) is a wildcard match */
            font-style: revert;
            font-synthesis: revert;
          }
        }
      /* END: :lang("\*-C", "\*-C", "\*-C") */
    /* END: Latin script */

    /* BGN: Hangeul (script) */
      /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
        @supports not ((selector(:lang(phi-Hang, fil-Hang))) and (selector(:lang("\*-Hang")))) {
          :lang(pag-Hang), :lang(pam-Hang), :lang(war-Hang), :lang(bik-Hang), :lang(hil-Hang), :lang(ilo-Hang), :lang(ceb-Hang),
          :lang(tbw-Hang), :lang(bku-Hang), :lang(hnn-Hang), :lang(tl-Hang),
          :lang(phi-Hang), :lang(fil-Hang) {
            direction: ltr; /* Be sure to also set dir="ltr" in HTML. */ /* needed because :lang(C) is a wildcard match */
            font-language-override: "PIL"; /* needed because :lang(C) is a wildcard match */
            font-style: normal; /* ensure there are no italic and oblique styles */
            font-synthesis: weight; /* only allow 'bold' synthesis */
            font-variant-east-asian: full-width;
          }
        }

        /* BGN: :lang(C, C, C) */
          @supports (selector(:lang(phi-Hang, fil-Hang))) and (not (selector(:lang("\*-Hang")))) {
            :lang(pag-Hang, pam-Hang, war-Hang, bik-Hang, hil-Hang, ilo-Hang, ceb-Hang),
            :lang(tbw-Hang, bku-Hang, hnn-Hang, tl-Hang),
            :lang(phi-Hang, fil-Hang) {
              direction: ltr; /* Be sure to also set dir="ltr" in HTML. */ /* needed because :lang(C) is a wildcard match */
              font-language-override: "PIL"; /* needed because :lang(C) is a wildcard match */
              font-style: normal; /* ensure there are no italic and oblique styles */
              font-synthesis: weight; /* only allow 'bold' synthesis */
              font-variant-east-asian: full-width;
            }
          }
        /* END: :lang(C, C, C) */
      /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

      /* BGN: :lang("\*-C") */
        @supports selector(:lang("\*-Hang")) {
          :lang(\*-Hang) {
            direction: ltr; /* Be sure to also set dir="ltr" in HTML. */ /* needed because :lang(C) is a wildcard match */
            font-language-override: normal; /* needed because :lang(C) is a wildcard match */
            font-style: normal; /* ensure there are no italic and oblique styles */
            font-synthesis: weight; /* only allow 'bold' synthesis */
            font-variant-east-asian: full-width;
          }
        }
      /* END: :lang("\*-C") */
    /* END: Hangeul (script) */
  /******************
  ** END: :lang(C) **
  ******************/

  /*****************
  ** BGN: Generic **
  *****************/
    div, aside, section,
    nav, main, article,
    footer {
      display: block flow;
    }
  /*****************
  ** END: Generic **
  *****************/

  /****************
  ** BGN: Tables **
  ****************/
    /* not tested yet
    table[align="center"] > caption {
      margin-inline: auto;
    }
    table[align="center"] > caption[align="right"]:dir(rtl),
    table[align="center"] > caption[align="left"]:dir(ltr) {
      margin-inline-end: 0;
    }
    table[align="center"] > caption[align="left"]:dir(rtl),
    table[align="center"] > caption[align="right"]:dir(ltr) {
      margin-inline-start: 0;
    }
    */
  /****************
  ** END: Tables **
  ****************/

  /******************
  ** BGN: Headings **
  ******************/
    /**
      * NOTES:
      *   - font-size changes
      *   - <h1> remains 2.00em & <h6> is 1.00em
      *     - This prevents h5 & h6 smaller than default font-size.
      *     - Skipping heading ranks is strongly discouraged for a11y.
      *       - See: https://www.w3.org/WAI/tutorials/page-structure/headings/
      *       - To use h5 & h6 other than as a proper heading hierarchy is
      *           against accessibility (a11y).
      *   - scaling if inside article, aside, nav, and section, is disabled
      *     - In Firefox, it only works for h1.
      *     - It makes everything weird if not set for h2–h6.
      *     - Disabling entirely allows for consistent h1–h6 font-size
      *         expectation.
    **/
    header, hgroup {
      display: block flow;
    }
    header, hgroup,
    thead, th {
      text-wrap: balance;
    }

    h1, h2, h3, h4, h5, h6 {
      display: block flow;
      font-weight: 700;
      line-height: 1.2;
      text-wrap: balance;
    }

    h1 {
      font-size: 2.00em; /* 2.00em */
      /* margin-block: 0.67em; */
    }

    /* to make h1 scale if inside these elements, uncomment the following
    :where(article, aside, nav, section) h1,
    */
    h2 {
      font-size: 1.67em; /* 1.50em */
      /* margin-block: 0.78em; */
    }

    /* to make h1 & h2 scale if inside these elements, uncomment the following
    :where(article, aside, nav, section) :where(article, aside, nav, section) h1,
    :where(article, aside, nav, section) h2,
    */
    h3 {
      font-size: 1.52em; /* 1.17em */
      /* margin-block: 0.89em; */
    }

    /* to make h1–h3 scale if inside these elements, uncomment the following
    :where(article, aside, nav, section) :where(article, aside, nav, section) :where(article, aside, nav, section) h1,
    :where(article, aside, nav, section) :where(article, aside, nav, section) h2,
    :where(article, aside, nav, section) h3,
    */
    h4 {
      font-size: 1.33em; /* 1.00em */
      /* margin-block: 1.01em; */
    }

    /* to make h1–h4 scale if inside these elements, uncomment the following
    :where(article, aside, nav, section) :where(article, aside, nav, section) :where(article, aside, nav, section) :where(article, aside, nav, section) h1,
    :where(article, aside, nav, section) :where(article, aside, nav, section) :where(article, aside, nav, section) h2,
    :where(article, aside, nav, section) :where(article, aside, nav, section) h3,
    :where(article, aside, nav, section) h4,
    */
    h5 {
      font-size: 1.17em; /* 0.83em */
      /* margin-block: 1.11em; */
    }

    /* to make h1–h5 scale if inside these elements, uncomment the following
    :where(article, aside, nav, section) :where(article, aside, nav, section) :where(article, aside, nav, section) :where(article, aside, nav, section) :where(article, aside, nav, section) h1,
    :where(article, aside, nav, section) :where(article, aside, nav, section) :where(article, aside, nav, section) :where(article, aside, nav, section) h2,
    :where(article, aside, nav, section) :where(article, aside, nav, section) :where(article, aside, nav, section) h3,
    :where(article, aside, nav, section) :where(article, aside, nav, section) h4,
    :where(article, aside, nav, section) h5,
    */
    h6 {
      font-size: 1.00em; /* 0.67em */
      /* margin-block: 1.33em; */
    }
  /******************
  ** END: Headings **
  ******************/

  /***************
  ** BGN: Lists **
  ***************/
    /**
      * NOTES:
      *   - To ensure lists are announced as lists, include role="list" to <ol>
      *       and <ul> elements, especially if the list is not nested in a
      *       <nav>.
      *   - This restores list semantics without affecting the design.
      *   - See: https://developer.mozilla.org/en-US/docs/Web/CSS/list-style#accessibility_concerns
    **/

    dl {
      counter-reset: dl-dd;
      display: block flow;
      margin-block: 1em; /* default */ /* YOO: can we safely remove this since it's a UA default? */
    }
    dt {
      display: run-in flow;
    }
    /* BGN: styling multiple terms */
      dt:has(+ dt)::after {
        content: ", ";
      }
      dt:has(+ dd)::after {
        content: ": ";
      }
    /* END: styling multiple terms */
    dd {
      display: block flow;
      margin-inline-start: 40px; /* default */ /* YOO: can we safely remove this since it's a UA default? */
    }
    /* BGN: styling multiple definitions */
      dt + dd::before {
        counter-set: dl-dd 1;
        counter-increment: dl-dd;
        content: "(" counter(dl-dd) ") ";
      }
      dd + dd::before {
        counter-increment: dl-dd;
        content: "(" counter(dl-dd) ") ";
      }
    /* END: styling multiple definitions */
    dl p:first-child {
      display: inline flow;
    }

    /* Revert “The New CSS Reset” */
    /*
    menu, ol, ul {
      list-style: revert;
    }
    */
    menu, ol, ul {
      display: block flow;
      list-style-position: outside; /* YOO: is 'inside' better? */
    }
    ol {
      /**
        * SEE: https://bugzilla.mozilla.org/show_bug.cgi?id=1881517 (2024-02-22)
        *
        * Firefox implements CSS lists using CSS counters as per spec, so you're
        *   really resetting https://searchfox.org/mozilla-central/rev/a8cc31504a2379bcf8ba395d2da7bb632b5521d6/layout/style/res/html.css#570.
        * The issue is that other browsers don't implement html lists using CSS.
        *
        * As of 2024-04-23: https://searchfox.org/mozilla-central/source/layout/style/res/html.css
        *   Not missing in Firefox. The issue is Chromium-based browsers are doing it wrong.
      **/
      counter-reset: list-item;
    }

    /** BGN: ul & menu: Level 0–4 **/
      /* Sequence: disc > circle > square > disc > circle > circle */
      :where(menu, ul) {
        list-style-type: disc;
      }
      :where(menu, ol, ul) :where(menu, ul) {
        list-style-type: circle;
      }
      :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ul) {
        list-style-type: square;
      }
      :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ul) {
        list-style-type: disc;
      }
      :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ul) {
        list-style-type: circle;
      }
    /** END: ul & menu: Level 0–4 **/

    /** BGN: ol (decimal): Levels 0–4 **/
      /* Sequence: 1. > a. > i. > 1. > a. > a. */
      ol {
        list-style-type: decimal;
      }
      :where(menu, ol, ul) ol {
        list-style-type: lower-latin;
      }
      :where(menu, ol, ul) :where(menu, ol, ul) ol {
        list-style-type: lower-roman;
      }
      :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ol, ul) ol {
        list-style-type: decimal;
      }
      :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ol, ul) ol {
        list-style-type: lower-latin;
      }
    /** END: ol (decimal): Levels 0–4 **/

    /** BGN: ol (upper-latin): Levels 0–5 **/
      /* Sequence: A. > 1. > a. > i. > 1. > a. > a.
          * upper-latin is not repeated
      */
      ol.upper-latin {
        list-style-type: upper-latin;
      }
      :where(menu, ol, ul) ol.upper-latin {
        list-style-type: decimal;
      }
      :where(menu, ol, ul) :where(menu, ol, ul) ol.upper-latin {
        list-style-type: lower-latin;
      }
      :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ol, ul) ol.upper-latin {
        list-style-type: lower-roman;
      }
      :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ol, ul) ol.upper-latin {
        list-style-type: decimal;
      }
      :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ol, ul) ol.upper-latin {
        list-style-type: lower-latin;
      }
    /** END: ol (upper-latin): Levels 0–5 **/

    /** BGN: ol (roman & latin): Levels 0–5 **/
      /* Sequence: I. > A. > i. > a. > i. > a. > a.
          * upper-roman and upper-latin are not repeated
      */
      ol.rotin {
        list-style-type: upper-roman;
      }
      :where(menu, ol, ul) ol.rotin {
        list-style-type: upper-latin;
      }
      :where(menu, ol, ul) :where(menu, ol, ul) ol.rotin {
        list-style-type: lower-roman;
      }
      :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ol, ul) ol.rotin {
        list-style-type: lower-latin;
      }
      :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ol, ul) ol.rotin {
        list-style-type: lower-roman;
      }
      :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ol, ul) :where(menu, ol, ul) ol.rotin {
        list-style-type: lower-latin;
      }
    /** END: ol (roman & latin): Levels 0–5 **/

    /** Ensures nested lists have zero block margins **/
      :where(dl, menu, ol, ul) :where(dl, menu, ol, ul) {
        margin-block: 0;
      }

    /** BGN: menu styles **/
      nav.menu-flex :is(menu, ol, ul) {
        display: inline flex;
        flex-wrap: wrap;
        column-gap: 0.25rem;
        list-style-type: none;
      }
    /** END: menu styles **/
  /***************
  ** END: Lists **
  ***************/

  /**************
  ** BGN: Text **
  **************/
    p {
      display: block flow;
      margin-block-end: 1em; /* default */ /* YOO: can we safely remove this since it's a UA default? */
      text-wrap: pretty;
    }

    address {
      /* display: block flow; */
      display: inline flow-root; /* YOO: this makes more sense in our cultural style for addresses */
      font-style: normal;
    }

    blockquote {
      display: block flow;
      text-wrap: balance;
    }

    caption {
      text-wrap: balance;
    }

    :where(b, strong, i, em, ins, del, s, small, sup, sub, mark) {
      display: inline flow;
    }
    b, strong {
      font-weight: bolder;
    }
    small {
      font-size: 0.8em;
    }
    sup, sub {
      font-size: 0.75em;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
    }
    sup {
      inset-block-start: -0.5em;
    }
    sub {
      inset-block-end: -0.25em;
    }

    abbr {
      display: inline flow;
      cursor: help;
      text-decoration: underline dotted;
    }

    dfn,
    cite, q,
    span {
      display: inline flow;
    }
  /**************
  ** END: Text **
  **************/

  /************************
  ** BGN: Details family **
  ************************/
    details {
      display: block flow;
    }
    summary {
      display: list-item; /* YOO: some UAs set this to 'block flow' */
      /* list-style: revert; */ /* Revert “The New CSS Reset” */
    }
  /************************
  ** END: Details family **
  ************************/

  /************************
  ** BGN: Images, Videos **
  ************************/
    figure, figcaption {
      display: block flow;
      text-wrap: balance;
    }

    canvas, picture,
    img, svg,
    video {
      display: block flow;
      max-inline-size: 100%;
      max-block-size: 100%;
    }
  /************************
  ** END: Images, Videos **
  ************************/

  /**************************
  ** BGN: Monospace family **
  **************************/
    pre {
      display: block flow;
      margin-block: 1em; /* default */ /* YOO: can we safely remove this since it's a UA default? */
      font-size: 1em; /* YOO: do we need this since it's our default? */
    }
    code, kbd, samp, var {
      display: inline flow;
      font-size: 1em; /* YOO: do we need this since it's our default? */
    }
  /**************************
  ** END: Monospace family **
  **************************/

  /*********************
  ** BGN: Quote marks **
  *********************/
    /**
      * NOTES:
      *   It's 2024 and Chromium is still NOT supporting:
      *     1. :lang(C, C) = comma-separated lang codes
      *     2. :lang(\*-C) = wildcard matching of lang codes
      *
      * USAGE:
      *   .quote--name = <span></span>
      *     - channel name, TV network, brand/company name, author name,
      *         band name, singer name
      *   .quote--title = <cite></cite>
      *     - movies, television, radio shows, books, periodicals, databases,
      *         websites
      *     - old print: underline
      *     - digital style: italicized
      *   .quote--work = <q></q>
      *     - episodes, articles, essays, chapters, poems, songs, speeches
    **/

    /* BGN: Regular <q> */
      /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
        @supports not (selector(:lang(phi, fil, en-PH))) {
          :lang(en),
          :lang(he) {
            quotes: "\201C" "\201D" "\2018" "\2019"; /* “ ” ‘ ’ */
          }
          :lang(el) {
            quotes: "\00AB" "\00BB" "\201C" "\201D"; /* « » “ ” */
          }
          :lang(yue-Hans), :lang(zh-Hans),
          :lang(yue-Hant), :lang(zh-Hant),
          :lang(ja) {
            quotes: "\300C" "\300D" "\300E" "\300F"; /* 「 」 『 』 */
          }
          :lang(ko) {
            quotes: "\300A" "\300B" "\3008" "\3009"; /* 《 》 〈 〉 */
          }
          :lang(pag), :lang(pam), :lang(war), :lang(bik), :lang(hil), :lang(ilo), :lang(ceb),
          :lang(tbw), :lang(bku), :lang(hnn), :lang(tl),
          :lang(phi), :lang(fil),
          :lang(en-PH) {
            quotes: "\00AB" "\00BB" "\2039" "\203A"; /* « » ‹ › */
          }
        }
      /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

      @supports selector(:lang(phi, fil, en-PH)) {
        :lang(en, he) {
          quotes: "\201C" "\201D" "\2018" "\2019"; /* “ ” ‘ ’ */
        }
        :lang(el) {
          quotes: "\00AB" "\00BB" "\201C" "\201D"; /* « » “ ” */
        }
        :lang(yue-Hans, zh-Hans, yue-Hant, zh-Hant, ja) {
          quotes: "\300C" "\300D" "\300E" "\300F"; /* 「 」 『 』 */
        }
        :lang(ko) {
          quotes: "\300A" "\300B" "\3008" "\3009"; /* 《 》 〈 〉 */
        }
        :lang(pag, pam, war, bik, hil, ilo, ceb),
        :lang(tbw, bku, hnn, tl),
        :lang(phi, fil, en-PH) {
          quotes: "\00AB" "\00BB" "\2039" "\203A"; /* « » ‹ › */
        }
      }
    /* END: Regular <q> */

    .quote--name {
      text-transform: capitalize;
    }

    /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
      @supports not (selector(:lang(phi, fil, en-PH))) {
        :lang(yue) .quote--title,
        :lang(zh) .quote--title,
        :lang(ja) .quote--title,
        :lang(ko) .quote--title {
          quotes: "\300A" "\300B" "\3008" "\3009"; /* 《 》 〈 〉 */
        }
        /* Philippine major languages */
        :lang(pag) .quote--title, :lang(pam) .quote--title, :lang(war) .quote--title, :lang(bik) .quote--title, :lang(hil) .quote--title, :lang(ilo) .quote--title, :lang(ceb) .quote--title,
        :lang(tbw) .quote--title, :lang(bku) .quote--title, :lang(hnn) .quote--title, :lang(tl) .quote--title,
        :lang(phi) .quote--title, :lang(fil) .quote--title,
        :lang(en-PH) .quote--title {
          quotes: "\00AB" "\00BB" "\2039" "\203A"; /* « » ‹ › */
        }

        :lang(yue) .quote--work,
        :lang(zh) .quote--work,
        :lang(ja) .quote--work,
        :lang(ko) .quote--work,
        /* Philippine major languages */
        :lang(pag) .quote--work, :lang(pam) .quote--work, :lang(war) .quote--work, :lang(bik) .quote--work, :lang(hil) .quote--work, :lang(ilo) .quote--work, :lang(ceb) .quote--work,
        :lang(tbw) .quote--work, :lang(bku) .quote--work, :lang(hnn) .quote--work, :lang(tl) .quote--work,
        :lang(phi) .quote--work, :lang(fil) .quote--work,
        :lang(en-PH) .quote--work {
          quotes: "\300C" "\300D" "\300E" "\300F"; /* 「 」 『 』 */
        }

        :lang(yue) :where(.quote--title, .quote--work)::before,
        :lang(zh) :where(.quote--title, .quote--work)::before,
        :lang(ja) :where(.quote--title, .quote--work)::before,
        :lang(ko) :where(.quote--title, .quote--work)::before,
        /* Philippine major languages */
        :lang(pag) :where(.quote--title, .quote--work)::before, :lang(pam) :where(.quote--title, .quote--work)::before, :lang(war) :where(.quote--title, .quote--work)::before, :lang(bik) :where(.quote--title, .quote--work)::before, :lang(hil) :where(.quote--title, .quote--work)::before, :lang(ilo) :where(.quote--title, .quote--work)::before, :lang(ceb) :where(.quote--title, .quote--work)::before,
        :lang(tbw) :where(.quote--title, .quote--work)::before, :lang(bku) :where(.quote--title, .quote--work)::before, :lang(hnn) :where(.quote--title, .quote--work)::before, :lang(tl) :where(.quote--title, .quote--work)::before,
        :lang(phi) :where(.quote--title, .quote--work)::before, :lang(fil) :where(.quote--title, .quote--work)::before,
        :lang(en-PH) :where(.quote--title, .quote--work)::before {
          content: open-quote;
        }

        :lang(yue) :where(.quote--title, .quote--work)::after,
        :lang(zh) :where(.quote--title, .quote--work)::after,
        :lang(ja) :where(.quote--title, .quote--work)::after,
        :lang(ko) :where(.quote--title, .quote--work)::after,
        /* Philippine major languages */
        :lang(pag) :where(.quote--title, .quote--work)::after, :lang(pam) :where(.quote--title, .quote--work)::after, :lang(war) :where(.quote--title, .quote--work)::after, :lang(bik) :where(.quote--title, .quote--work)::after, :lang(hil) :where(.quote--title, .quote--work)::after, :lang(ilo) :where(.quote--title, .quote--work)::after, :lang(ceb) :where(.quote--title, .quote--work)::after,
        :lang(tbw) :where(.quote--title, .quote--work)::after, :lang(bku) :where(.quote--title, .quote--work)::after, :lang(hnn) :where(.quote--title, .quote--work)::after, :lang(tl) :where(.quote--title, .quote--work)::after,
        :lang(phi) :where(.quote--title, .quote--work)::after, :lang(fil) :where(.quote--title, .quote--work)::after,
        :lang(en-PH) :where(.quote--title, .quote--work)::after {
          content: close-quote;
        }
      }
    /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

    @supports selector(:lang(phi, fil, en-PH)) {
      :lang(yue, zh, ja, ko) .quote--title {
        quotes: "\300A" "\300B" "\3008" "\3009"; /* 《 》 〈 〉 */
      }
      /* Philippine major languages */
      :lang(pag, pam, war, bik, hil, ilo, ceb) .quote--title,
      :lang(tbw, bku, hnn, tl) .quote--title,
      :lang(phi, fil, en-PH) .quote--title {
        quotes: "\00AB" "\00BB" "\2039" "\203A"; /* « » ‹ › */
      }

      :lang(yue, zh, ja, ko) .quote--work,
      /* Philippine major languages */
      :lang(pag, pam, war, bik, hil, ilo, ceb) .quote--work,
      :lang(tbw, bku, hnn, tl) .quote--work,
      :lang(phi, fil, en-PH) .quote--work {
        quotes: "\300C" "\300D" "\300E" "\300F"; /* 「 」 『 』 */
      }

      :lang(yue, zh, ja, ko) :where(.quote--title, .quote--work)::before,
      /* Philippine major languages */
      :lang(pag, pam, war, bik, hil, ilo, ceb) :where(.quote--title, .quote--work)::before,
      :lang(tbw, bku, hnn, tl) :where(.quote--title, .quote--work)::before,
      :lang(phi, fil, en-PH) :where(.quote--title, .quote--work)::before {
        content: open-quote;
      }

      :lang(yue, zh, ja, ko) :where(.quote--title, .quote--work)::after,
      /* Philippine major languages */
      :lang(pag, pam, war, bik, hil, ilo, ceb) :where(.quote--title, .quote--work)::after,
      :lang(tbw, bku, hnn, tl) :where(.quote--title, .quote--work)::after,
      :lang(phi, fil, en-PH) :where(.quote--title, .quote--work)::after {
        content: close-quote;
      }
    }
  /*********************
  ** END: Quote marks **
  *********************/

  /*************************
  ** BGN: Ruby Annotation **
  *************************/
    /**
      * As of 2024-02-07.
      *
      * We are declaring most of these due to lack of support in browsers.
      * Once CSS Ruby is fully supported, we can remove these base declarations.
      *
      * See:
      *   1. https://www.w3.org/TR/css-ruby-1/ || https://drafts.csswg.org/css-ruby-1/
      *   2. https://www.w3.org/TR/html-ruby-extensions/ || https://w3c.github.io/html-ruby/
      *   3. https://www.w3.org/International/articles/ruby/markup.en
      *   4. https://w3c.github.io/i18n-tests/results/css-ruby
      *
      * display: ruby-*
      *   - see:
      *       1. https://caniuse.com/?search=display%3A+ruby
      *       2. https://www.w3.org/TR/css-display-3/#propdef-display
    **/

    /* BGN: <ruby> shim */
      /**
        * NOTES:
        *
        *   As per:
        *     - https://www.w3.org/TR/css-ruby-1/
        *     - https://drafts.csswg.org/css-ruby-1/
      **/

      /* BGN: Basic */
        ruby {
          display: ruby; /* backwards-compatibility */
          display: inline ruby;
        }

        /**
          * NOTES:
          *   - <rbc> is in W3C Working Draft.
          *     - see: https://www.w3.org/TR/css-ruby-1/
          *   - NOT IMPLEMENTED in Chromium; but works in Firefox.
          *     - see: https://caniuse.com/?search=rbc
          *   - temporary workaround: .ruby-base-container
        **/
          .ruby-base-container,
          rbc {
            display: ruby-base-container;
          }
        /* */

        /**
          * NOTES:
          *   - <rb> is highly recommended by the W3C.
          *     - But the HTML5 WG marked this as deprecated which MUST be
          *         corrected!
          *     - see: https://www.w3.org/TR/css-ruby-1/
          *   - PROBLEMATIC in Chromium-based browsers.
          *     - see: https://caniuse.com/?search=rb
          *   - temporary workaround: .ruby-base
        **/
          .ruby-base,
          rb {
            display: ruby-base;
            white-space: nowrap; /* default */ /* YOO: can we safely remove this since it's a UA default? */
          }
        /* */

        /**
          * NOTES:
          *   - <rtc> is very useful for multilingual Asian websites.
          *     - But the HTML5 WG marked this as deprecated which MUST be
          *         corrected!
          *     - see: https://www.w3.org/TR/css-ruby-1/
          *   - IMPLEMENTED in all browsers.
          *     - but USELESS in Chromium-based browsers
          *       - when <rt> is a child of any element, it stops working correctly!
          *     - see: https://caniuse.com/?search=rtc
        **/
          .ruby-text-container,
          rtc {
            display: ruby-text-container;
            ruby-merge: auto;
            ruby-overhang: auto;
            ruby-position: over; /* backwards-compatibility */
            ruby-position: alternate;
          }
        /* */

        /* Annotation */
          .ruby-text,
          rt {
            display: ruby-text;
            font-size: 0.7rem;
          }
        /* */

        /* For fallback parentheses only. */
          rp {
            display: none;
          }
        /* */

        /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
          @supports not (ruby-align: center) {
            /* ruby, */ /* Don't */
            .ruby-base-container, .ruby-base, .ruby-text-container, .ruby-text,
            rbc, rb, rtc, rt {
              text-align: center;
            }
          }
        /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
        @supports (ruby-align: center) {
          .ruby-base-container, .ruby-base, .ruby-text-container, .ruby-text,
          rbc, rb, rtc, rt {
            ruby-align: center; /* better than the default ‘start’ */
            /* text-transform: full-size-kana; */ /* YOO: needed? */
          }
        }
      /* END: Basic */

      /* BGN: font-variant-east-asian */
        ruby,
        .ruby-base-container, .ruby-base, .ruby-text-container, .ruby-text,
        rbc, rb, rtc, rt {
          font-variant-east-asian: full-width ruby;
          unicode-bidi: isolate; /* default */ /* YOO: can we safely remove this since it's a UA default? */
        }
        ruby:lang(zh-Hans),
        :where(.ruby-base-container, .ruby-base, .ruby-text-container, .ruby-text):lang(zh-Hans),
        :where(rbc, rb, rtc, rt):lang(zh-Hans) {
          font-variant-east-asian: simplified full-width ruby;
        }
        ruby:lang(zh-Hant),
        :where(.ruby-base-container, .ruby-base, .ruby-text-container, .ruby-text):lang(zh-Hant),
        :where(rbc, rb, rtc, rt):lang(zh-Hant) {
          font-variant-east-asian: traditional full-width ruby;
        }
        ruby:lang(ja),
        :where(.ruby-base-container, .ruby-base, .ruby-text-container, .ruby-text):lang(ja),
        :where(rbc, rb, rtc, rt):lang(ja) {
          font-variant-east-asian: jis04 full-width ruby;
        }
      /* END: font-variant-east-asian */
    /* END: <ruby> shim */

    .ruby-text-container, .ruby-text,
    rtc, rt {
      /* line-height: 1; */ /* default */ /* YOO: can we safely remove this since it's a UA default? */
      /* text-emphasis: none; */ /* default */ /* YOO: can we safely remove this since it's a UA default? */
      white-space: nowrap; /* default */ /* YOO: can we safely remove this since it's a UA default? */
    }

    /* BGN: suggested by W3C */
      /*
      .ruby-text-container,
      :not(.ruby-text-container) > .ruby-text,
      :not(.ruby-text-container) > rt,
      rtc,
      :not(rtc) > .ruby-text,
      :not(rtc) > rt {
        font-size: 50%;
      }
      rtc:lang(zh-TW),
      :not(rtc) > .ruby-text:lang(zh-TW),
      :not(rtc) > rt:lang(zh-TW),
      rtc:lang(zh-Hanb),
      :not(rtc) > .ruby-text:lang(zh-Hanb),
      :not(rtc) > rt:lang(zh-Hanb) {
        font-size: 30%;
      }
      */
    /* END: suggested by W3C */

    /* BGN: Ruby Classes */
      /* BGN: ruby-align classes (<rtb>, <rb>, <rtc>, <rt>) */
        .ruby-align--center {
          ruby-align: center;
        }
        .ruby-align--space-around { /* initial value */
          ruby-align: space-around;
        }
        .ruby-align--space-between {
          ruby-align: space-between;
        }
        .ruby-align--start {
          ruby-align: start;
        }
      /* END: ruby-align classes (<rtb>, <rb>, <rtc>, <rt>) */

      /* BGN: ruby-merge (<rtc>) */
        .ruby-merge--auto {
          ruby-merge: auto;
        }
        .ruby-merge--merge {
          ruby-merge: merge;
        }
        .ruby-merge--separate { /* initial */
          ruby-merge: separate;
        }
      /* END: ruby-merge (<rtc>) */

      /* BGN: ruby-overhang (<rtc>) */
        .ruby-overhang--auto { /* initial */
          ruby-overhang: auto;
        }
        .ruby-overhang--none {
          ruby-overhang: none;
        }
      /* END: ruby-overhang (<rtc>) */

      /* BGN: ruby-position classes (<rtc>) */
        .ruby-position--alternate { /* initial value and best */
          ruby-position: alternate;
        }
        .ruby-position--inter-character {
          ruby-position: inter-character;
        }
        .ruby-position--over { /* default setting in major browsers */
          ruby-position: over;
        }
        .ruby-position--under {
          ruby-position: under;
        }
      /* END: ruby-position classes (<rtc>) */
    /* END: Ruby Classes */

    /* BGN: Colours */
      /**
        * NOTES:
        *   - Works for Tabular and Interleaved models.
        *
      **/
      /* RUBY BASE */
        /*
        .ruby-base,
        rb {
          color: purple;
        }
        */

      /* RUBY OVER */
        ruby > rb > ruby > rt,
        ruby > rb > ruby > rt > ruby > .ruby-base,
        ruby > rb > ruby > rt > ruby > rb,
        ruby > .ruby-text-container:nth-of-type(odd) > rt,
        ruby > .ruby-text-container:nth-of-type(odd) > rt > ruby > rb,
        ruby > rtc:nth-of-type(odd) > rt,
        ruby > rtc:nth-of-type(odd) > rt > ruby > rb
        {
          color: var(--color-green);
        }

      /* RUBY BELOW */
        ruby > rt,
        ruby > rt > ruby > .ruby-base,
        ruby > rt > ruby > rb,
        ruby > .ruby-text-container:nth-of-type(even) > rt,
        ruby > .ruby-text-container:nth-of-type(even) > rt > ruby > rb,
        ruby > rtc:nth-of-type(even) > rt,
        ruby > rtc:nth-of-type(even) > rt > ruby > rb
        {
          color: var(--color-magenta);
        }

      /* RUBY OVER OVER and RUBY BELOW BELOW */
        ruby > rt > ruby > rt,
        ruby > .ruby-text-container:nth-of-type(odd) > rt > ruby > rt,
        ruby > .ruby-text-container:nth-of-type(even) > rt > ruby > rt,
        ruby > rtc:nth-of-type(odd) > rt > ruby > rt,
        ruby > rtc:nth-of-type(even) > rt > ruby > rt
        {
          color: var(--color-red);
        }
    /* END: Colours */

    .ruby-guide {
      outline: 1px dotted;
    }
    .ruby-block {
      height: fit-content;
      outline: 1px solid var(--color-orange);
    }
  /*************************
  ** END: Ruby Annotation **
  *************************/

  /**********************
  ** BGN: Interactives **
  **********************/
    button {
      display: inline flow-root;
      font: inherit; /* force to inherit */
      line-height: 1.2;
      text-transform: none;
    }

    label {
      line-height: 1.2;
    }

    progress {
      vertical-align: baseline;
    }

    search {
      display: block flow;
    }

    /* BGN: Form family */
      form,
      legend {
        display: block flow;
      }

      fieldset {
        display: block flow;
        margin-inline: 2px;
      }

      textarea {
        display: inline flow-root;
        font: inherit;
        line-height: 1.2;
        margin-block: 1px; /* default */ /* YOO: can we safely remove this since it's a UA default? */
      }

      input {
        display: inline flow-root;
        font: inherit; /* force to inherit */
        line-height: 1.2;
      }
      input[type="checkbox"] {
        margin-inline: 4px 3px;
        margin-block: 3px;
      }
      input[type="radio"] {
        margin-inline: 5px 3px;
        margin-block: 3px 0;
      }
      input[type="range"] {
        margin-inline: 2px;
        margin-block: 2px;
      }
      input[type="file"] > label {
        display: inline flow-root;
      }
    /* END: Form family */

    /* BGN: Select family */
      optgroup {
        font: inherit;
        line-height: 1.2;
      }
      optgroup, optgroup::before,
      option {
        display: block flow;
      }
      select {
        display: inline flow-root;
        font: inherit;
        line-height: 1.2;
        text-transform: none;
      }
    /* END: Select family */
  /**********************
  ** END: Interactives **
  **********************/

  /*********************************
  ** BGN: Pop-up dialogs / modals **
  *********************************/
    dialog {
      display: block flow;
      margin-inline: auto;
      margin-block: auto;
    }
    ::backdrop { /* YOO: do we need this? */
      display: block flow;
    }
  /*********************************
  ** END: Pop-up dialogs / modals **
  *********************************/

  /**************
  ** BGN: a11y **
  **************/
    /*
    del::before {
      content: " [deletion start] ";
    }
    del::after {
      content: " [deletion end] ";
    }
    s::before {
      content: " [start of stricken text] ";
    }
    s::after {
      content: " [end of stricken text] ";
    }
    */
  /**************
  ** END: a11y **
  **************/

  /**************
  ** BGN: Last **
  **************/
    hr {
      block-size: 0;
      border-block-start-width: 1px;
      box-sizing: content-box;
      clear: both;
      color: currentColor;
      margin-inline: auto;
      margin-block: 0.5em;
    }

    /* OpenType Superscript (sups) */
      sup, .superscript {
        font-variant-position: super;
      }

    /* OpenType Subscript (subs) */
      sub, .subscript {
        font-variant-position: sub;
      }

    /* Fractions */
      .fractions {
        font-variant-numeric: oldstyle-nums diagonal-fractions slashed-zero;
      }

    body :is(.smiley, .emoticon, .emoji) {
      display: inline flow;
      font-synthesis: none; /* do not allow any synthesis */
        font-style: normal; /* ensure there are no italic and oblique styles */
        font-weight: normal;  /* ensure there is no bold weight */
      text-decoration: none; /* ensure there are no inherited decoration styles */
      text-shadow: none; /* ensure there are no inherited shadow effects */
      inline-size: 1em;
      block-size: 1em;
      margin-inline: .1em .05em;
      margin-block: 0;
      vertical-align: initial;
    }
    @supports (font-variant-emoji: unicode) {
      body :is(.smiley, .emoticon, .emoji) {
        font-variant-emoji: unicode;
      }
    }
  /**************
  ** END: Last **
  **************/
}
