{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>BGN</b>: <code>/layouts/partials/nav/breadcrumbs.html</code></p>
{{- end }}

<small>
  <nav aria-label="Breadcrumbs" id="breadcrumbs" class="list-horizontal yp-nav-breadcrumbs">
    <ol>
      {{ range .Ancestors.Reverse }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> &raquo;
        </li>
      {{ end }}
      <li class="active">
        <a aria-current="page">{{ .LinkTitle }}</a>
      </li>
    </ol>
  </nav>
</small>

{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>END</b>: <code>/layouts/partials/nav/breadcrumbs.html</code></p>
{{- end }}
