{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>BGN</b>: <code>/layouts/partials/nav/related.html</code></p>
{{- end }}

{{- /*
  See: https://gohugo.io/content-management/related/
*/}}
<nav aria-label="Related" id="related" class="yp-related">
  <span>1</span>
</nav>

{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>END</b>: <code>/layouts/partials/nav/related.html</code></p>
{{- end }}
