{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>BGN</b>: <code>/layouts/partials/nav/toc.html</code></p>
{{- end }}

{{- /*
  See:  https://gohugo.io/methods/page/fragments/
        https://gohugo.io/methods/page/tableofcontents/
*/}}
{{- $start_level := .Param `toc.level_start` -}}
{{- $end_level := .Param `toc.level_end` -}}
{{- $list_element := .Param `toc.list_element` }}
{{- $list_class := .Param `toc.list_class` -}}
<p>Table of Contents</p>
<nav aria-label="Table of Contents" id="TableOfContents" class="list-vertical yp-nav-toc">
  {{- range .Fragments.Headings }}
    {{ if ge .Level $start_level }}
      {{ if eq $list_element `ol` }}<ol{{ with $list_class }} class="{{ . }}"{{ end }}>{{ else }}<ul{{ with $list_class }} class="{{ . }}"{{ end }}>{{ end }}
        <li><a href="${{ anchorize .ID }}">{{ .Title }}</a></li>
    {{- end }}
        {{- range where .Headings "Level" "le" $end_level }}
          {{ if ge .Level $start_level }}
            {{ if eq $list_element `ol` }}<ol{{ with $list_class }} class="{{ . }}"{{ end }}>{{ else }}<ul{{ with $list_class }} class="{{ . }}"{{ end }}>{{ end }}
              <li><a href="#{{ anchorize .ID }}">{{ .Title }}</a></li>
          {{- end }}
              {{- range where .Headings "Level" "le" $end_level }}
                {{ if ge .Level $start_level }}
                  {{ if eq $list_element `ol` }}<ol{{ with $list_class }} class="{{ . }}"{{ end }}>{{ else }}<ul{{ with $list_class }} class="{{ . }}"{{ end }}>{{ end }}
                    <li><a href="#{{ anchorize .ID }}">{{ .Title }}</a></li>
                {{- end }}
                    {{- range where .Headings "Level" "le" $end_level }}
                      {{ if ge .Level $start_level }}
                        {{ if eq $list_element `ol` }}<ol{{ with $list_class }} class="{{ . }}"{{ end }}>{{ else }}<ul{{ with $list_class }} class="{{ . }}"{{ end }}>{{ end }}
                          <li><a href="#{{ anchorize .ID }}">{{ .Title }}</a></li>
                      {{- end }}
                          {{- range where .Headings "Level" "le" $end_level }}
                            {{ if ge .Level $start_level }}
                              {{ if eq $list_element `ol` }}<ol{{ with $list_class }} class="{{ . }}"{{ end }}>{{ else }}<ul{{ with $list_class }} class="{{ . }}"{{ end }}>{{ end }}
                                <li><a href="#{{ anchorize .ID }}">{{ .Title }}</a></li>
                            {{- end }}
                                {{- range where .Headings "Level" "le" $end_level }}
                                  {{ if eq $list_element `ol` }}<ol{{ with $list_class }} class="{{ . }}"{{ end }}>{{ else }}<ul{{ with $list_class }} class="{{ . }}"{{ end }}>{{ end }}
                                    <li><a href="#{{ anchorize .ID }}">{{ .Title }}</a></li>
                                  {{ if eq $list_element `ol` }}</ol>{{ else }}</ul>{{ end }}
                                {{- end }}
                            {{ if eq .Level $start_level }}
                              {{ if eq $list_element `ol` }}</ol>{{ else }}</ul>{{ end }}
                            {{- end }}
                          {{- end }}
                      {{ if eq .Level $start_level }}
                        {{ if eq $list_element `ol` }}</ol>{{ else }}</ul>{{ end }}
                      {{- end }}
                    {{- end }}
                {{ if eq .Level $start_level }}
                  {{ if eq $list_element `ol` }}</ol>{{ else }}</ul>{{ end }}
                {{- end }}
              {{- end }}
          {{ if eq .Level $start_level }}
            {{ if eq $list_element `ol` }}</ol>{{ else }}</ul>{{ end }}
          {{- end }}
        {{- end }}
    {{ if where .Headings "Level" "lt" $start_level }}
      {{ if eq $list_element `ol` }}</ol>{{ else }}</ul>{{ end }}
    {{- end }}
  {{- end }}
</nav>

{{ if and hugo.IsServer site.Params.devnotes }}
  <p class="notice"><b>END</b>: <code>/layouts/partials/nav/toc.html</code></p>
{{- end }}
